force-app/main/default/flows/Create_Delivery_Line_Item_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Sales_Price</name>
        <label>Assign Sales Price</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference
      >Get_Pricebook_Entries.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_Product_for_Delivery</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Deal_Type</name>
        <label>Check Deal Type</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XSP_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Opportunity_Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xeretec Sales Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_Id</targetReference>
            </connector>
            <label>XSP Deal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile</name>
        <label>Check Profile</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Opp_Product_for_Delivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Sales_Profile</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AoC - Order Processing Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MACD Team - OLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Price</targetReference>
            </connector>
            <label>Not Sales Profile</label>
        </rules>
    </decisions>
    <description>create appropriate line item on create of opp.</description>
    <environments>Default</environments>
    <formulas>
        <name>fProductCode</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Lines_Of_Business__c}),
&quot;Print&quot;,&quot;DEL - MP&quot;,
&quot;Digital Workspace&quot;,&quot;DEL - DW&quot;,
&quot;Unified Communications and Collaboration&quot;,&quot;DEL - CC&quot;,
&quot;Cyber Security&quot;,&quot;DEL - CS&quot;,
&quot;Infrastructure&quot;,&quot;DEL - INF&quot;,
&quot;Intelligent Automation&quot;,&quot;DEL - IA&quot;,
&quot;Managed Service and Support&quot;,&quot;DEL - MSS&quot;,
&quot;Self-Service (SITC)&quot;,&quot;DW-0105&quot;,
&quot;Supplies&quot;,&quot;DEL - SUPP&quot;,
&quot;Software Licensing&quot;,&quot;DEL - S/W LIC&quot;,
null)</expression>
    </formulas>
    <interviewLabel
  >Create Delivery Line Item on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Delivery Line Item on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Product_for_Delivery</name>
        <label>Create Opp Product for Delivery</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Pricebook_Entries.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference
        >Get_Pricebook_Entries.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Condition__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference
        >Get_Pricebook_Entries.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Pricebook_Entries</name>
        <label>Get Pricebook Entries</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pricebook_Id</name>
        <label>Update Pricebook Id</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s4K000005dhNAQAY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Deal_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lines_Of_Business__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Portal_Deal_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
