config/flow-metadata-active/flows/Add_files_to_SOs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Add new link to new array.</description>
        <name>Add_to_array</name>
        <label>Add to array</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>NewDocLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_file_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_ID</name>
        <label>Assign Content ID</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>DocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Doc_IDs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Doc_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create a new record with data.</description>
        <name>AssignLinkProperties</name>
        <label>AssignLinkProperties</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>TempDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDocLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_file_found.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_array</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Docs</name>
        <label>Check Docs</label>
        <locationX>226</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>AssignLinkProperties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>For_each_file_found.ContentDocumentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_file_found</targetReference>
            </connector>
            <label>Contains Doc</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if we have successfully identified the files or not.</description>
        <name>Files_exist</name>
        <label>Files exist?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Documents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Doc_IDs</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Test</description>
    <environments>Default</environments>
    <formulas>
        <name>Time_Taken</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime} - {!$Flow.InterviewStartTime}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TimeTaken</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime} - {!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>Add files to SOs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add files to SOs</label>
    <loops>
        <name>Assign_Doc_IDs</name>
        <label>Assign Doc IDs</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_SO_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_file_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Checks each of the found files.</description>
        <name>For_each_file_found</name>
        <label>For each file found</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Docs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_new_doc_links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the new doc links on the Sales Order</description>
        <name>Create_new_doc_links</name>
        <label>Create new doc links</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <inputReference>NewDocLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets all the documents associated with the Opportunity that is associated with this Sales Order.</description>
        <name>Get_Documents</name>
        <label>Get Documents</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SO_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.link_Opp2SO_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Documents</name>
        <label>Get SO Documents</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Files_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>link_Opp2SO_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SCMC__Sales_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AutomationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewGuid</elementReference>
        </value>
    </variables>
    <variables>
        <name>DocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>New document links to create</description>
        <name>NewDocLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Temporary document link variable.</description>
        <name>TempDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
