config/flow-metadata-active/flows/AGILYX_Set_Task_Collections_Info_to_TLI_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_multi</name>
        <label>add to multi</label>
        <locationX>440</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>transactionMultipleUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_TaskRecordCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Line_item_Update</name>
        <label>Line item Update</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Loop_Filter.agx_Task_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_TaskRecordCollection.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Filter.agx_ff_Task_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_TaskRecordCollection.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Filter.agx_ff_Task_Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateFromDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Filter.agx_ff_Task_Due_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_TaskRecordCollection.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Filter.agx_ff_Task_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filter</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Transactions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Transactions</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Filter_Transactions_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Transaction_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Transactions_0.agx_ff_SIN__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>whatIdFormula</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_duplicate</name>
        <label>Check if duplicate</label>
        <locationX>352</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>add_to_multi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transactionMultipleUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Filter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_TaskRecordCollection</targetReference>
            </connector>
            <label>Duplicated</label>
        </rules>
    </decisions>
    <description>AGILYX Set Task Collections Info to TLI Autolaunched</description>
    <environments>Default</environments>
    <formulas>
        <description>Convert Date and Time to Date</description>
        <name>DateFromDateTime</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Derive Task Owner from Log a Call or Task Assigned To</description>
        <name>TaskOwner</name>
        <dataType>String</dataType>
        <expression>if({!Loop_TaskRecordCollection.OwnerId} != Null, {!Loop_TaskRecordCollection.OwnerId}, {!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>User Full Name Formula</description>
        <name>UserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>whatIdFormula</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!Loop_TaskRecordCollection.WhatId})</expression>
    </formulas>
    <interviewLabel>AGILYX Set Task Collections Info to TLI Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AGILYX Set Task Collections Info to TLI Autolaunched</label>
    <loops>
        <name>Loop_Filter</name>
        <label>Loop Filter</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <collectionReference>Filter_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Line_item_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Look TaskRecordCollection</description>
        <name>Loop_TaskRecordCollection</name>
        <label>Loop TaskRecordCollection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>TaskRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Transactions</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Transaction_Lines</name>
        <label>Get Transaction Lines</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_TaskRecordCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__LineType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaTransactionLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>352</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Check_if_duplicate</targetReference>
        </connector>
        <inputReference>Loop_Filter</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transaction_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Transactions_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaTransactionLineItem__c</objectType>
    </variables>
    <variables>
        <name>SIN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaInvoice__c</objectType>
    </variables>
    <variables>
        <description>Task ID Collection</description>
        <name>TaskIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Task Record Collection</description>
        <name>TaskRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>transactionLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaTransactionLineItem__c</objectType>
    </variables>
    <variables>
        <name>transactionMultipleUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaTransactionLineItem__c</objectType>
    </variables>
</Flow>
