config/flow-metadata-active/flows/Agilyx_Payable_Invoice_on_Hold_Release.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Place Payable Invoice on Hold</description>
        <name>Place_Payable_Invoice_on_Hold</name>
        <label>Place Payable Invoice on Hold</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <actionName>AgxPayableInvoiceHold</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>companyName</name>
            <value>
                <elementReference>$Record.c2g__OwnerCompany__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payableInvoiceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgxPayableInvoiceHold</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check whether PO is fully receipted or Closed. If True, end the Flow</description>
        <name>Is_PO_Fully_Receipted</name>
        <label>Is PO Fully Receipted?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Place_Payable_Invoice_on_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCMFFA__AP_Voucher__r.SCMC__Purchase_Order__r.SCMC__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Payable Invoice placed on Hold or Release based on full or partial receipting of Purchase Orders</description>
    <environments>Default</environments>
    <interviewLabel>Agilyx Payable Invoice on Hold/Release {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agilyx Payable Invoice on Hold</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_PO_Fully_Receipted</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMFFA__AP_Voucher__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>c2g__InvoiceStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agx_Partial_PO_with_Full_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>c2g__codaPurchaseInvoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
