config/flow-metadata-active/flows/All_Companies_House_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Company_House_Profile_Search</name>
        <label>Company House Profile Search</label>
        <locationX>994</locationX>
        <locationY>318</locationY>
        <actionName>comp_house__CompanyHouse_CompanyProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen3_Display_Profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error_Handler</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>companyRegNumber</name>
            <value>
                <elementReference>SelectedCompanyId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>comp_house__CompanyHouse_CompanyProfile</nameSegment>
        <outputParameters>
            <assignToReference>CompanyProfile</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CompanySearchResults123</name>
        <label>Company Search Results</label>
        <locationX>835</locationX>
        <locationY>118</locationY>
        <actionName>comp_house__CompanyHouse_CompanySearch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen2_Display_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error_Handler</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountNames</name>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>comp_house__CompanyHouse_CompanySearch</nameSegment>
        <outputParameters>
            <assignToReference>CompanySearchResults</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Fields_on_Account</name>
        <label>Set Fields on Account</label>
        <locationX>790</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountNameUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.comp_house__Company_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyNumberUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.comp_house__Company_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyStatusUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.comp_house__Company_Jurisdiction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyJurisdictionUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.comp_house__Company_Creation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyCreatedDateUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingStreetUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingCityUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingStateUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingPostalCodeUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingCountryUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Sic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SICUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.comp_house__Company_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyTypeUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRecord.Last_Companies_House_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_on_Account_0</name>
        <label>Set Fields on Account</label>
        <locationX>1333</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecord.Last_Companies_House_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anything_to_Update</name>
        <label>Anything to Update?</label>
        <locationX>988</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>Screen4a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CompanyNumber</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CompanyStatus</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CompanyType</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SicCodes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CompanyCreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CompanyJurisdiction</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Fields_on_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>API_Key_Present</name>
        <label>API Key Present</label>
        <locationX>525</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>No_API_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_API_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomSetting.comp_house__API_Key__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Retrieve_Account_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_result_selected</name>
        <label>Was a result selected?</label>
        <locationX>994</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Screen2_Display_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, a result was not selected</defaultConnectorLabel>
        <rules>
            <name>Yes_a_result_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCompanyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Company_House_Profile_Search</targetReference>
            </connector>
            <label>Yes, a result was selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountNameUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!AccountName} != &apos;&apos;, {!AccountName}, {!CurrentRecord.Name})</expression>
    </formulas>
    <formulas>
        <name>BillingCityUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingCity} != &apos;&apos;, {!BillingCity}, {!CurrentRecord.BillingCity})</expression>
    </formulas>
    <formulas>
        <name>BillingCountryUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingCountry} != &apos;&apos;, {!BillingCountry}, {!CurrentRecord.BillingCountry})</expression>
    </formulas>
    <formulas>
        <name>BillingPostalCodeUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingPostalCode} != &apos;&apos;, {!BillingPostalCode}, {!CurrentRecord.BillingPostalCode})</expression>
    </formulas>
    <formulas>
        <name>BillingStateUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingState} != &apos;&apos;, {!BillingState}, {!CurrentRecord.BillingState})</expression>
    </formulas>
    <formulas>
        <name>BillingStreetUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!BillingStreet} != &apos;&apos;, {!BillingStreet}, {!CurrentRecord.BillingStreet})</expression>
    </formulas>
    <formulas>
        <name>CompanyCreatedDateUpdate</name>
        <dataType>Date</dataType>
        <expression>BLANKVALUE({!CompanyCreatedDate}, {!CurrentRecord.comp_house__Company_Creation_Date__c})</expression>
    </formulas>
    <formulas>
        <name>CompanyJurisdictionUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!CompanyJurisdiction} != &apos;&apos;, {!CompanyJurisdiction}, {!CurrentRecord.comp_house__Company_Jurisdiction__c} )</expression>
    </formulas>
    <formulas>
        <name>CompanyNumberUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!CompanyNumber} != &apos;&apos;, {!CompanyNumber}, {!CurrentRecord.comp_house__Company_Number__c})</expression>
    </formulas>
    <formulas>
        <name>CompanyStatusUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!CompanyStatus} != &apos;&apos;, {!CompanyStatus}, {!CurrentRecord.comp_house__Company_Status__c} )</expression>
    </formulas>
    <formulas>
        <name>CompanyTypeUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!CompanyType} != &apos;&apos;, {!CompanyType}, {!CurrentRecord.comp_house__Company_Type__c} )</expression>
    </formulas>
    <formulas>
        <name>SICUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!SicCodes} != &apos;&apos;, {!SicCodes}, {!CurrentRecord.Sic})</expression>
    </formulas>
    <interviewLabel>All Companies House Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>All Companies House Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_API_Custom_Setting</name>
        <label>Check API Custom Setting</label>
        <locationX>390</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>API_Key_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>comp_house__CompanyHouse__c</object>
        <outputReference>CustomSetting</outputReference>
        <queriedFields>comp_house__API_Key__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Account_Details</name>
        <label>Retrieve Account Details</label>
        <locationX>525</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1_Company_Name_Entry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error_Handler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CurrentRecord</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>comp_house__Company_Number__c</queriedFields>
        <queriedFields>comp_house__Company_Status__c</queriedFields>
        <queriedFields>comp_house__Company_Type__c</queriedFields>
        <queriedFields>comp_house__Company_Creation_Date__c</queriedFields>
        <queriedFields>comp_house__Company_Jurisdiction__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Sic</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>610</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Screen4b_Updated_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error_Handler</targetReference>
        </faultConnector>
        <inputReference>CurrentRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0</name>
        <label>Update Account</label>
        <locationX>1284</locationX>
        <locationY>646</locationY>
        <inputReference>CurrentRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>No_API_Key</name>
        <label>No API Key</label>
        <locationX>667</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAPIKeyTitle</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;There is no API Key provided for the Company House Interface. To fix this go to: https://beta.companieshouse.gov.uk/ &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;and register to gain an API Key. Once you have one, find the &amp;apos;Company House&amp;apos; Custom Setting and click on Manage and add the API Key in the field provided.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1_Company_Name_Entry</name>
        <label>Screen1: Company Name Entry</label>
        <locationX>668</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CompanySearchResults123</targetReference>
        </connector>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_Display_Results</name>
        <label>Screen2: Display Results</label>
        <locationX>993</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_a_result_selected</targetReference>
        </connector>
        <fields>
            <name>Display_Company_Search_Results</name>
            <extensionName>comp_house:CompanyHouse_DisplayCompanySearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>results</name>
                <value>
                    <elementReference>CompanySearchResults</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCompanyId</assignToReference>
                <name>selection</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3_Display_Profile</name>
        <label>Screen3: Display Profile</label>
        <locationX>995</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Anything_to_Update</targetReference>
        </connector>
        <fields>
            <name>DisplayCompanyProfile</name>
            <extensionName>comp_house:CompanyHouse_DisplayCompanyProfileResult</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>results</name>
                <value>
                    <elementReference>CompanyProfile</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountName</assignToReference>
                <name>accountName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyNumber</assignToReference>
                <name>companyNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyStatus</assignToReference>
                <name>companyStatus</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyType</assignToReference>
                <name>companyType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingStreet</assignToReference>
                <name>billingStreet</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingCity</assignToReference>
                <name>billingCity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingState</assignToReference>
                <name>billingState</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingCountry</assignToReference>
                <name>billingCountry</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BillingPostalCode</assignToReference>
                <name>billingPostalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SicCodes</assignToReference>
                <name>sicCodeType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyCreatedDate</assignToReference>
                <name>companyCreatedDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompanyJurisdiction</assignToReference>
                <name>companyJurisdiction</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen4a</name>
        <label>Screen4a: Nothing to Update</label>
        <locationX>1275</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Fields_on_Account_0</targetReference>
        </connector>
        <fields>
            <name>Screen4a_Label</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;There was nothing to update.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen4b_Updated_Account</name>
        <label>Screen4b: Updated Account</label>
        <locationX>425</locationX>
        <locationY>512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Step4b_Banner</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account Updated Successfully!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;HR/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen4b_AccountName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account Name: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen4b_CompanyNumber</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Company Number: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.comp_house__Company_Number__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen4b_CompanyStatus</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Company Status: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.comp_house__Company_Status__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Step4b_CompanyType</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Company Type:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.comp_house__Company_Type__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Step4b_BillingAddress</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Billing Address: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.BillingStreet}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.BillingCity}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.BillingState}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.BillingPostalCode}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.BillingCountry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Step4b_Sic</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;SIC: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.Sic}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Step4b_CreationDate</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Creation Date: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.comp_house__Company_Creation_Date__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Step4b_Jurisdiction</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Jurisdiction: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!CurrentRecord.comp_house__Company_Jurisdiction__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Handler</name>
        <label>Screen Error Handler</label>
        <locationX>718</locationX>
        <locationY>320</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorHandler</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Something went wrong with this flow.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your admin has received an email about this error.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;More details of the error can be found below:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>comp_house__Companies_House_Flow_Template</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_API_Custom_Setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyJurisdiction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyProfile</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanySearchResults</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompanyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CustomSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>comp_house__CompanyHouse__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0011t000002jV27AAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedCompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SicCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
