config/flow-metadata-active/flows/Approve_Pricing_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Array</name>
        <label>Add to Array</label>
        <locationX>534</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>oppLinesUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Items_for_Bid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>passedThrough</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Items_for_Bid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bids</name>
        <label>Assign Bids</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Hardware_Bid_OPG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hardawre_Bid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Service_Bid_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Bid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Sales_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Approved_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Hardawre_Bid_OPG_Expiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hardawre_Bid_OPG_Expiry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Service_Bid_Proposal_Expiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Bid_Proposal_Expiry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Mono_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mono_Meter_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Large_Mono_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Mono_Meter_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.XLS_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Mono_Meter_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Colour_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Colour_Meter_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Large_Colour_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Colour_Meter_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.XLS_Colour_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Colour_Meter_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Basic_Charge_Commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Basic_Charge_Commitment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Other_Basic_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Basic_Charge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.MPS_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MPS_Charge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Internal_Rental_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Rental_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Items_for_Bid.Currency_Type_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency_Type_Charge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Collection</name>
        <label>Empty Collection</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>oppLinesUpdate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>oppLinesUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Opp_Lines</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update</name>
        <choiceText>Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_approve_reject_or_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Pricing_Approved_Screen</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_approve_reject_or_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Pricing_Approved_Screen</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_approve_reject_or_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Opp_Lines</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Approve Pricing Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Pricing Request</label>
    <loops>
        <name>Loop_All_Items_for_Bid</name>
        <label>Loop All Items for Bid</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <collectionReference>OppLines.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Bid_Pricing_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_For_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opp_Lines</name>
        <label>Get Opp Lines</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Lines_Managed_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Lines_Managed_Service</name>
        <label>Get Opp Lines - Managed Service</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricing_Approved_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Managed_Service__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opp_Lines</name>
        <label>Copy 1 of Update Opp Lines</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Empty_Collection</targetReference>
        </connector>
        <inputReference>oppLinesUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Pricing_Approval</name>
        <label>Copy 1 of Update Pricing Approval</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricing_Approval_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Lines</name>
        <label>Update Opp Lines</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Pricing_Approval</targetReference>
        </connector>
        <inputReference>oppLinesUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricing_Approval</name>
        <label>Update Pricing Approval</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricing_Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Bid_Pricing_Screen</name>
        <label>Bid Pricing Screen</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Bids</targetReference>
        </connector>
        <fields>
            <name>bidDisplayText</name>
            <fieldText>&lt;p&gt;Please input the Hardware and Service Bids for {!Loop_All_Items_for_Bid.Product_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Bid_Pricing_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bid_Pricing_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hardawre_Bid</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Hardware_Bid_OPG__c</elementReference>
                    </defaultValue>
                    <fieldText>Hardawre Bid/OPG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Hardawre_Bid_OPG_Expiry</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Hardawre_Bid_OPG_Expiry__c</elementReference>
                    </defaultValue>
                    <fieldText>Hardawre Bid/OPG Expiry</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sales_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Sales_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Bid_Pricing_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Bid</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Service_Bid_Proposal__c</elementReference>
                    </defaultValue>
                    <fieldText>Service Bid/Proposal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Service_Bid_Proposal_Expiry</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Service_Bid_Proposal_Expiry__c</elementReference>
                    </defaultValue>
                    <fieldText>Service Bid/Proposal Expiry</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Pricing</name>
            <fieldText>Meter Pricing</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meter_Pricing_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mono_Meter_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Mono_Meter_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Mono Meter Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Large_Mono_Meter_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Large_Mono_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Large Mono Meter Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>XLS_Mono_Meter_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.XLS_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>XLS Mono Meter Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Meter_Pricing_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Colour_Meter_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Colour_Meter_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Colour Meter Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Large_Colour_Meter_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Large_Colour_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Large Colour Meter Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>XLS_Colour_Meter_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.XLS_Colour_Price__c</elementReference>
                    </defaultValue>
                    <fieldText>XLS Colour Meter Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_All_Items_for_Bid.Product2.Line_of_Business__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Print</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Service_Pricing</name>
            <fieldText>Service Pricing</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Service_Pricing_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Basic_Charge_Commitment</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Basic_Charge_Commitment__c</elementReference>
                    </defaultValue>
                    <fieldText>Basic Charge (Commitment)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>MPS_Charge</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.MPS_Charge__c</elementReference>
                    </defaultValue>
                    <fieldText>MPS Charge</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Currency_Type_Charge</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Currency_Type_Charge__c</elementReference>
                    </defaultValue>
                    <fieldText>Currency Type Charge</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Service_Pricing_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Basic_Charge</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Other_Basic_Charge__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Basic Charge</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Internal_Rental_Value</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_All_Items_for_Bid.Internal_Rental_Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Internal Rental Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_All_Items_for_Bid.Product2.Line_of_Business__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Print</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_For_Approval</name>
        <label>Check For Approval</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_approve_reject_or_update</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <choiceReferences>Update</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to approve, reject or update more lines?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Pricing_Approved_Screen</name>
        <label>Copy 1 of Copy 1 of Pricing Approved Screen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_Pricing_Approval</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_pricingApproved</name>
            <fieldText>&lt;p&gt;Pricing has been rejected for this deal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Pricing_Approved_Screen</name>
        <label>Copy 1 of Pricing Approved Screen</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opp_Lines</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_pricingApproved</name>
            <fieldText>&lt;p&gt;Pricing has been approved for this deal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pricing_Approved_Screen</name>
        <label>Pricing Approved Screen</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_All_Items_for_Bid</targetReference>
        </connector>
        <fields>
            <name>OppLines</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Opp_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-9b23&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Sales_Cost__c&quot;,&quot;guid&quot;:&quot;column-be60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Sales Cost&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-8654&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Hardware_Bid_OPG__c&quot;,&quot;guid&quot;:&quot;column-ee22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Hardware Bid/OPG&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Service_Bid_Proposal__c&quot;,&quot;guid&quot;:&quot;column-05d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Service Bid/Proposal&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OppLinesMore</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Opp_Lines_Managed_Service</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-e9fd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Mono_Meter_Cost__c&quot;,&quot;guid&quot;:&quot;column-42ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Mono Meter Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Colour_Meter_Cost__c&quot;,&quot;guid&quot;:&quot;column-0bfe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Colour Meter Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Large_Mono_Cost__c&quot;,&quot;guid&quot;:&quot;column-bca9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Large Mono Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Large_Colour_Cost__c&quot;,&quot;guid&quot;:&quot;column-359f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Large Colour Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;XLS_Cost__c&quot;,&quot;guid&quot;:&quot;column-307b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;XLS Mono Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;XLS_Colour_Price__c&quot;,&quot;guid&quot;:&quot;column-7db3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;XLS Colour Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>anotherTestEmails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Another Test Email&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 238);&quot;&gt;{!$User.Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$User.Address}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://get.xeretec.co.uk/m365-licensing-healthcheck-1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: inherit; color: inherit; font-family: inherit;&quot;&gt;&lt;img src=&quot;https://cosmicimg-prod.services.web.outlook.com/proxy/?u=http%3A%2F%2Flogos.xeretec.co.uk%2Ffileadmin%2Fcontent%2Flogos%2Fcampaigns%2F2024_hea_m365.png&amp;amp;t=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpxTnZpdWVhQVBZc2U3SSs2RXdsWm1rb2xqST0iLCJ4NXQiOiJ6cU52aXVlYUFQWXNlN0krNkV3bFpta29sakk9IiwiaXNzbG9jIjoiQU05UFIwNU1CODYxNSIsInNyc24iOjYzODc0MDcxNzUyMTQwODU2MX0.eyJ1dGkiOiJiYTFjNjJkNS0zMDc5LTQwM2ItOGE0Zi1iZTljZTgwNjU0ZTUiLCJpYXQiOjE3Mzg2NjY5MzMsInZlciI6IlNUSS5Vc2VyLlYxIiwic2FwLXZlcnNpb24iOiI4IiwiYXBwaWQiOiJmMjA0MTUwNC0yZjgxLTQ5M2QtYWY4ZC1iNGIzNTBjZWZlNTciLCJpc3NyaW5nIjoiV1ciLCJhcHBpZGFjciI6IjIiLCJ0aWQiOiI4YjQyMjNlYTQ3OTI0YjJkYjNkOTRjYjFjMmIyN2VmZiIsInNjcCI6IkltYWdlUHJveHktSW50ZXJuYWwuUmVuZGVyIiwidG9wb2xvZ3kiOiJ7XCJUeXBlXCI6XCJNYWNoaW5lXCIsXCJWYWx1ZVwiOlwiQU05UFIwNU1CODYxNS5ldXJwcmQwNS5wcm9kLm91dGxvb2suY29tXCJ9IiwicHVpZCI6IjEwMDMyMDAxOEVENDNBMUYiLCJlcGsiOiJ7XCJrdHlcIjpcIlJTQVwiLFwiblwiOlwiMEFkekJiWTZHaGNtODJMaEpDemR1TVlGenZBUWVIUU5HV3Z1Mzh1TGlHQl9OcFZmdjBpUE1ReDNXVnd5bUthV29OS2ZGdURwbHNBdFFCQnNLcHkyUl9sWGEzTnlsa1lfMjAzTUk3QmFfaTZXWm5wZFZ6U0gzd0ZpMmdlaE04Mmx4SnFiQThqRUFmOXp2b01yd3VGTXl6OEg1bWxjd3d0WkxjR1o3NW83ZE1ZX0lTQ3lzSVpSNGpVRFJJQmtxVmtic0VnOC05cGtDd3hORXRnYjJKUGxzUE1yVTJtRUliTEcyalJiMHFyUW9NZjFxU2VXcXZVZW5DU0p1MURjbVhKMnRHMFRJd3REVE5GM2pjWFZWc1ctZDJpLS1DYkdWdEltZHhOWmJHUnZQRmlfRW5uSTFOR2VZRWd0b3YtSFBjSnpSSXNKVHl6VDJ6a0ZaX3RHbEctTVlRXCIsXCJlXCI6XCJBUUFCXCIsXCJhbGdcIjpcIlJTMjU2XCIsXCJleHBcIjpcIjE3Mzg3NTY3MDRcIixcImV4cF9kaWZmXCI6XCI4NjQwMFwiLFwia2lkXCI6XCJETWJwaGZ1VXNuNklxQ0NaLUNPX3R0MlpJVGtcIn0ud1ZsenVUR1ZiMldqUEVFamVPT1Q3ZHVVZjhQTmxqeGE1cFBvVWc3akJRRndQRURiZlkwNW0vaGxiMXMyMjExNnhNRnBOUkErUi91RC9tT3RJOS9ob0FSaGV6Q3J4YTBiTWYyZ2dDK0lqZGg4dE1rUjBzWnBtN3VhNUtUR2IycmJVdlM0Sk5uK0laaWhSVnM5WjRmUXZNa3luejFzVmFFcTdMY0g1S29EeWtMNEdwVGtsYkttM1E1MHNiUi9rU01scFZ6b0xzaWxRSVBpay95QXhQQk5TMkFtdGlrV3BDZzRUaW1QNlpmREdkTTY5UXN1MTNobVRFOFoyaUhBWlRiS0RxNmp5TTg3V1p2OFZrVFZoamZIdlZJTlRaMTNKV0FQQ2o2MlF5aGpXSDZtaDQ0T28zYmQxK2czNE9renROQ2JSZlEvc291ZW9kYWNETUttNFcycklBPT0iLCJuYmYiOjE3Mzg2NjY5MzMsImV4cCI6MTczODY2NzgzMywiaXNzIjoiaHR0cHM6Ly9zdWJzdHJhdGUub2ZmaWNlLmNvbS9zdHMvIiwiYXVkIjoiaHR0cHM6Ly9vdXRsb29raW1hZ2Vwcm94eS5henVyZXdlYnNpdGVzLm5ldCIsInNzZWMiOiJDNWQ4RnltQ3l3YUxTb1VFIn0.MZl-S7XAxzv1MTbVTc36YVxcnc4fpqo2-LkMoMO8Gez2IPUhn0PEzw71l4ydpaYUTPMkiIuTreoLTw5u2EMmYVeRMf1Jxc1PRQ8jhX4tnFbziVyAkXAejHuAPf069S16bTaK9Zmk1Xs5h6bTAMywIq9ZvHCBTe4MvD1HWpFk9izYQZLi8eZUEH05b8CB1S_fV3QuiFhDxord5KC4mOFOl7zisWjYK_9GLPEqpowYGPWuYoX1wxNwRe8Q4zJt_L4OjdYV0qRNt_NFVOCMbM4deljz_hzRN8_R2fGPD8OIyMgZ_O5hH4ycpIeXFGhG1LeQTPQOIAjuYosoRuiQ6llZug&amp;amp;r=p&amp;amp;s=b&quot;&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.linkedin.com/company/xeretec-ltd&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: inherit; color: inherit; font-family: inherit;&quot;&gt;&lt;img src=&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAAAXNSR0IArs4c6QAAA1NJREFUWEe9l19IU1Ecx7/nTPCl0F4qqulU6CFwWxC9RY6IAgnnNSh70QqRnhIxISKdRPRQmdWjVNtTBDmXEQUhzhQKKjcXQQXmdCblSw56Edw9cc68897t3v2fe9s55/f9fc65v/M7vx9BHr999tMNJCZbCIFFbS5T6i/Dejgc9IVzkSXZLjbXtzhBZCdAnAAq0tkxYIECbkpldzZAGSHErpk8BAZbtsDqdQzsfhllrnDQt2pkbwhhsTsr12XiIiCX83GeZBNllDqXgs/9elq6EBwgxqg/390bQjOcj3zxupPnUyBKBqB41gFJgTBbJX5kRxWbbeXlaG10iL9j4+/xJxot/Osw0hz5MuJThDQQVVbJxYB+tZdJ70PU1O0RQ/Nzy2hs7cG/tbVCQaImKluUYE1AWOxOS0ym82p1W201Xo4Oahyeau7G7M+FQiEAME8kNNrOhRIQZmuzGyBtavVdFRX4+O6xxqHjxCXM/V4pAgRgonINzyMCQgSjTP/qKZ85fgS373SJqRsDwxj2vikKQFwkfhoCwlwvtYPgSRHVs5WKRkLeyjiEtcUHsCY9yw7ppGZYOQn1+NLyCqYCX9HbeRY2+37U1O5FYOY7pqcDePpqIm0gM0odGxAST6m678Hi7IgGosrWIv6rxwOfvwnHlTu2p+yDzzVduGZ4MgQYUCCY0apsIDKdfWfnTbz+MKO7jL8tRDxQsjxRDIiJ8U9CxnHskEbO/WgMfQ88Ri4miwZxpWcIz95OCUc8Xq73dySccri27lulhzhw+FwiAJOTXEaI+O2QCo4JJWC5Xm4QzFOU28Ed5wuhuh3GeSLb25EvRCJPVFmlLgbc04ucEkNsZky9F1QBKi2E6u2IB2fqK5qcGdXf3ggul8CUqXzwV9AXTFtPcEHP4FXNV1Luu9E4X1y3eyf6ei8m7EKhH7jr1qZ/gLyIhEZ4+7BZT4hd6lRWmVJynvO8srIrPUlqjWmTgkWvspNJk4rdLa+2eV5YDHldaq4t7Tv0AFJiQk0XL/lMbqNiJ8dYiIKhS6/xSQuhOOGNMCNsiADVOTreWM48pngvatipZ2yIN2FEHcpL9ERjlAYqCjBfJueKfdYQioH4TDFTAyHMrgOxGqOynyegXE7tPwk+sKvQOX/RAAAAAElFTkSuQmCC&quot;&gt;&lt;/a&gt;&lt;a href=&quot;https://twitter.com/Xeretec&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: inherit; color: inherit; font-family: inherit;&quot;&gt;&lt;img src=&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAAAXNSR0IArs4c6QAAA8VJREFUWEe1l11IVEEUx/8zG/iSuBGYWNqWLz2tq30QEaVFkfTQuvYQJWmCSD24a0H0iW5REYF9GL0IohXUQ60rEQURavhQlHndoCKoNq2oXmrpA4Kcqbnuve3evffO1a193DnnP797zpkzZwim+Zvr8/sIZrhT3WfglxJXol+mKkmcOnh8fg9j1M8BP4DVVn4ceEPABzh1db9Vrg040ZdCiM0nGGkDSJ0TwTQbglFOaEgGYwtR7A2EONAGIG/KAOk0fS46UW+VKkuIIm9197S+3oJWpIlT5n+nRBWjiSnEvwZI2TTBKKswgmRA/EcAjSXhosyTmpo0iGJv9XYO0pNd/h15D47HIhWapQ7h8fndE4zGsynC0oXzdYLRV29saQjQMhaLnBFGOkSxN9DGgVajZ9Xycty6/9hWsKQgH10XDmNBSaFuNzL8HKdOX8b6ymVwu3PRfOS8UUNPiwphFYU5eXl4eK8LR8Od6IzcNgURNnf6zsI9K9d0/fXL9zjYegFfv/+AMToEvG4s1ntRhbCqBRHeG73tqnj0ej8OnOzEt58/0zZrDGzA4dZG20iJqGzbeSTDFwSj46MRnwpR5K2JAnyTUSkVQqx9+fwVHeeu4srNfl2wp30/KtcusYSwBEh6uCiblYQIiEvHtCsORjrScq3t1n/3EYaGRlBbu9F0XbOzS+VkUfI6kqyHz2afIgqu/XgQZYsXOTp3ZkZyCITJPN/mCsJYv5mAMR3TIdlaewhDT55ZuhJIIIRnX9exrCKxdFUDPiYS2UGY9QCnERF1U7f7hKxphUVNeCYYfW1nKTsBVr5NTcekjU5Nx+QRDfwZG6x/TnqB0dtJFPTToUKUBhRwlNqB7KmvQbBlq6NMiH6yblPQthY0IUZZmRqJed7qMwQkKNtBnJZLXWHLFq01tOote/HywyeZnFhPjMcibhVCTM6U0ZFUr5k5OSiZW6D+VZg/G1XrV8BfU2krLO6Jhl1HnQKAg599G+sN6bdokTcgJuO0KVrcoPv27rDtiNrXG9u5kzC4KFsQV6JxHcKuaYljumZFOVauLEvTjsVe4MHwUygvXmVeTlIK3jMe662fLM6Un9VFJtWbuoGYJXwiChkQ4h75xahCgL8j0tQ3kHpoc4RmmDHoJotU1EeWbw1zFq0YU1dNR/7/BWIGkJGOVDoVhNNuWROTxn7SIEHAm8UoZ2YvfYsmB+BQFukZdFEmnoBqEU4LQjiJgmWMhhhQ77xoeY/Tl7k0EkZykSYXoxUM3ENAfH/XeZyAxBmlA7JXuFHzN1XnkDivLQqQAAAAAElFTkSuQmCC&quot;&gt;&lt;/a&gt;&lt;a href=&quot;https://www.facebook.com/pages/Xeretec-Office-Systems-Ltd/150823118319138&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: inherit; color: inherit; font-family: inherit;&quot;&gt;&lt;img src=&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAAAXNSR0IArs4c6QAAA0tJREFUWEfdl01IVFEUx//3TeCmaNqI2KgjRgvB51MiIgTH2tiq8RkRbpwIWxXaFxERTgW1q2kpBSm4qMhxXEhJhFYSUaHPJy0Ew8mxNkIquRGae+POx3M+3pt33zirZjXz3jnn/uacc88HgYOPV/G7/2KXIlHqo2BuAqJwdQamSSDrjBHN5YpPRbXIugOzICLCVQ2dfhAEAHZSRB4gY2AsEpsPD4rIF4TwKKd8hNEQGBpFjOXKMOAHJCmwor2cKqRvCVEtq0EG9BdzeD4Me7Sij/ZZ2cqD4HGPUxICSHcpAAwbBHMuQn1m+ZIHUSWr3HWtJQVIG7MAyYLwyB0hAtLrBKCuohzHjjajpaXJUJuenoX2bRFfFhZNTLGhmD4ayHxhQCSSkNJJJwBXAp3ovdRlqjL59iu6L983N8dIR2x+JLLtoNQ3j6xGCVAjCtGjtuNWf4+leEEIYMMlUW86PxKeqGpQAyB4Kgqwu6wMHycG4N63p1gIXqAuLevhEDeQhGhUNSe14MSRZgwM3CzIbOMJ8Bqyooe9CQiv4vfGqbQk6gUuZxaKa1dDGH//GZtbW8KmqESbfmoRjVTLah8DHgprmkAsff+FVvWiExMJWQLcXtbDQVIldww6LUy5nrBzfQG6dzE97CPFFKf/DQIxPUyEPMGLkiwfNLzq9Vaitq7S+L2+9gezMwtZXn/2YgKvPs3Y5okwxNCDG2g7fsjWYKYAvy3P33woqJO+pkKeKAai8/R1i96RxZVMTJG5oRiI+sNdAjUj2cxIcnRjo4X8xiukp7LcEOEdMzM8vE4MD49nmXgcfm0fPoazfATkFdMdp9Kavca2RKmuqEuitVEtwhsn4LRglQaCjMX0Eb/RwJz2j1JAMElqSw/AxlDjxBslgEjcinSADYhUbkQB7LXLjx1C8IFG4bmQB8EfiI54O4LIGe2MnMj85yJTVtEQqSuZ62nT5SdVO/gKZxqaIiA2wNBntRZabmD7Fb8iUYnPgHk7iCMIgjlKaIBPUFa5ZrsQ8/AwgmDmJC4CwZsTYQiKLMW2EGn6ZIion4H4zqvtNZnjfnqyShwMNgUmRTL3CrvbJgyRa+hcz50zjfUHKvjz1dXfm3fvXXhid5jV+39hEaIxzzLnCgAAAABJRU5ErkJggg==&quot;&gt;&lt;/a&gt;&lt;a href=&quot;https://www.youtube.com/user/XeretecTV&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: inherit; color: inherit; font-family: inherit;&quot;&gt;&lt;img src=&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAAAXNSR0IArs4c6QAAAyxJREFUWEfNl01oE0EUx9+b9SqmChVrY1M8eWhcRbAHoa1eFBQ3qScRTJHeFFG0KH40wbMavZUiTS+CYNMVPAiiTdGDguA2PXjSpqZW9GBTvDYzMptsTXZn9iNpxD0F8t7//fbtzPtAaOLpVE/1c3cGa6Vvhm40KoV+HSOqFqGUaAywH4Dx4FsEvqsAmAPGdEWhesHQS370PSF48DLFJACe9SNYb8MmFcKSBUMvuPm6QuyKxpMMYDR48HoPBEh9zWeTMh0hRETVQmVGcsBgb7MANf6zCqGa6BM5IFoEUGFBmFOQ9ttB6iBaCmClRABSBxGODuoA7OQGfgKJFJss5qcTf7mqv8I9gxogm249QCUCI2RgyXiaq3yl6tMZjRcQoEsEsSMUgvatorLgjvzz1yp8L4lLBQNYXMpnI+sQ4Z54AhAm7JKHevbA8JAGA0cONJygmVcfYHxCh7fzn5waDGPF+SndzEQ4Gudp6bNb5XMZCLVtbhjAclz4vAx98QsCHXxWzE9paN4ISlbsFsd698PY2I2mASyB02duCrNRzGcReRNCSmfs0YbjR+HW6LAUorTyO1CW7qTGYTz7wqHHDyjKSrMXxInYZeho3wbXRoage3eHZ8ZkEAhwSQrx8PZ50AYHpOIcYu7Lovk//3ReMC4QKSnE5L3rrreiFsIidfNpCOK/yMQ/PBMplBUqL4iNuh3AMIY7VU0llHwMekU9r4PN4OqVNDx5+cbhphDabVZMUd/g/eL97KOgsaT2B/vOOfqI1T+qELE0Al60K3gdTr+ED+4/hruZKYe5NfaZEJVhliyIRHlGjh/uhXDnduiKeBclS2OxsAzFpR/w/PU7aSdVCG3jU9Z6Kw9HY5nGJmq/+ai3qx1+1yGqjYyP5sEHh4Ac/CxsIlS1Zs268U7WzALG8DSnhO6r3dgc07asbngq+zVgMFScz2ZqzYV7R8tABAAcRrqBmcsupRnZ3On3xbkdPwOMUE22NLuugfywrlFMimqIT4hVBEgTQtNuy7HnQmzVEUpJggIk/GSGvzmpBM/42cx9QdS+tVnYyoqKyFR7NhhDQ1HKhtcWbvf7AyiBaUQN2aJ1AAAAAElFTkSuQmCC&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>oppLinesUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>passedThrough</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
