config/flow-metadata-active/flows/Assign_PO_Values_from_SO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_from_SO</name>
        <label>Assign Values from SO</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deliver_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Sales_Order__r.Recipient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Procured_for__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Sales_Order__r.SCMC__Customer_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_DS_Fields</name>
        <label>Update DS Fields</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Procured_for__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Procured_for__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Procured_for__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_Line1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Procured_for__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Procured_for__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Procured_for__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Ship_To_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dropship_Record_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Ship Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCMC__Override_Ship_to_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Dropship Record - Override</label>
        </rules>
        <rules>
            <name>Dropship_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Ship Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCMC__Override_Ship_to_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DS_Fields</targetReference>
            </connector>
            <label>Dropship Record - Standard</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assign PO Values from SO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign PO Values from SO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values_from_SO</targetReference>
        </connector>
        <object>SCMC__Purchase_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
