config/flow-metadata-active/flows/Cancel_MACD_Lines_Cancelled_MACD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Line_to_Collection</name>
        <label>Add Line to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MACD_Lines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_MACD_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MACD_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancelled_Status</name>
        <label>Set Cancelled Status</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_MACD_Lines.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>When a MACD is cancelled this flow will ensure all MACD lines linked to it are also cancelled.</description>
    <environments>Default</environments>
    <interviewLabel>Cancel MACD Lines - Cancelled MACD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel MACD Lines - Cancelled MACD</label>
    <loops>
        <name>Loop_MACD_Lines</name>
        <label>Loop MACD Lines</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_MACD_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Cancelled_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MACD_Line_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MACD_Lines</name>
        <label>Get MACD Lines</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_MACD_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MACD_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MACD_Date</name>
        <label>Update MACD Date</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MACD_Line_Records</name>
        <label>Update MACD Line Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_MACD_Date</targetReference>
        </connector>
        <inputReference>MACD_Lines</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MACD_Lines</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>MACD__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MACD_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
</Flow>
