config/flow-metadata-active/flows/Check_and_populate_PO_number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check for the presences of a customer PO</description>
        <name>Check_for_presence_of_customer_PO_not_exists</name>
        <label>PO does not exist</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCMFFA__SCM_Invoice__r.SCMC__Sales_Order__r.SCMC__Customer_Purchase_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Customer_Reference_field_0</targetReference>
            </connector>
            <label>PO Exists</label>
        </rules>
    </decisions>
    <description>Adds the customer PO from the Sales Order if one exists on the SO and not on the SI yet.</description>
    <interviewLabel>Check and populate PO number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check and populate PO number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the customer reference field (if it is currently blank) to the related Sales Order customer PO field vaue.</description>
        <name>Update_the_Customer_Reference_field_0</name>
        <label>Update the Customer Reference field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>c2g__CustomerReference__c</field>
            <value>
                <elementReference>$Record.SCMFFA__SCM_Invoice__r.SCMC__Sales_Order__r.SCMC__Customer_Purchase_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_presence_of_customer_PO_not_exists</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>c2g__CustomerReference__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>c2g__CustomerReference__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>c2g__codaInvoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
