config/flow-metadata-active/flows/Checklist_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varChecklistCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varChecklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Checklist_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Checklist_Values</name>
        <label>Assign Checklist Values</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varChecklist.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChecklist.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChecklist.Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Checklist_Template.Guidelines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChecklist.Action_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Checklist_Template.Checklist_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Checklist Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checklist Creation</label>
    <loops>
        <name>Loop_Through_Checklist_Template</name>
        <label>Loop Through Checklist Template</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Checklist_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Checklist_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Checklist_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Checklist_Records</name>
        <label>Create Checklist Records</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>varChecklistCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Checklist_Template</name>
        <label>Get Checklist Template</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Checklist_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lines_Of_Business__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Checklist_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Checklist_Template</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lines_Of_Business__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist__c</objectType>
    </variables>
    <variables>
        <name>varChecklistCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist__c</objectType>
    </variables>
</Flow>
