config/flow-metadata-active/flows/Commission_Other_Transactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Other_Transactions</name>
        <label>Assign Other Transactions</label>
        <locationX>1496</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>OtherTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherTansactionFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_References</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_History</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter History</label>
        <locationX>880</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Filter_History</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>HistoryItems</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_History.c2g__TransactionLineItem__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Line_Items.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_History</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_References</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter References</label>
        <locationX>1232</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Filter_References</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>References</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_References.c2g__MatchingReference__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_History.c2g__MatchingReference__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_References</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_SINS</name>
        <label>Check SINS</label>
        <locationX>1408</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_Transactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIN_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_References.c2g__TransactionLineItem__r.Plain_Document_Number__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_References</targetReference>
            </connector>
            <label>SIN Number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OtherTansactionFormula</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; RIGHT(LEFT({!Loop_References.c2g__TransactionLineItem__r.c2g__DocumentNumber__c},28),15), LEFT(RIGHT({!Loop_References.c2g__TransactionLineItem__r.c2g__DocumentNumber__c},23),9))</expression>
    </formulas>
    <interviewLabel>Commission Other Transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Commission Other Transactions</label>
    <loops>
        <name>Loop_History</name>
        <label>Loop History</label>
        <locationX>880</locationX>
        <locationY>398</locationY>
        <collectionReference>Filter_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_References</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Line_Items</name>
        <label>Loop Line Items</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>transactionLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_History</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_References</name>
        <label>Loop References</label>
        <locationX>1232</locationX>
        <locationY>638</locationY>
        <collectionReference>Filter_References</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_SINS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_History</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommissionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Payment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_History</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaCashMatchingHistory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_References</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaCashMatchingHistory__c</objectType>
    </variables>
    <variables>
        <name>HistoryItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaCashMatchingHistory__c</objectType>
    </variables>
    <variables>
        <name>OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OtherTransactions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>References</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaCashMatchingHistory__c</objectType>
    </variables>
    <variables>
        <name>transactionLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaTransactionLineItem__c</objectType>
    </variables>
</Flow>
