config/flow-metadata-active/flows/Compliance_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_Opp</name>
        <label>Approve Opp</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <actionName>ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>decision</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>get_approval_with_User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approve_Opp</name>
        <label>Copy 1 of Approve Opp</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <actionName>ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Rejection_Reasons</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>decision</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>get_approval.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResolveApprovalRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Send_Rejection_notification</name>
        <label>Copy 1 of Copy 1 of Send Rejection notification</label>
        <locationX>1018</locationX>
        <locationY>1898</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_for_order_creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML8e000000sXyXGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>approvedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RejectUserNotifications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Rejection_notification</name>
        <label>Copy 1 of Send Rejection notification</label>
        <locationX>578</locationX>
        <locationY>1898</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML8e000000sXyXGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>noteTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RejectUserNotifications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_notification</name>
        <label>Send Rejection notification</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Rejection_Note</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML8e000000sXyXGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>noteTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RejectUserNotifications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_MACD_Lines_to_Update</name>
        <label>Add MACD Lines to Update</label>
        <locationX>1282</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>MACDLinesUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_MACD_to_Update</name>
        <label>Add MACD to Update</label>
        <locationX>1282</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>MACDUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_MACDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MACDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Owner</name>
        <label>Add Owner</label>
        <locationX>886</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>RejectUserNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppToApprove.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Interaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Reason_To_Collection</name>
        <label>Add Reason To Collection</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rejectReason</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOneReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Chop_Remaining</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>930</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>rejectionsMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppApprovalRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Rejection_Reasons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exit_Variable</name>
        <label>Assign Exit Variable</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>approvalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MACD_Line_Status</name>
        <label>Assign MACD Line Status</label>
        <locationX>1282</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Loop_Lines.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_MACD_Lines_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MACD_Status</name>
        <label>Assign MACD Status</label>
        <locationX>1282</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Loop_MACDs.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_MACD_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Approval_Values</name>
        <label>Assign Opp Approval Values</label>
        <locationX>930</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>OppApprovalRecordSingle.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Rejection_Reasons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppApprovalRecordSingle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppApprovalRecordSingle.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppApprovalRecordSingle.Opportunity_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Instance.SubmittedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reasons</name>
        <label>Assign Reasons</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRemaining</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!rejectionReasonsText};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_Reasons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SO_True</name>
        <label>Assign SO True</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Get_new_opp_details.IWM_Sales_Order_Req__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Chop_Remaining</name>
        <label>Chop Remaining</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRemaining</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxRemainingAfterFirst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>More_Reasons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>documentLinks.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Doc_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_One_Reson</name>
        <label>Set One Reson</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varOneReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxFirstReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Reason_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_order_creation</name>
        <label>Check for order creation</label>
        <locationX>1018</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Get_MACD_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderCreationInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_new_opp_details</targetReference>
            </connector>
            <label>Order Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Rejection</name>
        <label>Check if Rejection</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>get_approval_with_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Compliance_Auto_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reasons</targetReference>
            </connector>
            <label>Rejection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Interaction</name>
        <label>Check Interaction</label>
        <locationX>886</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Interaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>interactionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_notification</targetReference>
            </connector>
            <label>Auto Interaction</label>
        </rules>
        <rules>
            <name>Not_Auto_Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Rejection_notification</targetReference>
            </connector>
            <label>Not Auto Rejection</label>
        </rules>
        <rules>
            <name>Approved_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Send_Rejection_notification</targetReference>
            </connector>
            <label>Approved Deal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Output_of_Approved_Products</name>
        <label>Check Output of Approved Products</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Process_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Products_not_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Approved_Products.ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Exit_Variable</targetReference>
            </connector>
            <label>Products not approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Reasons</name>
        <label>More Reasons?</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>get_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRemaining</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRemaining</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_One_Reson</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>approvedNotification</name>
        <dataType>String</dataType>
        <expression>If({!approvalType} = &quot;Technical&quot;, &quot;Your deal has been Technically Approved by &quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot;.&quot;, &quot;Your deal has been Compliance Approved by &quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot;. Now it is in Process.&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxFirstReason</name>
        <dataType>String</dataType>
        <expression>LEFT({!varRemaining}, FIND(&quot;;&quot;, {!varRemaining}) - 1)</expression>
    </formulas>
    <formulas>
        <name>fxRemainingAfterFirst</name>
        <dataType>String</dataType>
        <expression>MID(
  {!varRemaining},
  FIND(&quot;;&quot;, {!varRemaining}) + 1,
  LEN({!varRemaining})
)</expression>
    </formulas>
    <formulas>
        <name>noteTitle</name>
        <dataType>String</dataType>
        <expression>if({!interactionType} = &quot;Auto&quot;,&quot;Deal Auto Rejected by the system at &quot; &amp; {!approvalType} &amp; &quot; Approval. - &quot;  &amp; TEXT({!$Flow.CurrentDate}),&quot;Deal Rejected by the &quot;&amp;{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; at &quot; &amp; {!approvalType} &amp; &quot; Approval. - &quot;  &amp; TEXT({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Approval Request for Opportunity is &quot; &amp; if({!decision}= &quot;Reject&quot;, &quot;Rejected&quot;, &quot;Approved&quot;)</expression>
    </formulas>
    <formulas>
        <name>rejectionReasonings</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!rejectionReasonsText}, &quot;;&quot;, &quot;,&quot;)</expression>
    </formulas>
    <interviewLabel>Compliance Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Approval Flow</label>
    <loops>
        <name>Loop_Lines</name>
        <label>Loop Lines</label>
        <locationX>1194</locationX>
        <locationY>2738</locationY>
        <collectionReference>Get_MACD_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_MACD_Line_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MACD_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_MACDs</name>
        <label>Loop MACDs</label>
        <locationX>1194</locationX>
        <locationY>2330</locationY>
        <collectionReference>Get_MACDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_MACD_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Rejection_Reasons</name>
        <label>Loop Rejection Reasons</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <collectionReference>rejectReason</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Approval_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Approval_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Doc_Link</name>
        <label>Create Doc Link</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <inputReference>documentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Approval_Records</name>
        <label>Create Opportunity Approval Records</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Add_Owner</targetReference>
        </connector>
        <inputReference>rejectionsMultiple</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejection_Note</name>
        <label>Create Rejection Note</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignRecordIdToReference>documentLink</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>noteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordLookups>
        <name>get_approval</name>
        <label>get approval</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Approve_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_approval_with_User</name>
        <label>get approval with User</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Lines</name>
        <label>Get MACD Lines</label>
        <locationX>1194</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MACDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppToApprove.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACDs</name>
        <label>Get MACDs</label>
        <locationX>1194</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_MACDs</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>- Move -</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue> - Dispose - </stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_new_opp_details</name>
        <label>Get new opp details</label>
        <locationX>842</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SO_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MACD</name>
        <label>Update MACD</label>
        <locationX>1194</locationX>
        <locationY>3254</locationY>
        <inputReference>MACDUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MACD_Lines</name>
        <label>Update MACD Lines</label>
        <locationX>1194</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>Update_MACD</targetReference>
        </connector>
        <inputReference>MACDLinesUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>842</locationX>
        <locationY>2330</locationY>
        <inputReference>Get_new_opp_details</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Approved_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_for_Approved_Products</name>
        <label>Check for Approved Products</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Check_Output_of_Approved_Products</targetReference>
        </connector>
        <flowName>Check_for_Approved_Products</flowName>
        <inputAssignments>
            <name>opportunity</name>
            <value>
                <elementReference>OppToApprove</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>approvalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approvalStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>approvalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>interactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MACDLinesUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>MACDUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD__c</objectType>
    </variables>
    <variables>
        <name>OppApprovalRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Approval__c</objectType>
    </variables>
    <variables>
        <name>OppToApprove</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>orderCreationInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rejectionReasonsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rejectionsMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Approval__c</objectType>
    </variables>
    <variables>
        <name>rejectReason</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RejectUserNotifications</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOneReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRemaining</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
