config/flow-metadata-active/flows/Create_Commission_Opp_Split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Commission</name>
        <label>Create Commission</label>
        <locationX>484</locationX>
        <locationY>1463</locationY>
        <actionName>GenericObjectOperationBatchLauncher</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Commission_Payment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>insert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>CommissionPaymentMultiples</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scopeSize</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GenericObjectOperationBatchLauncher</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Multiple</name>
        <label>Add to Multiple</label>
        <locationX>704</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>CommissionPaymentMultiples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CommissionPaymentSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commissions</name>
        <label>Assign Commissions</label>
        <locationX>704</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.OpportunityLineItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.Funding_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Funding_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.SplitPercentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SplitPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.Salesperson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SplitOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.DealType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Condition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.ProductCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2.Product_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SplitOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.Sales_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Currency</name>
        <label>Set Currency</label>
        <locationX>572</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>CommissionPaymentSingle.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Commissions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Date</name>
        <label>Check Date</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X28_02</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.CloseDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-02-28</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SplitOwner.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sangster</stringValue>
                </rightValue>
            </conditions>
            <label>&lt; 28/02</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Dicision_for_Currency</name>
        <label>Check Dicision for Currency</label>
        <locationX>704</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_Commissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Irish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Currency</targetReference>
            </connector>
            <label>Irish</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Commission - Opp Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Commission - Opp Split</label>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>484</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Payment_Plans</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Commission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Plans</name>
        <label>Get Payment Plans</label>
        <locationX>484</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applies_from__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Opportunity.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ends__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Opportunity.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Funding_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Commission_Payment_Plans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>484</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Date</targetReference>
        </connector>
        <object>OpportunitySplit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Payment_Plans</name>
        <label>Assign Payment Plans</label>
        <locationX>704</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_Dicision_for_Currency</targetReference>
        </connector>
        <flowName>Commission_Assign_Plan</flowName>
        <inputAssignments>
            <name>category</name>
            <value>
                <elementReference>Loop_Products.Product2.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>condition</name>
            <value>
                <elementReference>Loop_Products.Condition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>division</name>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentPlans</name>
            <value>
                <elementReference>Get_Payment_Plans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>user</name>
            <value>
                <elementReference>$Record.SplitOwnerId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CommissionPaymentSingle.Commission_Payment_Plans__c</assignToReference>
            <name>paymentPlanUsed</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CommissionPaymentMultiples</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Payment__c</objectType>
    </variables>
    <variables>
        <name>CommissionPaymentSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Payment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Payment_Plans_for_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Payment_Plans__c</objectType>
    </variables>
</Flow>
