config/flow-metadata-active/flows/Create_Location_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>countryCode</name>
        <dataType>String</dataType>
        <expression>CASE({!addressCountry}, 
&quot;United Kingdom&quot;, &quot;GB&quot;, 
&quot;Ireland&quot;, &quot;IE&quot;, 
&quot;GB&quot;)</expression>
    </formulas>
    <formulas>
        <name>locationName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.Name} + &quot; - &quot; + {!addressPostCode}</expression>
    </formulas>
    <interviewLabel>Create Location - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Location - Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>locationId</assignRecordIdToReference>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>locationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address__City__s</field>
            <value>
                <elementReference>addressCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address__CountryCode__s</field>
            <value>
                <elementReference>countryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address__PostalCode__s</field>
            <value>
                <elementReference>addressPostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address__Street__s</field>
            <value>
                <elementReference>addressStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addressPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
