config/flow-metadata-active/flows/Customer_Account_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Account_Record_Local</name>
        <label>Update Account Record Local</label>
        <locationX>1612</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Customer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Customer_Status_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Last_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Invoice.c2g__InvoiceDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Change</name>
        <label>Check Account Change</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_A_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <label>Was A Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Status_Asset</name>
        <label>Check Customer Status Asset</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inactiveStatus</elementReference>
                </rightValue>
            </conditions>
            <label>Customer Status Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Invoice</name>
        <label>Check for Invoice</label>
        <locationX>1700</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Account_Change</targetReference>
            </connector>
            <label>Check Invoice Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Active_Asset</name>
        <label>Check if Active Asset</label>
        <locationX>875</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Check_for_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Change</targetReference>
            </connector>
            <label>Active Asset</label>
        </rules>
        <rules>
            <name>Inactive_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lapsing Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer_Status_Asset</targetReference>
            </connector>
            <label>Inactive Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Update_Required</name>
        <label>Check If Update Required</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>updateRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Account</targetReference>
            </connector>
            <label>Update Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity</name>
        <label>Check Opportunity</label>
        <locationX>1700</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Invoice_Date</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Invoice.c2g__InvoiceDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Update_Required</targetReference>
            </connector>
            <label>Check Invoice Date</label>
        </rules>
        <rules>
            <name>Opportunity_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_Account_Change</targetReference>
            </connector>
            <label>Opportunity Exists</label>
        </rules>
        <rules>
            <name>Not_a_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not A Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Update_Account</targetReference>
            </connector>
            <label>Not a Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Account_Change</name>
        <label>Copy 1 of Check Account Change</label>
        <locationX>1524</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Record_Local</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Was_A_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>invoiceStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity</targetReference>
            </connector>
            <label>Copy 1 of Was A Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Account_Change</name>
        <label>Copy 2 of Check Account Change</label>
        <locationX>1634</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Was_A_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunityDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateRequired</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 2 of Was A Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>inactiveStatus</name>
        <dataType>String</dataType>
        <expression>  IF(
    TODAY() - {!Get_Sales_Invoice.c2g__InvoiceDate__c} &lt;= 30,
    &quot;Lapsing Customer&quot;,
    IF(
      TODAY() - {!Get_Sales_Invoice.c2g__InvoiceDate__c} &gt; 90,
      &quot;Lapsed Customer&quot;,
      &quot;Lapsed Customer&quot;
    )
  )</expression>
    </formulas>
    <formulas>
        <name>invoiceStatus</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Get_Sales_Invoice.c2g__InvoiceDate__c}),
  &quot;No Data&quot;,
  IF(
    TODAY() - {!Get_Sales_Invoice.c2g__InvoiceDate__c} &lt;= 90,
    &quot;Customer&quot;,
    IF(
      TODAY() - {!Get_Sales_Invoice.c2g__InvoiceDate__c} &lt;= 365,
      &quot;Lapsing Customer&quot;,
      &quot;Lapsed Customer&quot;
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>opportunityDate</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Get_Opportunity.CloseDate}),
  &quot;No Data&quot;,
  IF(
    TODAY() - {!Get_Opportunity.CloseDate} &lt;= 90,
    &quot;Customer&quot;,
    IF(
      TODAY() - {!Get_Opportunity.CloseDate} &lt;= 365,
      &quot;Lapsing Customer&quot;,
      &quot;Lapsed Customer&quot;
    )
  )
)</expression>
    </formulas>
    <interviewLabel>Customer Account Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Account Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>875</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Active Assets</label>
        <locationX>875</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inactive_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactive_Assets</name>
        <label>Get Inactive Assets</label>
        <locationX>875</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>875</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Active_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Invoice</name>
        <label>Get Sales Invoice</label>
        <locationX>875</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>c2g__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaInvoice__c</object>
        <sortField>c2g__InvoiceDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Update_Account</name>
        <label>Copy 1 of Copy 2 of Update Account</label>
        <locationX>2030</locationX>
        <locationY>1382</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Changed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status__c</field>
            <value>
                <stringValue>Not A Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Account</name>
        <label>Copy 1 of Update Account</label>
        <locationX>974</locationX>
        <locationY>1490</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Account</name>
        <label>Copy 2 of Update Account</label>
        <locationX>1766</locationX>
        <locationY>1490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Changed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status__c</field>
            <value>
                <elementReference>opportunityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Active__c</field>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Account</name>
        <label>Copy 3 of Update Account</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Changed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status__c</field>
            <value>
                <elementReference>inactiveStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Status_Changed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Status__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Active__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
