config/flow-metadata-active/flows/Delete_Product_Groups_when_Product_is_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_there_Product_Groups</name>
        <label>Are there Product Groups?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Product_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Linked_Product_Groups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Product_Groups</targetReference>
            </connector>
            <label>Found Product Groups</label>
        </rules>
    </decisions>
    <description>When a product is deleted this will also delete any connected Product Groups (avoids dud lines in Add Products).</description>
    <environments>Default</environments>
    <interviewLabel>Delete Product Groups when Product is Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Product Groups when Product is Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Product_Groups</name>
        <label>Delete Product Groups</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>Get_Linked_Product_Groups</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Linked_Product_Groups</name>
        <label>Get Linked Product Groups</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Product_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Groups__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Linked_Product_Groups</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
