config/flow-metadata-active/flows/FFX_FAMInheritBookAndMethod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Group_Book_Found</name>
        <label>Group Book Found</label>
        <locationX>708</locationX>
        <locationY>656</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>GBFYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSourceDepreciationBookID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Source_DB_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Method</name>
        <label>Needs Method</label>
        <locationX>197</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NMYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepreciationBookID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSourceAppliedDepreciationMethodID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Applied_Method</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Types_Found</name>
        <label>Record Types Found</label>
        <locationX>523</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RTFYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAGABRecordTypeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varASGABRecordTypeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Group_Book_Found</name>
        <label>Sub-Group Book Found</label>
        <locationX>523</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Group_Accounting_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SGBFYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSourceDepreciationBookID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Source_DB_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Group_Present</name>
        <label>Sub-Group Present</label>
        <locationX>708</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Get_Group_Accounting_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SGPYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetSubGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sub_Group_Accounting_Book</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fmlDepreciationBookName</name>
        <dataType>String</dataType>
        <expression>{!varFixedAssetName}&amp;&quot; Accounting Depreciation Book&quot;</expression>
    </formulas>
    <interviewLabel>FFX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAM Inherit Depreciation Book &amp; Method on Asset Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Applied_Method</name>
        <label>Create Applied Method</label>
        <locationX>205</locationX>
        <locationY>429</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varFixedAssetCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Depreciation_Book__c</field>
            <value>
                <elementReference>varDepreciationBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Depreciation_Method__c</field>
            <value>
                <elementReference>varDepreciationMethodID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Effective_Date__c</field>
            <value>
                <elementReference>varADMEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Applied_Depreciation_Method__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Depreciation_Book</name>
        <label>Create Depreciation Book</label>
        <locationX>362</locationX>
        <locationY>215</locationY>
        <assignRecordIdToReference>varDepreciationBookID</assignRecordIdToReference>
        <connector>
            <targetReference>Needs_Method</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varFixedAssetCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Fixed_Asset__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Service_Life_in_Years__c</field>
            <value>
                <elementReference>varServiceLifeYears</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAM__Time_Period_Basis__c</field>
            <value>
                <elementReference>varTimePeriodBasis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmlDepreciationBookName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varAccountingBookRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>FAM__Depreciation_Book__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AB_Record_Type</name>
        <label>Get AB Record Type</label>
        <locationX>362</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Depreciation_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset_Accounting_Book</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FAM__Depreciation_Book__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varAccountingBookRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_AGAB_Record_Type</name>
        <label>Get AGAB Record Type</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ASGAB_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset_Group_Accounting_Book</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FAM__Depreciation_Book__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varAGABRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ASGAB_Record_Type</name>
        <label>Get ASGAB Record Type</label>
        <locationX>362</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Types_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset_Sub_Group_Accounting_Book</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FAM__Depreciation_Book__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varASGABRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Details</name>
        <label>Get Asset Details</label>
        <locationX>716</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Group_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FAM__Fixed_Asset__c</object>
        <outputAssignments>
            <assignToReference>varFixedAssetCurrencyISOCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetCost</assignToReference>
            <field>FAM__Asset_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetGroupID</assignToReference>
            <field>FAM__Asset_Group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetSubGroupID</assignToReference>
            <field>FAM__Asset_Sub_Group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFixedAssetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Depreciation_Method</name>
        <label>Get Depreciation Method</label>
        <locationX>362</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Depreciation_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Depreciation_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSourceDepreciationBookID</elementReference>
            </value>
        </filters>
        <object>FAM__Applied_Depreciation_Method__c</object>
        <outputAssignments>
            <assignToReference>varDepreciationMethodID</assignToReference>
            <field>FAM__Depreciation_Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varADMEffectiveDate</assignToReference>
            <field>FAM__Effective_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSourceAppliedDepreciationMethodID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Accounting_Book</name>
        <label>Get Group Accounting Book</label>
        <locationX>716</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Book_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Asset_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAGABRecordTypeID</elementReference>
            </value>
        </filters>
        <object>FAM__Depreciation_Book__c</object>
        <outputAssignments>
            <assignToReference>varSourceDepreciationBookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_DB_Details</name>
        <label>Get Source DB Details</label>
        <locationX>531</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AB_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSourceDepreciationBookID</elementReference>
            </value>
        </filters>
        <object>FAM__Depreciation_Book__c</object>
        <outputAssignments>
            <assignToReference>varSalvageValue</assignToReference>
            <field>FAM__Salvage_Value__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varServiceLifeYears</assignToReference>
            <field>FAM__Service_Life_in_Years__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTimePeriodBasis</assignToReference>
            <field>FAM__Time_Period_Basis__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sub_Group_Accounting_Book</name>
        <label>Get Sub-Group Accounting Book</label>
        <locationX>531</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Group_Book_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FAM__Asset_Sub_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetSubGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varASGABRecordTypeID</elementReference>
            </value>
        </filters>
        <object>FAM__Depreciation_Book__c</object>
        <outputAssignments>
            <assignToReference>varSourceDepreciationBookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_AGAB_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountingBookRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varADMEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAGABRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varASGABRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetSubGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDepreciationBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDepreciationMethodID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFixedAssetCurrencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFixedAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalvageValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varServiceLifeYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSourceAppliedDepreciationMethodID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSourceDepreciationBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimePeriodBasis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
