config/flow-metadata-active/flows/FFXSCM_Process_Invoice_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>FFXSCM - Process Invoice Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFXSCM - Process Invoices</label>
    <loops>
        <name>invoice_Line</name>
        <label>invoice Line</label>
        <locationX>1088</locationX>
        <locationY>306</locationY>
        <collectionReference>invoice_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Process_Line</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>invoice_lines</name>
        <label>invoice lines</label>
        <locationX>1087</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invoice_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Invoicing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inInvoice.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>960</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>invoice_lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Process_Line</name>
        <label>Process Line</label>
        <locationX>1251</locationX>
        <locationY>397</locationY>
        <connector>
            <targetReference>invoice_Line</targetReference>
        </connector>
        <flowName>FFXSCM_Process_Invoice_Lines</flowName>
        <inputAssignments>
            <name>inInvoiceLines</name>
            <value>
                <elementReference>invoice_Line</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>inInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Invoicing__c</objectType>
    </variables>
</Flow>
