config/flow-metadata-active/flows/FFXSCM_Update_SCM_Transaction_with_PO_details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_PO</name>
        <label>Set PO</label>
        <locationX>3504</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.FFX_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__PayableCreditNote__r.SCMFFA__AP_Voucher_Credit__r.SCMC__Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_PO</name>
        <label>Copy 2 of Set PO</label>
        <locationX>3130</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.FFX_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pay_Credit_Line.SCMFFA__AP_Voucher_Line_Credit__r.SCMC__Purchase_Order_Line_Item__r.SCMC__Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FFX_POLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pay_Credit_Line.SCMFFA__AP_Voucher_Line_Credit__r.SCMC__Purchase_Order_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PO</name>
        <label>Set PO</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.FFX_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__Journal__r.SCMFFA__SCM_Perpetual_Transaction__r.SCMC__Purchase_Order_Line_Item__r.SCMC__Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FFX_POLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__Journal__r.SCMFFA__SCM_Perpetual_Transaction__r.SCMC__Purchase_Order_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PO2</name>
        <label>Set PO</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.FFX_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__Journal__r.SCMFFA__SCM_Perpetual_Transaction__r.SCMC__Receipt_Line__r.SCMC__Purchase_Order_Line_Item__r.SCMC__Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FFX_POLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__Journal__r.SCMFFA__SCM_Perpetual_Transaction__r.SCMC__Receipt_Line__r.SCMC__Purchase_Order_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PO3</name>
        <label>Set PO</label>
        <locationX>1964</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.FFX_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__PayableInvoice__r.SCMFFA__AP_Voucher__r.SCMC__Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Analysis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PO4</name>
        <label>Set PO</label>
        <locationX>1546</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.FFX_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pay_Inv_Line.SCMFFA__AP_Voucher_Line__r.SCMC__Purchase_Order_Line_Item__r.SCMC__Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FFX_POLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pay_Inv_Line.SCMFFA__AP_Voucher_Line__r.SCMC__Purchase_Order_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PO5</name>
        <label>Set PO</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.FFX_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Line.FFX_PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FFX_POLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Line.FFX_POLine__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Analysis</name>
        <label>Analysis</label>
        <locationX>1964</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AnalysisYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__LineType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pay_Inv_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Analysis</name>
        <label>Copy 1 of Analysis</label>
        <locationX>3504</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AnalysisLineYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__LineType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pay_Credit_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_PayInvPOLine</name>
        <label>Copy 1 of PayInvPOLine</label>
        <locationX>3262</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Credit_Line.SCMFFA__AP_Voucher_Line_Credit__r.SCMC__Purchase_Order_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Pay_Credit_Line.SCMFFA__AP_Voucher_Line_Credit__r.SCMC__Purchase_Order_Line_Item__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_PO</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_PO_line_Related</name>
        <label>Copy 1 of PO line Related</label>
        <locationX>3262</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No_Credit_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Credit_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>No Record</label>
        </rules>
        <rules>
            <name>APCreditYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Credit_Line.SCMFFA__AP_Voucher_Line_Credit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_PayInvPOLine</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_SCM_APV</name>
        <label>Copy 1 of SCM APV</label>
        <locationX>3713</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SCMAPCreditYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__PayableCreditNote__r.SCMFFA__AP_Voucher_Credit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_PO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ITPRSource</name>
        <label>ITPRSource</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ITPRSourcePOLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__Journal__r.SCMFFA__SCM_Perpetual_Transaction__r.SCMC__Purchase_Order_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PO</targetReference>
            </connector>
            <label>Purchase Order Line</label>
        </rules>
        <rules>
            <name>Receipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__Journal__r.SCMFFA__SCM_Perpetual_Transaction__r.SCMC__Receipt_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PO2</targetReference>
            </connector>
            <label>Receipt</label>
        </rules>
    </decisions>
    <decisions>
        <name>PayInvPOLine</name>
        <label>PayInvPOLine</label>
        <locationX>1678</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PayInvPOLineYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Inv_Line.SCMFFA__AP_Voucher_Line__r.SCMC__Purchase_Order_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Pay_Inv_Line.SCMFFA__AP_Voucher_Line__r.SCMC__Purchase_Order_Line_Item__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PO4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_Entered_in_Journal</name>
        <label>PO Entered in Journal</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PO_Entered_in_JournalYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Journal_Line.FFX_PO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Journal_Line.FFX_PO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PO5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_line_Related</name>
        <label>PO line Related</label>
        <locationX>1678</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Inv_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>No Record</label>
        </rules>
        <rules>
            <name>PO_line_RelatedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Inv_Line.SCMFFA__AP_Voucher_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PayInvPOLine</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_SCM</name>
        <label>Related to SCM</label>
        <locationX>2547</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Journal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__Journal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCM_Journal</targetReference>
            </connector>
            <label>Journal</label>
        </rules>
        <rules>
            <name>Payable_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__PayableInvoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCM_Payable_Invoice</targetReference>
            </connector>
            <label>Payable Invoice</label>
        </rules>
        <rules>
            <name>Payable_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__PayableCreditNote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCM_Payable_Credit_Note</targetReference>
            </connector>
            <label>Payable Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCM_APV</name>
        <label>SCM APV</label>
        <locationX>2195</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCMAPVYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__PayableInvoice__r.SCMFFA__AP_Voucher__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PO3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCM_Journal</name>
        <label>SCM Journal</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Journal_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SCM_JournalYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__Journal__r.SCMFFA__SCM_Perpetual_Transaction__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ITPRSource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCM_Payable_Credit_Note</name>
        <label>SCM Payable Credit Note</label>
        <locationX>3949</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SCMPayableCreditNoteYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__PayableCreditNote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SCM_APV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SCM_Payable_Invoice</name>
        <label>SCM Payable Invoice</label>
        <locationX>2442</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SCM_Payable_InvoiceYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.c2g__Transaction__r.c2g__PayableInvoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCM_APV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TransLineMin1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.c2g__LineNumber__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FFXSCM - Update SCM Transaction with PO details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFXSCM - Update SCM Transaction with PO details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pay_Credit_Line</name>
        <label>Get Pay Credit Line</label>
        <locationX>3262</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_PO_line_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__LineNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransLineMin1</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__PurchaseCreditNote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__PayableCreditNote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaPurchaseCreditNoteLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Inv_Line</name>
        <label>Get Pay Inv Line</label>
        <locationX>1678</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_line_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__LineNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransLineMin1</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__PurchaseInvoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__PayableInvoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaPurchaseInvoiceLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Journal_Line</name>
        <label>Journal Line</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Entered_in_Journal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Journal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.c2g__Transaction__r.c2g__Journal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__LineNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.c2g__LineNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaJournalLineItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FFX_PO__c</queriedFields>
        <queriedFields>FFX_POLine__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>2547</locationX>
        <locationY>1799</locationY>
        <inputAssignments>
            <field>FFX_POLine__c</field>
            <value>
                <elementReference>$Record.FFX_POLine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_PO__c</field>
            <value>
                <elementReference>$Record.FFX_PO__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2421</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_SCM</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FFX_PO__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FFX_PO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>c2g__codaTransactionLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
