config/flow-metadata-active/flows/FFXSCM_Process_Invoice_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Inv_Trans_Fin</name>
        <label>Create Inv Trans Fin</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <actionName>GenericObjectOperationBatchLauncher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdTransactions</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>SCMC__Inventory_Transaction_Financial_Records__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>insert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>UpdFins</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scopeSize</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GenericObjectOperationBatchLauncher</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_ITFR</name>
        <label>Set ITFR</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>inv_line.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inv_line.SCMC__Trade_Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTradeUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inv_line.SCMC__Trade_Value_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlNegTradeVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inv_line.SCMC__ICP_Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>negICPUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inv_line.SCMC__ICP_Value_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlNegICPVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inv_line.SCMC__Inventory_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdTrans.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdFins</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inv_line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdTrans.SCMC__Export_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inv_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ITPR</name>
        <label>set ITPR</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UpdTrans</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inv_Transaction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdTrans.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdTrans.SCMC__Export_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdTrans.SCMFFA__FF_Journal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFirst</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reverse_Bill</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_First</name>
        <label>First</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_ITFR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>If_FirstYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFirst</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_ITPR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transactions_found</name>
        <label>Transactions found</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Transactions_foundyes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inv_Transaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inv_Financial</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlNegICPVal</name>
        <dataType>Number</dataType>
        <expression>{!inv_line.SCMC__ICP_Value_Amount__c} * -1</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>fmlNegTradeVal</name>
        <dataType>Number</dataType>
        <expression>{!inv_line.SCMC__Trade_Value_Amount__c} * -1</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>fmlTradeUnit</name>
        <dataType>Number</dataType>
        <expression>{!inv_line.SCMC__Trade_Unit_Cost__c} * -1</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>negICPUnit</name>
        <dataType>Number</dataType>
        <expression>{!inv_line.SCMC__ICP_Unit_Cost__c} * -1</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>FFXSCM - Process Invoice Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFXSCM - Process Invoice Lines</label>
    <loops>
        <name>inv_line</name>
        <label>inv_lLne</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Inv_Financial</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_First</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Inv_Trans_Fin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>reverse_Bill</name>
        <label>reverse Bill</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Set_ITFR</targetReference>
        </connector>
        <inputReference>UpdTrans</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Inv_Financial</name>
        <label>Inv Financial</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>inv_line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Inventory_Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inv_Transaction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Inventory_Transaction_Financial_Records__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inv_Transaction</name>
        <label>Inv Transaction</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transactions_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMFFA__Invoice_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inInvoiceLines.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Inventory_Transactions__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bill Drop Ship Item</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCMC__Inventory_Transaction_Perpetual_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdTransactions</name>
        <label>UpdTransactions</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <inputReference>UpdTrans</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inv_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inInvoiceLines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>UpdFins</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Inventory_Transaction_Financial_Records__c</objectType>
    </variables>
    <variables>
        <name>UpdTrans</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Inventory_Transaction_Perpetual_Record__c</objectType>
    </variables>
    <variables>
        <name>varFirst</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
