config/flow-metadata-active/flows/Invoice_Line_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Quantity</name>
        <label>Add to Quantity</label>
        <locationX>930</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filter.SCMC__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_Sales_order_lines</name>
        <label>assing Sales order lines</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>salesOrderLines</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Order_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>picklistDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGetLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assing_Sales_order_lines</name>
        <label>Copy 1 of assing Sales order lines</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>salesOrderLines</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Sales_Order_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>picklistDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGetLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Add_to_Error_Text</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Add to Error Text</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Drop Ship Line </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGetLines.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> has not been shipped.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGetLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Add_to_Error_Text</name>
        <label>Copy 1 of Copy 2 of Add to Error Text</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Inventory Line </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGetLines.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> has not been shipped.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGetLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_to_Error_Text</name>
        <label>Copy 2 of Add to Error Text</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Inventory Line </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGetLines.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> has no Picklists associated.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Copy_2_of_Add_to_Error_Text</name>
        <label>Copy 2 of Copy 1 of Copy 2 of Add to Error Text</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Drop Ship Line </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGetLines.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> has no PO associated to the line.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issuesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Line_is_Shipped</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_to_0</name>
        <label>Count to 0</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>picklistCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_if_picklists_Exist</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Picklist</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Picklist</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <assignNextValueToReference>currentItem_Filter_Picklist</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>picklistDetails</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Picklist.SCMC__Sales_Order_Line_Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopGetLines.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_to_0</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Drop_Ship_PO</name>
        <label>Check for Record Type PO</label>
        <locationX>776</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>LoopGetLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DropShip_doesn_t_have_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopGetLines.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopGetLines.SCMC__Purchase_Order_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_2_of_Add_to_Error_Text</targetReference>
            </connector>
            <label>DropShip doesn&apos;t have PO</label>
        </rules>
        <rules>
            <name>Inventory_Has_No_picklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopGetLines.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Picklist</targetReference>
            </connector>
            <label>Inventory Has No picklist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Invoice_Exists</name>
        <label>Check if Invoice Exists</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Sales_Order_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lines</targetReference>
            </connector>
            <label>Invoice Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_any_Errors</name>
        <label>Check if there are any Errors</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Errors_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>issuesText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OP_Owner_Id</targetReference>
            </connector>
            <label>Errors Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Line_is_Shipped</name>
        <label>Check Line is Shipped</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>LoopGetLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Line_Not_Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopGetLines.SCMC__Quantity_Shipped__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LoopGetLines.SCMC__Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopGetLines.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Ship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Add_to_Error_Text</targetReference>
            </connector>
            <label>Line Not Shipped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shipment_Count</name>
        <label>Check Shipment Count</label>
        <locationX>842</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>LoopGetLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipment_Count_Mismatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LoopGetLines.SCMC__Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Add_to_Error_Text</targetReference>
            </connector>
            <label>Shipment Count Mismatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_if_picklists_Exist</name>
        <label>Confirm if picklists Exist</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Loop_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Picklists_for_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>picklistCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Add_to_Error_Text</targetReference>
            </connector>
            <label>No Picklists for Item</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>chatterPostText</name>
        <dataType>String</dataType>
        <expression>&quot;#[Invoicing Errors]&quot; &amp; BR() &amp;
&quot;@[&quot; &amp; {!Get_Invoice.SCMC__Sales_Order__r.OP_Owner__r.Id} &amp; &quot;]&quot; &amp; &quot; - &quot; &amp; {!issuesText} &amp;
&quot;@[0F98e000000CkxSCAS]&quot;</expression>
    </formulas>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>returnLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Invoice Line Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Line Check</label>
    <loops>
        <name>Loop_Filter</name>
        <label>Loop Filter</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <collectionReference>Filter_Picklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Shipment_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopGetLines</name>
        <label>LoopGetLines</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>salesOrderLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Drop_Ship_PO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_there_are_any_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Picklist</name>
        <label>Copy 1 of Get Picklist</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_assing_Sales_order_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Pick_list_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Sales_Order_Lines</name>
        <label>Copy 1 of Get Sales Order Lines</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Picklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Sales_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Invoice_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCMC__Invoicing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lines</name>
        <label>Get Lines</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Order_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Invoicing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Invoice_Line_Item__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OP_Owner_Id</name>
        <label>Get OP Owner Id</label>
        <locationX>50</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.SCMC__Sales_Order__r.OP_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Picklist</name>
        <label>Get Picklist</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assing_Sales_order_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.SCMC__Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Pick_list_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Lines</name>
        <label>Get Sales Order Lines</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Picklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.SCMC__Sales_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Sales_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>314</locationX>
        <locationY>2474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_errorText</name>
            <fieldText>&lt;p&gt;{!Get_Invoice.Name} is ready to be pushed to FFA&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Please see below errors:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!issuesText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Picklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Pick_list_Detail__c</objectType>
    </variables>
    <variables>
        <name>issuesText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinesNeedingSerialNo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>picklistCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>picklistDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Pick_list_Detail__c</objectType>
    </variables>
    <variables>
        <name>picklists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Picklist__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesOrderLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Sales_Order_Line_Item__c</objectType>
    </variables>
</Flow>
