config/flow-metadata-active/flows/ION_Update_SO_with_FFA_Cmp_Name_from_Warehouse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>ION Update SO with FFA Cmp Name from Warehouse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ION Update SO with FFA Cmp Name from Warehouse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get FFA Company Record</description>
        <name>Get_FFACmp</name>
        <label>Get FFACmp</label>
        <locationX>682</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateSO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FFACmpId</elementReference>
            </value>
        </filters>
        <object>c2g__codaCompany__c</object>
        <outputAssignments>
            <assignToReference>FFACmpName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ICP</name>
        <label>Get ICP</label>
        <locationX>585</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FFACmp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICPId</elementReference>
            </value>
        </filters>
        <object>SCMC__ICP__c</object>
        <outputAssignments>
            <assignToReference>FFACmpId</assignToReference>
            <field>SCMFFA__Company__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SO</name>
        <label>Get SO</label>
        <locationX>402</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Wh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOId</elementReference>
            </value>
        </filters>
        <object>SCMC__Sales_Order__c</object>
        <outputAssignments>
            <assignToReference>WhId</assignToReference>
            <field>SCMC__Warehouse__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Warehouse</description>
        <name>Get_Wh</name>
        <label>Get Wh</label>
        <locationX>493</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ICP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhId</elementReference>
            </value>
        </filters>
        <object>SCMC__Warehouse__c</object>
        <outputAssignments>
            <assignToReference>ICPId</assignToReference>
            <field>SCMC__ICP__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update SO record</description>
        <name>UpdateSO</name>
        <label>UpdateSO</label>
        <locationX>771</locationX>
        <locationY>66</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ION_Warehouse_Company_Name__c</field>
            <value>
                <elementReference>FFACmpName</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Sales_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>FFA Company Id</description>
        <name>FFACmpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FFACmpName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of ICP record</description>
        <name>ICPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Warehouse Id</description>
        <name>WhId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
