config/flow-metadata-active/flows/ION_Update_PO_with_FFA_Cmp_Name_from_Warehouse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>ION Update PO with FFA Cmp Name from Warehouse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ION Update PO with FFA Cmp Name from Warehouse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FFA_Company</name>
        <label>Get FFA Company</label>
        <locationX>735</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FFACmpId</elementReference>
            </value>
        </filters>
        <object>c2g__codaCompany__c</object>
        <outputAssignments>
            <assignToReference>CompanyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>ICP</description>
        <name>Get_ICP</name>
        <label>Get ICP</label>
        <locationX>636</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FFA_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICPId</elementReference>
            </value>
        </filters>
        <object>SCMC__ICP__c</object>
        <outputAssignments>
            <assignToReference>FFACmpId</assignToReference>
            <field>SCMFFA__Company__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PO</name>
        <label>Get PO</label>
        <locationX>421</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POId</elementReference>
            </value>
        </filters>
        <object>SCMC__Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>WarehouseId</assignToReference>
            <field>SCMC__Ship_To_Warehouse__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetWh</name>
        <label>GetWh</label>
        <locationX>528</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ICP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WarehouseId</elementReference>
            </value>
        </filters>
        <object>SCMC__Warehouse__c</object>
        <outputAssignments>
            <assignToReference>ICPId</assignToReference>
            <field>SCMC__ICP__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update PO with ICP Cmp Id</description>
        <name>UpdatePO</name>
        <label>UpdatePO</label>
        <locationX>831</locationX>
        <locationY>67</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>POId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ION_FFA_Cmp_Id__c</field>
            <value>
                <elementReference>FFACmpId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ION_FFA_Cmp_Name__c</field>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Purchase_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>FFA Company Name</description>
        <name>CompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>FFA CmpId from ICP</description>
        <name>FFACmpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ICP Record Id</description>
        <name>ICPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Purchase Order Id</description>
        <name>POId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
