config/flow-metadata-active/flows/M2_Picklist_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Picklist</name>
        <label>Email Picklist</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <actionName>SCMC__Picklist__c.M2_Picklist_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SCMC__Picklist__c.M2_Picklist_Email</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_M2_Count</name>
        <label>Add to M2 Count</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CountM2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Record_Count</name>
        <label>Add to Record Count</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CountRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Warehouse</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counts</name>
        <label>Check Counts</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>M2_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountM2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Picklist</targetReference>
            </connector>
            <label>M2 Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Warehouse</name>
        <label>Check Warehouse</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>M2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Details.SCMC__Issueing_Warehouse__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>M2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_M2_Count</targetReference>
            </connector>
            <label>M2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>M2 Picklist Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>M2 Picklist Email</label>
    <loops>
        <name>Loop_Details</name>
        <label>Loop Details</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Record_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Details</name>
        <label>Get Details</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Pick_list_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Details</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Shipper__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SCMC__Picklist__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountM2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
