config/flow-metadata-active/flows/MACD_Duplicate_Checker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_Value_to_True</name>
        <label>Copy 1 of Set Value to True</label>
        <locationX>264</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Serial_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Value_to_True</name>
        <label>Set Value to True</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Serial_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Serial</name>
        <label>Check Serial</label>
        <locationX>396</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_Array</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Serial_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Current_Array.Asset__r.SerialNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Value_to_True</targetReference>
            </connector>
            <label>Serial Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serial_in_New</name>
        <label>Check Serial in New</label>
        <locationX>396</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Loop_New_Array</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Serial_Matches_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_New_Array.Asset_Serial_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Value_to_True</targetReference>
            </connector>
            <label>Serial Matches New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MACD Duplicate Checker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MACD Duplicate Checker</label>
    <loops>
        <name>Loop_Current_Array</name>
        <label>Loop Current Array</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>Current_Line_Array</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Serial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_New_Array</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_New_Array</name>
        <label>Loop New Array</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>New_Line_Array</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Serial_in_New</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Current_Array</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Line_Array</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>New_Line_Array</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Serial_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>serialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
