config/flow-metadata-active/flows/MACD_Attach_Opp_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Update</name>
        <label>Add to Update</label>
        <locationX>754</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>FilesCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Files</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MACD</name>
        <label>Assign MACD</label>
        <locationX>754</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>Loop_Files.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Files.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_Variable_Run</name>
        <label>Temp Variable Run</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Existing_Documents</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Existing Documents</label>
        <locationX>886</locationX>
        <locationY>600</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Existing_Documents</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_MACD_Files</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Existing_Documents.ContentDocumentId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Files.ContentDocumentId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_for_Existing</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Existing</name>
        <label>Check for Existing</label>
        <locationX>886</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Loop_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_File</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Filter_for_Existing_Documents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filter_for_Existing_Documents</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MACD</targetReference>
            </connector>
            <label>Existing File</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Links</name>
        <label>Check for Links</label>
        <locationX>666</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Create_Document_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Documents</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FilesCreation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilesCreation</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Documents</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MACD - Attach Opp Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MACD - Attach Opp Documents</label>
    <loops>
        <name>Loop_Files</name>
        <label>Loop Files</label>
        <locationX>666</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Files_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_for_Existing_Documents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Document_Links</name>
        <label>Create Document Links</label>
        <locationX>754</locationX>
        <locationY>1308</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>FilesCreation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Files_Opp</name>
        <label>Get Files Opp</label>
        <locationX>666</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MACD_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Files</name>
        <label>Get MACD Files</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Temp_Variable_Run</targetReference>
        </connector>
        <object>MACD__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Copy_Records</name>
            <connector>
                <targetReference>Get_Files_Opp</targetReference>
            </connector>
            <label>Copy Records</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1200</triggerOrder>
    <variables>
        <name>currentItem_Filter_for_Existing_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>FilesCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
