config/flow-metadata-active/flows/Non_Customer_Reallocation_Sub_Flow_Assign_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Loop_Selected_Rows.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Selected_Rows.Reallocated_Time_Stamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Array</name>
        <label>Assign to Array</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AccountChangeArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Rows</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Date_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Non-Customer Reallocation Sub-Flow - Assign Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Non-Customer Reallocation Sub-Flow - Assign Owners</label>
    <loops>
        <name>Loop_Selected_Rows</name>
        <label>Loop Selected Rows</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>Selected_Accounts_Loop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Owners</name>
        <label>Update Owners</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>AccountChangeArray</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Selected_Rows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountChangeArray</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Selected_Accounts_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
