config/flow-metadata-active/flows/Opportunity_Compliance_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Business_Hours</name>
        <label>Calculate Business Hours</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <actionName>BusinessHoursCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_Count</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>Get_Business_Hours.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completedDate</name>
            <value>
                <elementReference>Loop_Processes.CompletedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createdDate</name>
            <value>
                <elementReference>Loop_Processes.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BusinessHoursCalculator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Count</name>
        <label>Add to Count</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>businessHoursCalculated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Business_Hours.totalHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Processes</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity Compliance Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Compliance Calculation</label>
    <loops>
        <name>Loop_Processes</name>
        <label>Loop Processes</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Process_Instances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Business_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Time_til_compliant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Hours</name>
        <label>Get Business Hours</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Instances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instances</name>
        <label>Get Process Instances</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Processes</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>ProcessDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>04a8e000000KynoAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProcessDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>04a8e000000KynnAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>CompletedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Time_til_compliant</name>
        <label>Update Time til compliant</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Compliance_Owner__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_to_Compliant_Order__c</field>
            <value>
                <elementReference>businessHoursCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Business_Hours</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>680</triggerOrder>
    <variables>
        <name>businessHoursCalculated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
