config/flow-metadata-active/flows/Opportunity_Asset_MACD_Generator3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Accessory_Details</name>
        <label>Add Accessory Details</label>
        <locationX>1634</locationX>
        <locationY>5660</locationY>
        <assignmentItems>
            <assignToReference>assetConfig</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Children.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetConfig</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asset_to_Array</name>
        <label>Add Asset to Array</label>
        <locationX>1370</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>AssetsMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Parent_Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_MACD_Lines_to_Array</name>
        <label>Add MACD Lines to Array</label>
        <locationX>1898</locationX>
        <locationY>6758</locationY>
        <assignmentItems>
            <assignToReference>MACDLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MacdLineItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Asset_Info_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_MACD_to_Array</name>
        <label>Add MACD to Array</label>
        <locationX>138</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>MACDCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_MACDs_in_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MACDs_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_asset_Counter</name>
        <label>Add to asset Counter</label>
        <locationX>1634</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>assetCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Parent_and_Accessory_path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Child_Asset_Array</name>
        <label>Add to Child Asset Array</label>
        <locationX>1306</locationX>
        <locationY>3428</locationY>
        <assignmentItems>
            <assignToReference>ChildAssetMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Asset_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_asset_Counter_Value</name>
        <label>Assign asset Counter Value</label>
        <locationX>1634</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>assetCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_asset_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Variables</name>
        <label>Assign Asset Variables</label>
        <locationX>1370</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Site_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Location_At_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Name_Generator.assetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Deliver_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Has_Managed_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Has_Managed_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Parent_Product_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.Opportunity_Line_Item_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Parent_Asset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Site_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Assets</name>
        <label>Assign Child Assets</label>
        <locationX>974</locationX>
        <locationY>4112</locationY>
        <assignmentItems>
            <assignToReference>ChildAssetMultiple</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_null_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Child_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counter_Value</name>
        <label>Assign Counter Value</label>
        <locationX>1502</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id</name>
        <label>Assign Id</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>macdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MACDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MACDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MACD_Status</name>
        <label>Assign MACD Status</label>
        <locationX>1018</locationX>
        <locationY>4736</locationY>
        <assignmentItems>
            <assignToReference>Get_MACD.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MACD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Config_Variable</name>
        <label>Assing Config Variable</label>
        <locationX>1546</locationX>
        <locationY>5336</locationY>
        <assignmentItems>
            <assignToReference>assetConfig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetConfig</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetConfig</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assets.Location.Site_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Child_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Asset_Assignments</name>
        <label>Child Asset Assignments</label>
        <locationX>1306</locationX>
        <locationY>3320</locationY>
        <assignmentItems>
            <assignToReference>ChildAsset.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Asset_Collection.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Opportunity_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Asset_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Asset_Collection.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Asset_Collection.Site_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Asset_Collection.Deliver_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Parent_Product_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Asset_Collection.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Asset_Collection.Location_At_Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Child_Asset_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Asset_Info_Values</name>
        <label>Clear Asset Info Values</label>
        <locationX>1898</locationX>
        <locationY>6866</locationY>
        <assignmentItems>
            <assignToReference>Serial_Number_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Location_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Number_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIN_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BID_Number_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIM_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Install_Date_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mono_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Colour_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mono_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Colour_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Large_Mono_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Large_Colour_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Large_Mono_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Large_Colour_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XLS_Mono_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XLS_Colour_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XLS_Mono_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XLS_Colour_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Basic_Cost_Commitment_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Basic_Cost_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Currency_Type_Cost_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cost_Frequency_Temp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Parent_Path</name>
        <label>Complete Parent Path</label>
        <locationX>1106</locationX>
        <locationY>3788</locationY>
        <assignmentItems>
            <assignToReference>ParentsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Child_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_MACD_Lines_to_Array</name>
        <label>Copy 1 of Add MACD Lines to Array</label>
        <locationX>1722</locationX>
        <locationY>8882</locationY>
        <assignmentItems>
            <assignToReference>MACDLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MacdLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Accessory_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Child_Asset_Array</name>
        <label>Copy 1 of Add to Child Asset Array</label>
        <locationX>1722</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ChildAssetMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_MACD_Status</name>
        <label>Copy 1 of Assign MACD Status</label>
        <locationX>1546</locationX>
        <locationY>8282</locationY>
        <assignmentItems>
            <assignToReference>Get_MACD.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_MACD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Child_Asset_Assignments</name>
        <label>Copy 1 of Child Asset Assignments</label>
        <locationX>1722</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ChildAsset.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accessories.Parent_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accessories.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Opportunity_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accessories.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accessories.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accessories.Parent_Asset__r.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accessories.Parent_Asset__r.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Parent_Product_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accessories.Parent_Asset__r.Location_at_Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Child_Asset_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Add_to_Child_Asset_Array</name>
        <label>Copy 1 of Copy 1 of Add to Child Asset Array</label>
        <locationX>2026</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ChildAssetMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Managed_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Child_Asset_Assignments</name>
        <label>Copy 1 of Copy 1 of Child Asset Assignments</label>
        <locationX>2026</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ChildAsset.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Services.Parent_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Services.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Opportunity_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Services.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Services.Parent_Asset__r.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Services.Parent_Asset__r.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Parent_Product_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Services.Parent_Asset__r.Location_at_Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Add_to_Child_Asset_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Child_Asset_Assignments</name>
        <label>Copy 1 of Copy 2 of Child Asset Assignments</label>
        <locationX>1218</locationX>
        <locationY>2888</locationY>
        <assignmentItems>
            <assignToReference>ChildAsset.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Opportunity_Line_Item_Lookup__r.Associated_Managed_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Opportunity_Line_Item_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Opportunity_Line_Item_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Opportunity_Line_Item_Lookup__r.Associated_Managed_Service__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Site_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parents.Deliver_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Parent_Product_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAsset.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets.Location_at_Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_2_of_Add_to_Child_Asset_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_MACD_Line_Item</name>
        <label>Copy 1 of Set MACD Line Item</label>
        <locationX>1722</locationX>
        <locationY>8774</locationY>
        <assignmentItems>
            <assignToReference>MacdLineItem.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Accessory_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.MACD_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>macdId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Accessory_Assets.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.MACD_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Site_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Accessory_Assets.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Accessory_Assets.Location_at_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Proposed_Move_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Accessory_Assets.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Accessory_Assets.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_MACD_Lines_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_2_of_Add_to_Child_Asset_Array</name>
        <label>Copy 2 of Copy 2 of Add to Child Asset Array</label>
        <locationX>1218</locationX>
        <locationY>2996</locationY>
        <assignmentItems>
            <assignToReference>ChildAssetMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Child_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to confirm to Sales Order MACD Update parent flow that user has exited flow.</description>
        <name>Parent_Flow_Exit_Confirmation</name>
        <label>Parent Flow Exit Confirmation</label>
        <locationX>1326</locationX>
        <locationY>6734</locationY>
        <assignmentItems>
            <assignToReference>User_Exited_Flow_Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Collections</name>
        <label>Reset Collections</label>
        <locationX>1106</locationX>
        <locationY>7550</locationY>
        <assignmentItems>
            <assignToReference>AssetsMultiple</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAssetMultiple</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MACDCollections</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MACDLineItems</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns the Screen Values in Asset Information to Temp Variables. This is so that they can be cleared after the MACD Line assignment (to avoid screen data being added to Accessories).</description>
        <name>Set_Asset_Info_Values</name>
        <label>Set Asset Info Values</label>
        <locationX>1898</locationX>
        <locationY>6542</locationY>
        <assignmentItems>
            <assignToReference>Serial_Number_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Location_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_at_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Number_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PIN_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BID_Number_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bid_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIM_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BIM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Install_Date_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installed_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mono_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mono_Meter_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Colour_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Colour_Meter_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mono_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mono_Start_Meter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Colour_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Colour_Start_Meter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Large_Mono_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Mono_Meter_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Large_Colour_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Colour_Meter_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Large_Mono_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Mono_Start_Meter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Large_Colour_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Colour_Start_Meter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XLS_Mono_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Mono_Meter_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XLS_Colour_Meter_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Colour_Meter_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XLS_Mono_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Mono_Start_Meter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XLS_Colour_Start_Meter_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Colour_Start_Meter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Basic_Cost_Commitment_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Basic_Cost_Commitment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other_Basic_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Basic_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Currency_Type_Cost_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency_Type_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cost_Frequency_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_Frequency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MACD_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MACD_Line_Item</name>
        <label>Set MACD Line Item</label>
        <locationX>1898</locationX>
        <locationY>6650</locationY>
        <assignmentItems>
            <assignToReference>MacdLineItem.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.MACD_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>macdId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.MACD_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Site_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Location_at_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Proposed_Move_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Assets.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Location_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Date_Meters_Captured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Colour_Meter_Readings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Colour_Start_Meter_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Mono_Meter_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mono_Start_Meter_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Large_Mono_Readings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Mono_Start_Meter_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Large_Colour_Readings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Colour_Start_Meter_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.XLS_Meter_Readings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Mono_Start_Meter_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Mono_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mono_Meter_Cost_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Colour_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Colour_Meter_Cost_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Large_Colour_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Colour_Meter_Cost_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.XLS_Mono_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Mono_Meter_Cost_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.XLS_Colour_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Colour_Meter_Cost_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Contract_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Number_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Pin_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PIN_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Large_Mono_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_Mono_Meter_Cost_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Bid_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BID_Number_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Mono_Meter_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Mono_Meter_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Colour_Meter_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Colour_Meter_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Large_Colour_Meter_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Large_Colour_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Large_Mono_Meter_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Large_Mono_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.XLS_Mono_Meter_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.XLS_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Mono_Inclusive_Copies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Mono_Inclusive_Copies__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Colour_Inclusive_Copies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Colour_Inclusive_Copies__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Basic_charge_Commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Basic_Charge_Commitment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Other_Basic_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Other_Basic_Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.MPS_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.MPS_Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Internal_Rental_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Internal_Rental_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Currency_Type_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Currency_Type_Charge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Charge_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Charge_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Pin_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PIN_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Bid_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BID_Number_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.BIM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BIM_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Install_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installed_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.XLS_Colour_Meter_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XLS_Colour_Meter_Cost_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Assets.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installed_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Service_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.Associated_Managed_Service__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Total_Impressions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalImpressions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.Asset_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MacdLineItem.XLS_Colour_Meter_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Opportunity_Line_Item_Lookup__r.XLS_Colour_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Assets.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Location_Temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_MACD_Lines_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MACD_Status</name>
        <label>Update MACD Status</label>
        <locationX>138</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Loop_MACDs_in_List.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_MACDs_in_List.Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.link_Opp2SO_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_MACD_to_Array</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ConfirmExittheFlow</name>
        <choiceText>Confirm Exit Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Exit Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exit_Flow</name>
        <choiceText>Exit Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit Flow</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Child_Accessories</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Child Accessories</label>
        <locationX>1218</locationX>
        <locationY>3104</locationY>
        <assignNextValueToReference>currentItem_Filter_Child_Accessories</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Accessories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Child_Accessories.Parent_Opportunity_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Over_Assets.Opportunity_Line_Item_Lookup__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Asset_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Child_Info</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Child Info</label>
        <locationX>1546</locationX>
        <locationY>5444</locationY>
        <assignNextValueToReference>currentItem_Filter_Child_Info</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ChildAssetMultiple</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Child_Info.ParentId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Assets.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Children</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_null_products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter null products</label>
        <locationX>974</locationX>
        <locationY>4004</locationY>
        <assignNextValueToReference>currentItem_Filter_null_products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ChildAssetMultiple</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_null_products.Product2Id</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Child_Assets</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_there_child_assets</name>
        <label>Are there child assets?</label>
        <locationX>1326</locationX>
        <locationY>6434</locationY>
        <defaultConnector>
            <targetReference>Parent_Flow_Exit_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Assets_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildAssetMultiple</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Created_Child_Assets</targetReference>
            </connector>
            <label>Child Assets Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Child_Assets</name>
        <label>Check Child Assets</label>
        <locationX>1106</locationX>
        <locationY>3896</locationY>
        <defaultConnector>
            <targetReference>Check_if_MACD_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assets_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildAssetMultiple</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChildAssetMultiple</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_null_products</targetReference>
            </connector>
            <label>Assets Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>1502</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Loop_Parents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_Parents.Quantity_For_Formula__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Name_Generator</targetReference>
            </connector>
            <label>Count Not Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Accessories</name>
        <label>Check for Accessories</label>
        <locationX>1106</locationX>
        <locationY>2672</locationY>
        <defaultConnector>
            <targetReference>Complete_Parent_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accessories_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Accessories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Assets</targetReference>
            </connector>
            <label>Accessories Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Duplicates</name>
        <label>Check for Duplicates</label>
        <locationX>1766</locationX>
        <locationY>6434</locationY>
        <defaultConnector>
            <targetReference>Set_Asset_Info_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicate_Check.Serial_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asset_Information</targetReference>
            </connector>
            <label>Duplicate exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_it_is_an_Add_or_Change</name>
        <label>Check if it is an Add or Change</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_MACDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_or_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_MACDs.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_MACDs.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id</targetReference>
            </connector>
            <label>Add or Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_MACD_Exists</name>
        <label>Check if MACD Exists</label>
        <locationX>1106</locationX>
        <locationY>4412</locationY>
        <defaultConnector>
            <targetReference>Create_MACD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MACD_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>macdId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MACD</targetReference>
            </connector>
            <label>MACD Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MACD_Exclusion</name>
        <label>Check MACD Exclusion</label>
        <locationX>842</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Get_All_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exclude</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>macdRouting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Move</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>macdRouting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispose</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_MACDs_in_List</targetReference>
            </connector>
            <label>Exclude</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MACD_Status</name>
        <label>Check MACD Status</label>
        <locationX>930</locationX>
        <locationY>4628</locationY>
        <defaultConnector>
            <targetReference>Assign_MACD_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MACD_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MACD</targetReference>
            </connector>
            <label>MACD Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_and_Accessory_path</name>
        <label>Check Parent and Accessory path</label>
        <locationX>1634</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Parents</targetReference>
            </connector>
            <label>Parent Path</label>
        </rules>
        <rules>
            <name>Accessories_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccessoriesComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Accessories</targetReference>
            </connector>
            <label>Accessories Path</label>
        </rules>
        <rules>
            <name>Managed_Service_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>managedServicesComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Managed_Services</targetReference>
            </connector>
            <label>Managed Service Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_isn_t_Change_Add</name>
        <label>Check Record Type isn&apos;t Change/Add</label>
        <locationX>270</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Loop_MACDs_in_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_is_Move_Dispose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_MACDs_in_List.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_MACDs_in_List.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MACD_Status</targetReference>
            </connector>
            <label>Record Type is Move/Dispose</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_if_MACD_Exists</name>
        <label>Copy 1 of Check if MACD Exists</label>
        <locationX>1634</locationX>
        <locationY>7958</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_MACD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_MACD_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>macdId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_MACD</targetReference>
            </connector>
            <label>Copy 1 of MACD Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_MACD_Status</name>
        <label>Copy 1 of Check MACD Status</label>
        <locationX>1458</locationX>
        <locationY>8174</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_MACD_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_MACD_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_New_Accessory_Assets</targetReference>
            </connector>
            <label>Copy 1 of MACD Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_want_to_exit_flow</name>
        <label>Does User want to exit flow?</label>
        <locationX>1546</locationX>
        <locationY>6218</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed_Exit_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_and_Exit_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirm_Cancel_and_Exit_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirm_Cancel_and_Exit_Flow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Created_Parent_Assets</targetReference>
            </connector>
            <label>Confirmed Exit Flow</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Parent Process on the product. If Product then user needs to enter asset info. If Accessory it will skip the asset information screen. 
Based on request from Amy Forbes/Jennifer Sherran that accessories should not required full details to be input.</description>
        <name>Is_Asset_Product_or_Accessory</name>
        <label>Is Asset Product or Accessory?</label>
        <locationX>1546</locationX>
        <locationY>5852</locationY>
        <defaultConnector>
            <targetReference>Asset_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_is_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Assets.Product2.Product_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Information</targetReference>
            </connector>
            <label>Asset is Product</label>
        </rules>
        <rules>
            <name>Asset_is_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Assets.Product2.Product_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_MACD_Line_Item</targetReference>
            </connector>
            <label>Asset is Accessory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_a_Product_or_Accessory</name>
        <label>Is Parent a Product or Accessory?</label>
        <locationX>1348</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Assign_Counter_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent is Product</defaultConnectorLabel>
        <rules>
            <name>Parent_Is_Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Parents.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Parents</targetReference>
            </connector>
            <label>Parent Is Accessory</label>
        </rules>
    </decisions>
    <description>This flow is triggered by the MACD - Generate MACD flow (API: Sales_Order_MACD_Update)

Excludes Parent accessory products from being created as assets.</description>
    <dynamicChoiceSets>
        <name>costFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cost_Frequency__c</picklistField>
        <picklistObject>MACD_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>macdName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Account.Name} &amp; &quot; - Add - &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>parentAssetName</name>
        <dataType>String</dataType>
        <expression>if({!Loop_Parents.Product2.Line_of_Business__c} = &apos;Print&apos;, &apos;PRN&apos;, &apos;DBX&apos;)</expression>
    </formulas>
    <formulas>
        <name>totalImpressions</name>
        <dataType>Number</dataType>
        <expression>{!Colour_Start_Meter_Temp} + {!Large_Colour_Start_Meter_Temp} + {!Large_Mono_Start_Meter_Temp} + {!Mono_Start_Meter_Temp} + {!XLS_Colour_Start_Meter_Temp} + {!XLS_Mono_Start_Meter_Temp}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity - Asset &amp; MACD Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MACD - Opportunity - Asset &amp; MACD Generator</label>
    <loops>
        <name>Loop_Accessories</name>
        <label>Loop Accessories</label>
        <locationX>1634</locationX>
        <locationY>1382</locationY>
        <collectionReference>opportunityLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Child_Asset_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Child_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assets</name>
        <label>Loop Assets</label>
        <locationX>1106</locationX>
        <locationY>5228</locationY>
        <collectionReference>AssetsMultiple</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_Config_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_MACD_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Children</name>
        <label>Loop Children</label>
        <locationX>1546</locationX>
        <locationY>5552</locationY>
        <collectionReference>Filter_Child_Info</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Accessory_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Asset_Product_or_Accessory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Asset_Collection</name>
        <label>Loop Filtered Asset Collection</label>
        <locationX>1218</locationX>
        <locationY>3212</locationY>
        <collectionReference>Filter_Child_Accessories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Child_Asset_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_MACDs</name>
        <label>Loop MACDs</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_MACD_Related_To_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_it_is_an_Add_or_Change</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_MACD_Exclusion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_MACDs_in_List</name>
        <label>Loop MACDs in List</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_MACD_Related_To_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Record_Type_isn_t_Change_Add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MACD_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Managed_Services</name>
        <label>Loop Managed Services</label>
        <locationX>1938</locationX>
        <locationY>1382</locationY>
        <collectionReference>opportunityLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_Child_Asset_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Child_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_New_Accessory_Assets</name>
        <label>Loop New Accessory Assets</label>
        <locationX>1634</locationX>
        <locationY>8666</locationY>
        <collectionReference>ChildAssetMultiple</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Set_MACD_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_MACD_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Assets</name>
        <label>Loop Over Assets</label>
        <locationX>1042</locationX>
        <locationY>2780</locationY>
        <collectionReference>AssetsMultiple</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_2_of_Child_Asset_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Complete_Parent_Path</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Parents</name>
        <label>Loop Parents</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <collectionReference>opportunityLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Parent_a_Product_or_Accessory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Parent_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Child_Assets</name>
        <label>Copy 1 of Create Child Assets</label>
        <locationX>1634</locationX>
        <locationY>7850</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_if_MACD_Exists</targetReference>
        </connector>
        <inputReference>ChildAssetMultiple</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_MACD</name>
        <label>Copy 1 of Create MACD</label>
        <locationX>1810</locationX>
        <locationY>8066</locationY>
        <assignRecordIdToReference>macdId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_New_Accessory_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>macdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128e000000CgZ2AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>Get_Opportunity.link_Opp2SO_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>MACD__c</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_MACD_Lines</name>
        <label>Copy 1 of Create MACD Lines</label>
        <locationX>1634</locationX>
        <locationY>9074</locationY>
        <inputReference>MACDLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Assets</name>
        <label>Create Child Assets</label>
        <locationX>974</locationX>
        <locationY>4220</locationY>
        <connector>
            <targetReference>Check_if_MACD_Exists</targetReference>
        </connector>
        <inputReference>ChildAssetMultiple</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_MACD</name>
        <label>Create MACD</label>
        <locationX>1282</locationX>
        <locationY>4520</locationY>
        <assignRecordIdToReference>macdId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_MACD_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>macdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP_Owner__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128e000000CgZ2AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remaining_Assets_to_Rollout__c</field>
            <value>
                <elementReference>rolloutQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>Get_Opportunity.link_Opp2SO_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>MACD__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_MACD_Lines</name>
        <label>Create MACD Lines</label>
        <locationX>1106</locationX>
        <locationY>7226</locationY>
        <connector>
            <targetReference>Update_Assets</targetReference>
        </connector>
        <inputReference>MACDLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Assets</name>
        <label>Create Parent Assets</label>
        <locationX>1106</locationX>
        <locationY>2456</locationY>
        <connector>
            <targetReference>Get_All_Accessories</targetReference>
        </connector>
        <inputReference>AssetsMultiple</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Created_Child_Assets</name>
        <label>Delete Created Child Assets</label>
        <locationX>1194</locationX>
        <locationY>6542</locationY>
        <connector>
            <targetReference>Parent_Flow_Exit_Confirmation</targetReference>
        </connector>
        <inputReference>ChildAssetMultiple</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Created_Parent_Assets</name>
        <label>Delete Created Parent Assets</label>
        <locationX>1326</locationX>
        <locationY>6326</locationY>
        <connector>
            <targetReference>Are_there_child_assets</targetReference>
        </connector>
        <inputReference>AssetsMultiple</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_MACD</name>
        <label>Copy 1 of Get MACD</label>
        <locationX>1458</locationX>
        <locationY>8066</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_MACD_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>macdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MACD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Accessories</name>
        <label>Get All Accessories</label>
        <locationX>1106</locationX>
        <locationY>2564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Accessories</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (NOT 4)</filterLogic>
        <filters>
            <field>Parent_Product_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Assets</name>
        <label>Get All Assets</label>
        <locationX>1634</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_asset_Counter_Value</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DBX</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PRN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD</name>
        <label>Get MACD</label>
        <locationX>930</locationX>
        <locationY>4520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MACD_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>macdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MACD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Lines</name>
        <label>Get MACD Lines</label>
        <locationX>1106</locationX>
        <locationY>5120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MACD_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>macdId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Related_To_Opportunity</name>
        <label>Get MACD Related To Opportunity</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_MACDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MACD_Related_To_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_MACD</name>
        <label>Copy 1 of Update MACD</label>
        <locationX>1546</locationX>
        <locationY>8390</locationY>
        <connector>
            <targetReference>Loop_New_Accessory_Assets</targetReference>
        </connector>
        <inputReference>Get_MACD</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>1106</locationX>
        <locationY>7334</locationY>
        <connector>
            <targetReference>Update_Sales_Order</targetReference>
        </connector>
        <inputReference>assetUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MACD</name>
        <label>Update MACD</label>
        <locationX>930</locationX>
        <locationY>4928</locationY>
        <connector>
            <targetReference>Get_MACD_Lines</targetReference>
        </connector>
        <inputReference>Get_MACD</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MACD_Record</name>
        <label>Update MACD Record</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <inputReference>MACDCollections</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Order</name>
        <label>Update Sales Order</label>
        <locationX>1106</locationX>
        <locationY>7442</locationY>
        <connector>
            <targetReference>Reset_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MACD_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SCMC__Sales_Order__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Asset_Information</name>
        <label>Asset Information</label>
        <locationX>1546</locationX>
        <locationY>6110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_User_want_to_exit_flow</targetReference>
        </connector>
        <fields>
            <name>ScreenStyling</name>
            <extensionName>SF_JY:styleOverwrite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssString</name>
                <value>
                    <elementReference>CSS</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Exit_Flow_Guidance_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;If you need to leave the Generate MACD process do not close this screen, this can cause issues with duplicate assets.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please tick the exit flow buttons below and select Next. The flow will revert changes made and close.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cancel_and_Exit_Flow</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancel Changes and exit Generate MACD</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Exit_Flow_Warning_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please be aware that exiting the flow will reverse any changes you have made to the MACD &amp;amp; Assets.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancel_and_Exit_Flow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Cancel_and_Exit_Flow</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm Cancel Changes and exit Generate MACD</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancel_and_Exit_Flow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>duplicateText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;This Serial number has already been used on this MACD, please double check the serial numbers&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Duplicate_Check.Serial_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>assetInformationSection</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please input asset information for {!Loop_Assets.Name} - &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Assets.Product2.Name} - {!Loop_Assets.Product2.ProductCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Asset Configuration: {!assetConfig}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Asset_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Serial_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Serial Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Contract_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Contract Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bid_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Bid Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Installed_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Installed Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Asset_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_at_Site</name>
                    <dataType>String</dataType>
                    <fieldText>Location at Site</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Pin</name>
                    <dataType>String</dataType>
                    <fieldText>Pin</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BIM</name>
                    <dataType>String</dataType>
                    <fieldText>BIM</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancel_and_Exit_Flow</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Meter_Information</name>
            <fieldText>Meter Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meter_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mono_Meter_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Mono Meter Cost (£)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mono_Start_Meter</name>
                    <dataType>Number</dataType>
                    <fieldText>Mono Start Meter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Large_Mono_Meter_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Large Mono Meter Cost (£)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Large_Mono_Start_Meter</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Large Mono Start Meter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>XLS_Mono_Meter_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>XLS Mono Meter Cost (£)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>XLS_Mono_Start_Meter</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>XLS Mono Start Meter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Meter_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Colour_Meter_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Colour Meter Cost (£)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Colour_Start_Meter</name>
                    <dataType>Number</dataType>
                    <fieldText>Colour Start Meter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Large_Colour_Meter_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Large Colour Meter Cost (£)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Large_Colour_Start_Meter</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Large Colour Start Meter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>XLS_Colour_Meter_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>XLS Colour Meter Cost (£)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>XLS_Colour_Start_Meter</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>XLS Colour Start Meter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Assets.Product2.Line_of_Business__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Print</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_Assets.Product2.Product_Category__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hardware</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Cancel_and_Exit_Flow</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other_Meter_Information</name>
            <fieldText>Other Meter Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Meter_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Basic_Cost_Commitment</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Basic Cost (Commitment)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Currency_Type_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Currency Type Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Meter_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Basic_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Other Basic Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Cost_Frequency</name>
                    <choiceReferences>costFrequency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cost Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Assets.Product2.Line_of_Business__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Print</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_Assets.Product2.Product_Category__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hardware</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Asset_Name_Generator</name>
        <label>Asset Name Generator</label>
        <locationX>1370</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Assign_Asset_Variables</targetReference>
        </connector>
        <flowName>Asset_Number_Generator</flowName>
        <inputAssignments>
            <name>accountUID</name>
            <value>
                <elementReference>Get_Opportunity.Account.Account_UID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetCount</name>
            <value>
                <elementReference>assetCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>preText</name>
            <value>
                <elementReference>parentAssetName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Duplicate_Check</name>
        <label>Duplicate Check</label>
        <locationX>1766</locationX>
        <locationY>6326</locationY>
        <connector>
            <targetReference>Check_for_Duplicates</targetReference>
        </connector>
        <flowName>MACD_Duplicate_Checker</flowName>
        <inputAssignments>
            <name>Current_Line_Array</name>
            <value>
                <elementReference>Get_MACD_Lines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>New_Line_Array</name>
            <value>
                <elementReference>MACDLineItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serialNumber</name>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <description>Hides the close button on screens</description>
        <name>CSS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>button.slds-modal__close.closeIcon {
    display: none;
}</text>
    </textTemplates>
    <variables>
        <name>AccessoriesComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AddType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetConfig</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AssetsMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Basic_Cost_Commitment_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BID_Number_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BIM_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ChildAssetMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Colour_Meter_Cost_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Colour_Start_Meter_Temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Contract_Number_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cost_Frequency_Temp</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Currency_Type_Cost_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Child_Accessories</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Child_Info</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_null_products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Install_Date_Temp</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Large_Colour_Meter_Cost_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Large_Colour_Start_Meter_Temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Large_Mono_Meter_Cost_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Large_Mono_Start_Meter_Temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MACDCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD__c</objectType>
    </variables>
    <variables>
        <name>macdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MacdLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>MACDLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>macdRouting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>managedServicesComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Mono_Meter_Cost_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Mono_Start_Meter_Temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>New_Parent_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Other_Basic_Cost_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ParentsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PIN_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rolloutQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>rolloutRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Serial_Number_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Site_Location_Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>When ticked shows that the user is exiting the flow.</description>
        <name>User_Exited_Flow_Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>XLS_Colour_Meter_Cost_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>XLS_Colour_Start_Meter_Temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>XLS_Mono_Meter_Cost_Temp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>XLS_Mono_Start_Meter_Temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
