config/flow-metadata-active/flows/Opportunity_Dispose_Asset_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Quantity</name>
        <label>Add to Quantity</label>
        <locationX>50</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>Get_Collection_Fee.Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quantityOfCOunt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Collection_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_Disposals</name>
        <label>Assign Count of Disposals</label>
        <locationX>182</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>quantityOfCOunt</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Assets.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Collection_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MACD_Line_Id</name>
        <label>Assign MACD Line Id</label>
        <locationX>512</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>New_MACD_LI.MACD_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MACD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Parent_Assets_Dispose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDisposalValue</name>
        <label>assignDisposalValue</label>
        <locationX>50</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>newDisposal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_New_MACD_LIs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>All_New_MACD_LIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_MACD_Dispose_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Quantity_Count</name>
        <label>Copy 1 of Assign Quantity Count</label>
        <locationX>589</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Collection_Fee.Quantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_Get_MACD_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_MACD_LI_Record_Dispose</name>
        <label>New MACD LI Record - Dispose</label>
        <locationX>468</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Dispose.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.MACD_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispose</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Dispose.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Site_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Dispose.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Proposed_Move_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Contact.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Dispose.Location_at_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Site_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Dispose.Site_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Parent_Assets_Dispose.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Disposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Service_Termination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Termination_Notice_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loss_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Settlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>settlementOption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_New_MACD_LI_to_Collection_Dispose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_New_MACD_LI_to_Collection_Dispose</name>
        <label>Put New MACD LI to Collection - Dispose</label>
        <locationX>468</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>All_New_MACD_LIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_MACD_LI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Dispose</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Parent_Assets_Dispose</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Churn_HP</name>
        <choiceText>Churn - HP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Churn - HP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Churn_Xerox</name>
        <choiceText>Churn - Xerox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Churn - Xerox</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispose</name>
        <choiceText>Dispose</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispose</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Rental</name>
        <choiceText>Internal Rental</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Rental</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lease</name>
        <choiceText>Lease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lease</stringValue>
        </value>
    </choices>
    <choices>
        <name>Machine_Exchange</name>
        <choiceText>Machine Exchange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Machine Exchange</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Disposal</name>
        <choiceText>New Disposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Disposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pure_Loss</name>
        <choiceText>Pure Loss</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pure Loss</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Current_Disposals</name>
        <choiceText>Update Current Disposals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Current Disposals</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>105</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Disposal_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Disposal_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_update_current_disposals_or_add_a_new_disposal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Disposal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Info</targetReference>
            </connector>
            <label>New Disposal Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Collection_for_Fee</name>
        <label>Check Collection for Fee</label>
        <locationX>380</locationX>
        <locationY>3662</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionRequired.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count_of_Disposals</targetReference>
            </connector>
            <label>Collection Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Disposals</name>
        <label>Check for Disposals</label>
        <locationX>325</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Collection_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disposals_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disposal_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>disposalsChecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Disposals</targetReference>
            </connector>
            <label>Disposals Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_MACD</name>
        <label>Check for MACD</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MACD_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newDisposal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_or_Add_disposals_Screen</targetReference>
            </connector>
            <label>MACD Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Collection_Exists</name>
        <label>Check If Collection Exists</label>
        <locationX>182</locationX>
        <locationY>4094</locationY>
        <defaultConnector>
            <targetReference>Create_Collection_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Collection_Fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Quantity</targetReference>
            </connector>
            <label>Collection Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MACD_Line</name>
        <label>Check MACD Line</label>
        <locationX>380</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Assign_MACD_Line_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MACD_Doesn_t_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_MACD_Record_Dispose</targetReference>
            </connector>
            <label>MACD Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Toggle</name>
        <label>Check Toggle</label>
        <locationX>182</locationX>
        <locationY>4610</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Toggle_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetDisposalToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDisposalValue</targetReference>
            </connector>
            <label>Toggle is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Count</name>
        <label>Copy 1 of Check Count</label>
        <locationX>589</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Count_is_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Collection_Fee.Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Collection_Fee.Quantity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_MACD_Line</targetReference>
            </connector>
            <label>Copy 1 of Count is 0</label>
        </rules>
        <rules>
            <name>No_MACD_Lines</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>macdLinestoUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>macdLinestoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No MACD Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Assets_Crossroad</name>
        <label>Parent Assets Crossroad</label>
        <locationX>611</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Parent_Asset_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Assets Do Not Exist</defaultConnectorLabel>
        <rules>
            <name>Parent_Assets_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Screen_Dispose_0</targetReference>
            </connector>
            <label>Parent Assets Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accountContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>New_MACD_Name_Dispose</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Info.Name} &amp; &quot; - Dispose - &quot; &amp; TEXT({!TODAY})</expression>
    </formulas>
    <formulas>
        <name>settlementOption</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!settlement.label}), FALSE, TRUE)</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity - Dispose Asset Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Dispose Asset Generator</label>
    <loops>
        <name>Loop_Over_Parent_Assets_Dispose</name>
        <label>Loop Over Parent Assets - Dispose</label>
        <locationX>380</locationX>
        <locationY>2930</locationY>
        <collectionReference>Assets.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_MACD_LI_Record_Dispose</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_MACD_Lis_Dispose</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Collection_Fee</name>
        <label>Create Collection Fee</label>
        <locationX>314</locationX>
        <locationY>4202</locationY>
        <connector>
            <targetReference>New_Disposal_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Pricebook_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t4K000001kN2LQAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Condition__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>quantityOfCOunt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Cost__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>350.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_MACD_Lis_Dispose</name>
        <label>Create New MACD Lis - Dispose</label>
        <locationX>380</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Update_Opportunity_to_Exclude_from_MACD_creation</targetReference>
        </connector>
        <inputReference>All_New_MACD_LIs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_MACD_Record_Dispose</name>
        <label>New MACD Record - Dispose</label>
        <locationX>248</locationX>
        <locationY>2738</locationY>
        <assignRecordIdToReference>New_MACD_LI.MACD_Line_Item__c</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Over_Parent_Assets_Dispose</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_MACD_Name_Dispose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_MACD_Dispose_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>MACD__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_MACD_Line</name>
        <label>Delete MACD Line</label>
        <locationX>325</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Delete_Opp_Line</targetReference>
        </connector>
        <inputReference>Get_MACD</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opp_Line</name>
        <label>Delete Opp Line</label>
        <locationX>325</locationX>
        <locationY>1430</locationY>
        <inputReference>Copy_1_of_Get_Collection_Fee</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Collection_Fee</name>
        <label>Copy 1 of Get Collection Fee</label>
        <locationX>589</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_MACD_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COLL - MP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_MACD_Lines</name>
        <label>Copy 1 of Get MACD Lines</label>
        <locationX>589</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Quantity_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MACD_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MACD.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>611</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Collection_Fee</name>
        <label>Get Collection Fee</label>
        <locationX>182</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COLL - MP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Disposal_Records</name>
        <label>Get Disposal Records</label>
        <locationX>325</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Disposals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MACD_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MACD.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>MACD_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispose</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD</name>
        <label>Get MACD</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_MACD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MACD_Dispose_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MACD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Dispose_RT</name>
        <label>Get MACD Dispose RT</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MACD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MACD__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispose</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Info</name>
        <label>Get Opportunity Info</label>
        <locationX>611</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Assets</name>
        <label>Get Parent Assets</label>
        <locationX>611</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Assets_Crossroad</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active - Storage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Id</name>
        <label>Get Pricebook Id</label>
        <locationX>182</locationX>
        <locationY>3986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Collection_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t4K000001kN2LQAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Lines</name>
        <label>Copy 1 of Update Lines</label>
        <locationX>853</locationX>
        <locationY>1322</locationY>
        <inputReference>Copy_1_of_Get_Collection_Fee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>380</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>Check_Collection_for_Fee</targetReference>
        </connector>
        <inputReference>assetsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Quantity</name>
        <label>Update Collection Quantity</label>
        <locationX>50</locationX>
        <locationY>4310</locationY>
        <connector>
            <targetReference>New_Disposal_Screen</targetReference>
        </connector>
        <inputReference>Get_Collection_Fee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Exclude_from_MACD_creation</name>
        <label>Update Opportunity to Exclude from MACD creation</label>
        <locationX>380</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exclude_from_MACD_creation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Asset_Screen_Dispose</name>
        <label>Asset Screen - Dispose</label>
        <locationX>380</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Check_MACD_Line</targetReference>
        </connector>
        <fields>
            <name>Asset_Screen_Dispose_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Screen_Dispose_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>collectionRequired</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Collection Required?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Collection Required</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No Collection</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Funding_Type</name>
                    <choiceReferences>Cash</choiceReferences>
                    <choiceReferences>Lease</choiceReferences>
                    <choiceReferences>Internal_Rental</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity_Info.Funding_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Funding Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Asset_Screen_Dispose_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Termination_Notice_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Service Termination Notice Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the date in which the customer served their termination notice for the selected devices&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Loss_Reason</name>
                    <choiceReferences>Churn_Xerox</choiceReferences>
                    <choiceReferences>Churn_HP</choiceReferences>
                    <choiceReferences>Pure_Loss</choiceReferences>
                    <choiceReferences>Machine_Exchange</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Loss Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Asset_Screen_Dispose_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Screen_Dispose_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Collection_Contact</name>
                    <choiceReferences>accountContacts</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Collection Contact</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>settlement</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Settlement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No Settlement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Device Settlement?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Asset_Screen_Dispose_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Collection_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Collection Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Collection Date must be greater than today&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Collection_Date} &gt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>collectionRequired.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Choose Asset</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Asset_Screen_Dispose_0</name>
        <label>Asset Screen - Dispose</label>
        <locationX>380</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asset_Screen_Dispose</targetReference>
        </connector>
        <fields>
            <name>Asset_Dispose_Text_0</name>
            <fieldText>&lt;p&gt;Choose an asset/assets you want to dispose:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Asset_Screen_Dispose_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Screen_Dispose_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assets</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Asset</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Parent_Assets</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6671&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Model_Formula__c&quot;,&quot;guid&quot;:&quot;column-0a30&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Model&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SerialNumber&quot;,&quot;guid&quot;:&quot;column-eb99&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Serial Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Site_Address__c&quot;,&quot;guid&quot;:&quot;column-ce89&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Site Address&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Choose Asset</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Disposal_Screen</name>
        <label>New Disposal Screen</label>
        <locationX>182</locationX>
        <locationY>4502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Toggle</targetReference>
        </connector>
        <fields>
            <name>newDisposalText</name>
            <fieldText>&lt;p&gt;Would you like to dispose of another asset(s)?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>assetDisposalToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Disposal?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Asset_Screen</name>
        <label>Parent Asset Screen</label>
        <locationX>842</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Parent_Asset_Text</name>
            <fieldText>&lt;p&gt;Opportunity&apos;s account does not have any parent assets related to it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &quot;&lt;strong&gt;Exit&lt;/strong&gt;&quot; to exit the process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_or_Add_disposals_Screen</name>
        <label>Update or Add disposals Screen</label>
        <locationX>105</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_update_current_disposals_or_add_a_new_disposal</name>
            <choiceReferences>New_Disposal</choiceReferences>
            <choiceReferences>Update_Current_Disposals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to update current disposals or add a new disposal?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MACD_Dispose_RT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Disposals</name>
        <label>Update Disposals</label>
        <locationX>61</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Disposal_Records</targetReference>
        </connector>
        <flowName>Update_Asset_after_MACD_Creation</flowName>
        <inputAssignments>
            <name>macdLinesInput</name>
            <value>
                <elementReference>Get_Disposal_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Disposal</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>disposalsChecked</assignToReference>
            <name>disposalsCompleted</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>macdLinestoUpdate</assignToReference>
            <name>macdLinesOutput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>All_New_MACD_LIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <description>Display parent assets of a selected account</description>
        <name>assetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>disposalsChecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>macdLinestoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>New_MACD_LI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>newDisposal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>quantityOfCOunt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Updated_Old_MACD_LIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
</Flow>
