config/flow-metadata-active/flows/Opportunity_Naming_Convention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_count</name>
        <label>assign count</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varRecCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_for_Opp_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update</name>
        <label>Assign Update</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fCounter</name>
        <dataType>Number</dataType>
        <expression>{!varRecCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Account_Number_aoc__c} &amp;&quot;/&quot;&amp;LPAD(TEXT({!fCounter}),3,&quot;0&quot;)&amp;&quot;/&quot;&amp; {!fQuartre} &amp;&quot;/&quot;&amp;  if(ISNULL(TEXT({!$Record.Lines_Of_Business__c})), &quot;&quot;, TEXT({!$Record.Lines_Of_Business__c}))</expression>
    </formulas>
    <formulas>
        <name>fQuartre</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Record.CloseDate}),
1,&quot;Q2&quot;,
2,&quot;Q2&quot;,
3,&quot;Q3&quot;,
4,&quot;Q3&quot;,
5,&quot;Q3&quot;,
6,&quot;Q4&quot;,
7,&quot;Q4&quot;,
8,&quot;Q4&quot;,
9,&quot;Q1&quot;,
10,&quot;Q1&quot;,
11,&quot;Q1&quot;,
12,&quot;Q2&quot;,
null)</expression>
    </formulas>
    <interviewLabel>Opportunity Naming Convention {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Naming Convention</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_for_Opp_Name</name>
        <label>Get Records for Opp Name</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Update</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lines_Of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lines_Of_Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_for_Opp_Name</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedLinesOfBusiness</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
