config/flow-metadata-active/flows/Opportunity_MACD_Auto_Compliance_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Running_User</name>
        <label>Check Running User</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MACD_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Compliance_Auto_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Cost_of_Sale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Approval_Flow_Flow_1</targetReference>
            </connector>
            <label>MACD User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - MACD Auto Compliance Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - MACD Auto Compliance Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Compliance_Approval_Flow_Flow_1</name>
        <label>Compliance Approval Flow Flow 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Compliance_Approval_Flow</flowName>
        <inputAssignments>
            <name>approvalComments</name>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>approvalType</name>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>decision</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>interactionType</name>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppToApprove</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderCreationInput</name>
            <value>
                <stringValue>No Order</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>650</triggerOrder>
</Flow>
