config/flow-metadata-active/flows/Opportunity_Move_Asset_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Delivery_Quantity</name>
        <label>Add Delivery Quantity</label>
        <locationX>776</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>Get_Move_Product.Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quantityOfCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Move_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_counter</name>
        <label>Add to counter</label>
        <locationX>1227</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>productGrouping</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Quantity</name>
        <label>Add to Quantity</label>
        <locationX>402</locationX>
        <locationY>5126</locationY>
        <assignmentItems>
            <assignToReference>Get_Storage_Fee.Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quantityOfCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Storage_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MACD_Line</name>
        <label>Assign MACD Line</label>
        <locationX>1040</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>New_MACD_LI.MACD_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MACD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Storage_Query_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Move_Values</name>
        <label>Assign Move Values</label>
        <locationX>776</locationX>
        <locationY>6566</locationY>
        <assignmentItems>
            <assignToReference>newMove</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_New_MACD_LIs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>All_New_MACD_LIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_MACD_Move_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>622</locationX>
        <locationY>4310</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Loop_Over_Parent_Assets_Move.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Asset_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_New_MACD_LI_Record_Move</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quantity_Count</name>
        <label>Assign Quantity Count</label>
        <locationX>534</locationX>
        <locationY>4802</locationY>
        <assignmentItems>
            <assignToReference>quantityOfCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_New_MACD_LIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Storage_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Storage_Quantity</name>
        <label>Assign Storage Quantity</label>
        <locationX>1062</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Storage_Fee.Quantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_Get_MACD_Stores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Storage_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Name</name>
        <label>Copy 1 of Assign Name</label>
        <locationX>1370</locationX>
        <locationY>4310</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Parent_Assets_Move.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy1_New_Asset_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_MACD_LI_Record_Move</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Quantity_Count</name>
        <label>Copy 1 of Assign Quantity Count</label>
        <locationX>1282</locationX>
        <locationY>4802</locationY>
        <assignmentItems>
            <assignToReference>quantityOfCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_New_MACD_LIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Move_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Storage_Quantity</name>
        <label>Copy 1 of Assign Storage Quantity</label>
        <locationX>1106</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Move_Product.Quantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_MACD_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Move_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_New_MACD_LI_Record_Move</name>
        <label>Copy 1 of New MACD LI Record - Move</label>
        <locationX>754</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Over_Parent_Assets_Move.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.MACD_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storageLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Over_Parent_Assets_Move.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Stoarage_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>warehouseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Proposed_Move_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Proposed_Move_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Contact_Choice.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Loop_Over_Parent_Assets_Move.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Move</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Put_New_MACD_LI_to_Collection_Move</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Put_New_MACD_LI_to_Collection_Move</name>
        <label>Copy 1 of Put New MACD LI to Collection - Move</label>
        <locationX>754</locationX>
        <locationY>4610</locationY>
        <assignmentItems>
            <assignToReference>All_New_MACD_LIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_MACD_LI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Over_Parent_Assets_Move</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Over_Parent_Assets_Move</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_MACD_LI_Record_Move</name>
        <label>New MACD LI Record - Move</label>
        <locationX>1502</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Move.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.MACD_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storageLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Move.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Site_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Site_Location.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Proposed_Move_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Move_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Contact_Choice_Customer.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Location_at_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_at_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Parent_Assets_Move.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Move</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_LI.IP_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_New_MACD_LI_to_Collection_Move</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_New_MACD_LI_to_Collection_Move</name>
        <label>Put New MACD LI to Collection - Move</label>
        <locationX>1502</locationX>
        <locationY>4610</locationY>
        <assignmentItems>
            <assignToReference>All_New_MACD_LIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_MACD_LI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Parent_Assets_Move</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Parent_Assets_Move</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Change_Asset_Site</name>
        <choiceText>Change Asset/Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Asset/Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Location</name>
        <choiceText>Customer Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Move</name>
        <choiceText>Move</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Move</stringValue>
        </value>
    </choices>
    <choices>
        <name>Move_Asset_to_Storage</name>
        <choiceText>Move Asset to Storage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Move Asset to Storage</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Move</name>
        <choiceText>New Move</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Move</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Move</name>
        <choiceText>Remove Move</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove Move</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Current_Moves</name>
        <choiceText>Update Current Moves</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Current Moves</stringValue>
        </value>
    </choices>
    <choices>
        <name>Xeretec_Location</name>
        <choiceText>Xeretec Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Xeretec Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_MACD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_update_current_moves_or_add_a_new_move</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Current_Moves</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MACD_Moves</targetReference>
            </connector>
            <label>Update MACD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_MACD</name>
        <label>Check for MACD</label>
        <locationX>1227</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MACD_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newMove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_or_Add_new_Move_screen</targetReference>
            </connector>
            <label>MACD Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Moves</name>
        <label>Check for Moves</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Storage_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Moves</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD_Moves</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>movesUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Moves</targetReference>
            </connector>
            <label>Moves</label>
        </rules>
        <rules>
            <name>Stores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD_Stores</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>storageUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MACD_Storage</targetReference>
            </connector>
            <label>Stores</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Storage_Fee</name>
        <label>Check for Storage Fee</label>
        <locationX>534</locationX>
        <locationY>5018</locationY>
        <defaultConnector>
            <targetReference>Create_Storage_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Storage_Fee_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Storage_Fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Quantity</targetReference>
            </connector>
            <label>Storage Fee Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Collection_Exists</name>
        <label>Check if Collection Exists</label>
        <locationX>908</locationX>
        <locationY>5618</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Move_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Delivery_Quantity</targetReference>
            </connector>
            <label>Collection Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Name_was_updated</name>
        <label>Check if Name was updated</label>
        <locationX>754</locationX>
        <locationY>4202</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_New_MACD_LI_Record_Move</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Asset_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name</targetReference>
            </connector>
            <label>Name Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MACD_Exists</name>
        <label>Check MACD Exists</label>
        <locationX>908</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>Assign_MACD_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_MACD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_MACD_Record_Move</targetReference>
            </connector>
            <label>No MACD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Storage_Count</name>
        <label>Check Storage Count</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Assign_Storage_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Storage_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_MACD_Stores</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Storage_Fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opp_Line</targetReference>
            </connector>
            <label>Storage is 0</label>
        </rules>
        <rules>
            <name>No_Storage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Storage_Fee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Storage_Count</targetReference>
            </connector>
            <label>No Storage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Storage_Location</name>
        <label>Check Storage Location</label>
        <locationX>908</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>Address_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Xeretec_Location_Move</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Where_is_it_going_into_storage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Xeretec_Location</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Address_Screen</targetReference>
            </connector>
            <label>Xeretec Location Move</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Toggle</name>
        <label>Check Toggle</label>
        <locationX>908</locationX>
        <locationY>6458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Toggle_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetMoveToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Move_Values</targetReference>
            </connector>
            <label>Toggle is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_if_Name_was_updated</name>
        <label>Copy 1 of Check if Name was updated</label>
        <locationX>1502</locationX>
        <locationY>4202</locationY>
        <defaultConnector>
            <targetReference>New_MACD_LI_Record_Move</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Name_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Update_Asset_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Name</targetReference>
            </connector>
            <label>Copy 1 of Name Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Storage_Count</name>
        <label>Copy 1 of Check Storage Count</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Storage_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Move_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MACD_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Move_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opp_Move</targetReference>
            </connector>
            <label>Move is 0</label>
        </rules>
        <rules>
            <name>No_Move_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Move_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Move Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Assets_Crossroad</name>
        <label>Parent Assets Crossroad</label>
        <locationX>1227</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Parent_Asset_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Assets Do Not Exist</defaultConnectorLabel>
        <rules>
            <name>Parent_Assets_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Screen_Move</targetReference>
            </connector>
            <label>Parent Assets Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>assets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>locationsChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.AccountId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>warehouseLocations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SCMC__Warehouse__c</object>
        <outputAssignments>
            <assignToReference>warehouseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>New_MACD_Name_Move</name>
        <dataType>String</dataType>
        <expression> LEFT({!Get_Account_Info.Name}, 58) &amp; &quot; - Move - &quot; &amp; TEXT({!TODAY})</expression>
    </formulas>
    <formulas>
        <name>storageLocation</name>
        <dataType>String</dataType>
        <expression>IF({!Are_the_assets_going_into_Storage} = &quot;Yes&quot;,
      IF({!Where_is_it_going_into_storage} = &quot;Xeretec Location&quot;, &quot;Move - Store&quot;, &quot;Move - Customer Store&quot;),
&quot;Move - New Location&quot;)</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity - Move Asset Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MACD - Opportunity - Move Asset Generator</label>
    <loops>
        <name>Copy_1_of_Loop_Over_Parent_Assets_Move</name>
        <label>Copy 1 of Loop Over Parent Assets - Move</label>
        <locationX>534</locationX>
        <locationY>3986</locationY>
        <collectionReference>assetsToMove.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IP_address_screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Quantity_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Parent_Assets_Move</name>
        <label>Loop Over Parent Assets - Move</label>
        <locationX>1282</locationX>
        <locationY>3986</locationY>
        <collectionReference>assetsToMove.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_IP_address_screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Assign_Quantity_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Move_Fee</name>
        <label>Create Move Fee</label>
        <locationX>1040</locationX>
        <locationY>5834</locationY>
        <connector>
            <targetReference>Create_New_MACD_Lis_Move</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product_Group__c</field>
            <value>
                <elementReference>productGrouping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Pricebook_entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Pricebook_entry.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Condition__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>quantityOfCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Cost__c</field>
            <value>
                <elementReference>Get_Pricebook_entry.Cost_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_Pricebook_entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_MACD_Lis_Move</name>
        <label>Create New MACD Lis - Move</label>
        <locationX>908</locationX>
        <locationY>6026</locationY>
        <connector>
            <targetReference>Update_Opportunity_to_Exclude_from_MACD</targetReference>
        </connector>
        <inputReference>All_New_MACD_LIs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Storage_Fee</name>
        <label>Create Storage Fee</label>
        <locationX>666</locationX>
        <locationY>5126</locationY>
        <connector>
            <targetReference>Get_Move_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product_Group__c</field>
            <value>
                <elementReference>productGrouping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u8e000000PClwAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t8e0000005gnaAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Condition__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>quantityOfCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Cost__c</field>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>175.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_MACD_Record_Move</name>
        <label>New MACD Record - Move</label>
        <locationX>776</locationX>
        <locationY>3470</locationY>
        <assignRecordIdToReference>New_MACD_LI.MACD_Line_Item__c</assignRecordIdToReference>
        <connector>
            <targetReference>Storage_Query_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_MACD_Name_Move</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_MACD_Move_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>MACD__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_MACD</name>
        <label>Delete MACD</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <inputReference>Get_MACD</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opp_Line</name>
        <label>Delete Opp Line</label>
        <locationX>622</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Storage_Count</targetReference>
        </connector>
        <inputReference>Copy_1_of_Get_Storage_Fee</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opp_Move</name>
        <label>Delete Opp Move</label>
        <locationX>578</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Delete_MACD</targetReference>
        </connector>
        <inputReference>Copy_1_of_Get_Move_Product</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_MACD_Stores</name>
        <label>Copy 1 of Get MACD Stores</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MACD_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MACD_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MACD.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>MACD_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Move_Product</name>
        <label>Copy 1 of Get Move Product</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_MACD_Stores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESITE  - MP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Storage_Fee</name>
        <label>Copy 1 of Get Storage Fee</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Move_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t8e0000005gnaAAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>1227</locationX>
        <locationY>2930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD</name>
        <label>Get MACD</label>
        <locationX>1227</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_MACD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MACD_Move_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MACD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Lines</name>
        <label>Get MACD Lines</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Storage_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MACD_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MACD.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Move_RT</name>
        <label>Get MACD Move RT</label>
        <locationX>1227</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MACD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MACD__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Moves</name>
        <label>Get MACD Moves</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MACD_Stores</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>MACD_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MACD.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>MACD_Type__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Stores</name>
        <label>Get MACD Stores</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Moves</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>MACD_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MACD.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>MACD_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Move_Product</name>
        <label>Get Move Product</label>
        <locationX>908</locationX>
        <locationY>5510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Collection_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESITE  - MP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Product</name>
        <label>Get Opp Product</label>
        <locationX>1227</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>productGrouping</assignToReference>
            <field>Group__c</field>
        </outputAssignments>
        <sortField>Group__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Info</name>
        <label>Get Opportunity Info</label>
        <locationX>1227</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Assets</name>
        <label>Get Parent Assets</label>
        <locationX>1227</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Assets_Crossroad</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active - Storage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_entry</name>
        <label>Get Pricebook entry</label>
        <locationX>1040</locationX>
        <locationY>5726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Move_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESITE  - MP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Storage_Fee</name>
        <label>Get Storage Fee</label>
        <locationX>534</locationX>
        <locationY>4910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Storage_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t8e0000005gnaAAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>908</locationX>
        <locationY>6242</locationY>
        <connector>
            <targetReference>New_Move_Screen</targetReference>
        </connector>
        <inputReference>assetsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Move_Fee</name>
        <label>Update Move Fee</label>
        <locationX>776</locationX>
        <locationY>5834</locationY>
        <connector>
            <targetReference>Create_New_MACD_Lis_Move</targetReference>
        </connector>
        <inputReference>Get_Move_Product</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Move_Quantity</name>
        <label>Update Move Quantity</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <inputReference>Copy_1_of_Get_Move_Product</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Exclude_from_MACD</name>
        <label>Update Opportunity to Exclude from MACD</label>
        <locationX>908</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>Update_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exclude_from_MACD_creation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Storage_Count</name>
        <label>Update Storage Count</label>
        <locationX>402</locationX>
        <locationY>5234</locationY>
        <connector>
            <targetReference>Get_Move_Product</targetReference>
        </connector>
        <inputReference>Get_Storage_Fee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Storage_Quantity</name>
        <label>Update Storage Quantity</label>
        <locationX>1062</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Storage_Count</targetReference>
        </connector>
        <inputReference>Copy_1_of_Get_Storage_Fee</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Address_Screen</name>
        <label>Address Screen</label>
        <locationX>1282</locationX>
        <locationY>3878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Loop_Over_Parent_Assets_Move</targetReference>
        </connector>
        <fields>
            <name>New_Site_Location</name>
            <choiceReferences>locationsChoice</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>New Site Location</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Location_at_Site</name>
            <dataType>String</dataType>
            <fieldText>New Location at Site</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_Contact_Choice_Customer</name>
            <choiceReferences>contacts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>New Site Contact</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Proposed_Move_Date</name>
            <dataType>Date</dataType>
            <fieldText>Proposed Move Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Asset_Screen_Move</name>
        <label>Asset Screen - Move</label>
        <locationX>908</locationX>
        <locationY>3254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_MACD_Exists</targetReference>
        </connector>
        <fields>
            <name>Asset_Dispose_Text</name>
            <fieldText>&lt;p&gt;Choose an asset/assets you want to move:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>assetsToMove</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assets To Move</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Parent_Assets</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fa0f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Model_Formula__c&quot;,&quot;guid&quot;:&quot;column-5e4f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Model&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SerialNumber&quot;,&quot;guid&quot;:&quot;column-e172&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Serial Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Site_Address__c&quot;,&quot;guid&quot;:&quot;column-42bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Site Address&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Choose Asset</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Address_Screen</name>
        <label>Copy 1 of Address Screen</label>
        <locationX>534</locationX>
        <locationY>3878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Copy_1_of_Loop_Over_Parent_Assets_Move</targetReference>
        </connector>
        <fields>
            <name>Site_Contact_Choice</name>
            <choiceReferences>contacts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Site Contact</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Proposed_Move_Date</name>
            <dataType>Date</dataType>
            <fieldText>Proposed Move Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Date has to be greater than today, please change date accordingly.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Copy_1_of_Proposed_Move_Date} &gt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_IP_address_screen</name>
        <label>Copy 1 of IP address screen</label>
        <locationX>1502</locationX>
        <locationY>4094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Check_if_Name_was_updated</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_assetNameText</name>
            <fieldText>&lt;p&gt;Iformation for: {!Loop_Over_Parent_Assets_Move.Name} - {!Loop_Over_Parent_Assets_Move.SerialNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_IP_address_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_IP_address_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Update_Asset_Name</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Update Asset Name</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_IP_address_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy1_New_Asset_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Over_Parent_Assets_Move.Name</elementReference>
                    </defaultValue>
                    <fieldText>New Asset Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_Update_Asset_Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_IP_address_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_IP_address_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IP_Address</name>
                    <dataType>String</dataType>
                    <fieldText>IP Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Mono_Meters</name>
                    <dataType>Number</dataType>
                    <fieldText>Mono Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Large_Mono_Meters</name>
                    <dataType>String</dataType>
                    <fieldText>Large Mono Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_XLS_Meters</name>
                    <dataType>String</dataType>
                    <fieldText>XLS Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_IP_address_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gateway</name>
                    <dataType>String</dataType>
                    <fieldText>Gateway</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Colour_Meters</name>
                    <dataType>Number</dataType>
                    <fieldText>Colour Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Large_Colour_Meters</name>
                    <dataType>String</dataType>
                    <fieldText>Large Colour Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IP_address_screen</name>
        <label>IP address screen</label>
        <locationX>754</locationX>
        <locationY>4094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Name_was_updated</targetReference>
        </connector>
        <fields>
            <name>assetNameText</name>
            <fieldText>&lt;p&gt;Information for: {!Copy_1_of_Loop_Over_Parent_Assets_Move.Name} - {!Copy_1_of_Loop_Over_Parent_Assets_Move.SerialNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IP_address_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>IP_address_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Asset_Name</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Update Asset Name</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IP_address_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Asset_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Copy_1_of_Loop_Over_Parent_Assets_Move.Name</elementReference>
                    </defaultValue>
                    <fieldText>New Asset Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Update_Asset_Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IP_address_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>IP_address_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mono_Meters</name>
                    <dataType>Number</dataType>
                    <fieldText>Mono Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Large_Mono_Meters</name>
                    <dataType>String</dataType>
                    <fieldText>Large Mono Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>XLS_Meters</name>
                    <dataType>String</dataType>
                    <fieldText>XLS Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IP_address_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Colour_Meters</name>
                    <dataType>Number</dataType>
                    <fieldText>Colour Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Large_Colour_Meters</name>
                    <dataType>String</dataType>
                    <fieldText>Large Colour Meters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Move_Screen</name>
        <label>New Move Screen</label>
        <locationX>908</locationX>
        <locationY>6350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Toggle</targetReference>
        </connector>
        <fields>
            <name>newMoveText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Would you like to move of another asset(s)?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>assetMoveToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Move?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Asset_Screen</name>
        <label>Parent Asset Screen</label>
        <locationX>1546</locationX>
        <locationY>3254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Parent_Asset_Text</name>
            <fieldText>&lt;p&gt;Opportunity&apos;s account does not have any parent assets related to it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &quot;&lt;strong&gt;Exit&lt;/strong&gt;&quot; to exit the process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Storage_Query_Screen</name>
        <label>Storage Query Screen</label>
        <locationX>908</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Storage_Location</targetReference>
        </connector>
        <fields>
            <name>Are_the_assets_going_into_Storage</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are the assets going into Storage</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Storage_Query_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Storage_Query_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Where_is_it_going_into_storage</name>
                    <choiceReferences>Xeretec_Location</choiceReferences>
                    <choiceReferences>Customer_Location</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Where is it going into storage?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Storage_Query_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Xeretec_Storage_Location</name>
                    <choiceReferences>warehouseLocations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Xeretec Storage Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Where_is_it_going_into_storage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Xeretec_Location</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_the_assets_going_into_Storage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_current_or_Add_new_Move_screen</name>
        <label>Update current or Add new Move screen</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_update_current_moves_or_add_a_new_move</name>
            <choiceReferences>New_Move</choiceReferences>
            <choiceReferences>Update_Current_Moves</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to update current moves or add a new move?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1101</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MACD_Move_RT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_MACD_Storage</name>
        <label>Update MACD Storage</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_MACD_Moves</targetReference>
        </connector>
        <flowName>Update_Asset_after_MACD_Creation</flowName>
        <inputAssignments>
            <name>macdLinesInput</name>
            <value>
                <elementReference>Get_MACD_Stores</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>storageUpdated</assignToReference>
            <name>disposalsCompleted</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Moves</name>
        <label>Update Moves</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_MACD_Moves</targetReference>
        </connector>
        <flowName>Update_Asset_after_MACD_Creation</flowName>
        <inputAssignments>
            <name>macdLinesInput</name>
            <value>
                <elementReference>Get_MACD_Moves</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <elementReference>Move</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>movesUpdated</assignToReference>
            <name>disposalsCompleted</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>All_New_MACD_LIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>assetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loop_Over_Parent_Assets_Move.Name</elementReference>
        </value>
    </variables>
    <variables>
        <description>Displays parent assets related to a selected account</description>
        <name>assetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>copyAssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Copy_1_of_Loop_Over_Parent_Assets_Move.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_Filter_Assets_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>movesUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>New_MACD_LI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>newMove</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>productGrouping</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>quantityOfCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SiteAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storageQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>storageUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Updated_Old_MACD_LIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>warehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
