config/flow-metadata-active/flows/Opportunity_Subflow_Asset_MACD_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_New_MACD_LI_Replaced_Asset</name>
        <label>Create New MACD LI - Replaced Asset</label>
        <locationX>495</locationX>
        <locationY>1839</locationY>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Assets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.MACD_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_MACD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Assets.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.MACD_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Assets.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Assets.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Assets.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Assets.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Assets.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_MACD_Line_Item.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_New_MACD_LI_to_Collection_Replaced_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_New_MACD_LI_to_Collection_Replaced_Asset</name>
        <label>Put New MACD LI to Collection - Replaced Asset</label>
        <locationX>577</locationX>
        <locationY>2022</locationY>
        <assignmentItems>
            <assignToReference>All_MACD_Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_MACD_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Chosen_Assets</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>MACD_Name</name>
        <dataType>String</dataType>
        <expression>{!Opportunity.Name} &amp; &quot; - Change - &quot; &amp; {!Get_Account_Info.Name}</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity - Subflow - Asset &amp; MACD Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Subflow - Asset &amp; MACD Generator</label>
    <loops>
        <name>Loop_Over_Chosen_Assets</name>
        <label>Loop Over Chosen Assets</label>
        <locationX>657</locationX>
        <locationY>1839</locationY>
        <collectionReference>Chosen_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_MACD_LI_Replaced_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_MACD_LIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MACD_LIs</name>
        <label>Create MACD LIs</label>
        <locationX>804</locationX>
        <locationY>1841</locationY>
        <inputReference>All_MACD_Line_Items</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_MACD</name>
        <label>Create New MACD</label>
        <locationX>657</locationX>
        <locationY>1552</locationY>
        <connector>
            <targetReference>Loop_Over_Chosen_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MACD_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_MACD_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>MACD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>520</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MACD_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MACD_Record_Type</name>
        <label>Get MACD Record Type</label>
        <locationX>520</locationX>
        <locationY>1552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_MACD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MACD__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>1336</locationY>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>All_MACD_Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>All_New_Child_Assets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>All_New_Parent_Assets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Chosen_Assets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>New_MACD_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
