config/flow-metadata-active/flows/Opportunity_Add_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_New_Opportunity_Product_Accessory</name>
        <label>Create New Opportunity Product - Accessory</label>
        <locationX>2166</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.Product_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Accessories.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_Price_Accessories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Accessories.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SubProduct_Info_Accessories.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.Parent_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chosen_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_New_Opportunity_Product_to_Collection_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Opportunity_Product_Managed_Services</name>
        <label>Create New Opportunity Product - Managed Services</label>
        <locationX>2528</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.Product_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Managed_Services.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_Price_Managed_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Managed_Services.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SubProduct_Info_Managed_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Product.Parent_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chosen_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_New_Opportunity_Product_to_Collection_Managed_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_New_Opportunity_Product_to_Collection_Accessories</name>
        <label>Put New Opportunity Product to Collection - Accessories</label>
        <locationX>2027</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>All_New_Opportunity_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Opportunity_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Chosen_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_New_Opportunity_Product_to_Collection_Managed_Service</name>
        <label>Put New Opportunity Product to Collection - Managed Service</label>
        <locationX>2345</locationX>
        <locationY>1036</locationY>
        <assignmentItems>
            <assignToReference>All_New_Opportunity_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Opportunity_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Chosen_Managed_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Opportunity_Products_Collection</name>
        <label>Reset Opportunity Products Collection</label>
        <locationX>1440</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>All_New_Opportunity_Products</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>All_New_Opportunity_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accessories</name>
        <choiceText>Accessories</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accessories</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_New_Accessory</name>
        <choiceText>Add New Accessory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New Accessory</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_New_Managed_Service</name>
        <choiceText>Add New Managed Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New Managed Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_New_Product</name>
        <choiceText>Add New Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Managed_Services</name>
        <choiceText>Managed Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Managed Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Accessory_Crossroad</name>
        <label>Accessory Crossroad</label>
        <locationX>1508</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Accessory_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Accessory Found</defaultConnectorLabel>
        <rules>
            <name>Accessory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accessories_Related_to_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subproducts_Accessories</targetReference>
            </connector>
            <label>Accessory Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Managed_Service_Crossroad</name>
        <label>Managed Service Crossroad</label>
        <locationX>2211</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>Managed_Service_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Managed Service Not Found</defaultConnectorLabel>
        <rules>
            <name>Managed_Service_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subproducts_Managed_Service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Managed_Services_Screen</targetReference>
            </connector>
            <label>Managed Service Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Managed_Service_Yes_No_Crossroad</name>
        <label>Managed Service Yes/No Crossroad</label>
        <locationX>2480</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>New_Product_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Choose Managed Service = No</defaultConnectorLabel>
        <rules>
            <name>Choose_Managed_Service_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Managed_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subproducts_Managed_Service</targetReference>
            </connector>
            <label>Choose Managed Service = Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Accessory_Product_Managed_Service_Crossroad</name>
        <label>New Accessory/Product/Managed Service Crossroad</label>
        <locationX>1592</locationX>
        <locationY>697</locationY>
        <defaultConnectorLabel>No New Product Needed</defaultConnectorLabel>
        <rules>
            <name>New_Product_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Accessory_Managed_Service_Product_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_New_Product</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Opportunity_Products_Collection</targetReference>
            </connector>
            <label>New Product Chosen</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Unit_Price_Accessories</name>
        <dataType>Number</dataType>
        <expression>{!Get_SubProduct_Info_Accessories.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Unit_Price_Managed_Services</name>
        <dataType>Number</dataType>
        <expression>{!Get_SubProduct_Info_Managed_Services.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity - Add Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Product Generator</label>
    <loops>
        <name>Loop_Over_Chosen_Accessories</name>
        <label>Loop Over Chosen Accessories</label>
        <locationX>1911</locationX>
        <locationY>306</locationY>
        <collectionReference>All_Accessories_with_Quantity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_SubProduct_Info_Accessories</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Managed_Service_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Chosen_Managed_Services</name>
        <label>Loop Over Chosen Managed Services</label>
        <locationX>2345</locationX>
        <locationY>845</locationY>
        <collectionReference>All_Managed_Services_with_Quantity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_SubProduct_Info_Managed_Services</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Product_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Opportunity_Products</name>
        <label>Create New Opportunity Products</label>
        <locationX>1809</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>New_Accessory_Product_Managed_Service_Crossroad</targetReference>
        </connector>
        <inputReference>All_New_Opportunity_Products</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accessories_Related_to_Product</name>
        <label>Get Accessories Related to Product</label>
        <locationX>1516</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accessory_Crossroad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accessory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chosen_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chosen_Product</name>
        <label>Get Chosen Product</label>
        <locationX>1274</locationX>
        <locationY>667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accessories_Related_to_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Account_Info</name>
        <label>Get Opportunity Account Info</label>
        <locationX>1096</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Info</name>
        <label>Get Opportunity Info</label>
        <locationX>1096</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SubProduct_Info_Accessories</name>
        <label>Get SubProduct Info - Accessories</label>
        <locationX>2033</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Opportunity_Product_Accessory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Accessories.Sub_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SubProduct_Info_Managed_Services</name>
        <label>Get SubProduct Info - Managed Services</label>
        <locationX>2528</locationX>
        <locationY>843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Opportunity_Product_Managed_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Chosen_Managed_Services.Sub_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Info.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subproducts_Accessories</name>
        <label>Get Subproducts - Accessories</label>
        <locationX>1648</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accessories_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chosen_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accessory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Groups__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Sub_Product__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subproducts_Managed_Service</name>
        <label>Get Subproducts - Managed Service</label>
        <locationX>2347</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Managed_Service_Crossroad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chosen_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed Service</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Groups__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Sub_Product__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Accessories_Screen</name>
        <label>Accessories Screen</label>
        <locationX>1779</locationX>
        <locationY>306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Over_Chosen_Accessories</targetReference>
        </connector>
        <fields>
            <name>Accessories_Text</name>
            <fieldText>&lt;p&gt;Please choose accessory below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LWC_Accessories</name>
            <extensionName>c:showProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productList</name>
                <value>
                    <elementReference>Get_Subproducts_Accessories</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>All_Accessories_with_Quantity</assignToReference>
                <name>selectedProductList</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Choose Accessory</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Accessory_Not_Found_Screen</name>
        <label>Accessory_Not_Found_Screen</label>
        <locationX>1428</locationX>
        <locationY>192</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Managed_Service_Screen</targetReference>
        </connector>
        <fields>
            <name>Accessory_Not_Found_Text</name>
            <fieldText>&lt;p&gt;This product has no accessories related to it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;strong&gt;&quot;Continue&quot;&lt;/strong&gt; to choose managed services.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Managed_Service_Not_Found_Screen</name>
        <label>Managed Service Not Found Screen</label>
        <locationX>2472</locationX>
        <locationY>633</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Product_Screen</targetReference>
        </connector>
        <fields>
            <name>Managed_Service_Not_Found_Text</name>
            <fieldText>&lt;p&gt;This product has no managed services related to it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;strong&gt;&quot;Continue&quot;&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Managed_Service_Screen</name>
        <label>Managed Service Screen</label>
        <locationX>2224</locationX>
        <locationY>200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Managed_Service_Yes_No_Crossroad</targetReference>
        </connector>
        <fields>
            <name>Managed_Service_Text</name>
            <fieldText>&lt;p&gt;Do you want to add a managed service?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_Managed_Service</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Managed_Services_Screen</name>
        <label>Managed Services Screen</label>
        <locationX>2220</locationX>
        <locationY>853</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Over_Chosen_Managed_Services</targetReference>
        </connector>
        <fields>
            <name>Managed_Services_Text</name>
            <fieldText>&lt;p&gt;Please choose managed service below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LWC_Managed_Services</name>
            <extensionName>c:showProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productList</name>
                <value>
                    <elementReference>Get_Subproducts_Managed_Service</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>All_Managed_Services_with_Quantity</assignToReference>
                <name>selectedProductList</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Choose Managed Service</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Product_Screen</name>
        <label>New Product Screen</label>
        <locationX>1958</locationX>
        <locationY>695</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Opportunity_Products</targetReference>
        </connector>
        <fields>
            <name>New_Product_Text</name>
            <fieldText>&lt;p&gt;Would you like to add a new product?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To exit the process click on the &quot;&lt;strong&gt;Continue/Finish&lt;/strong&gt;&quot; button without choosing any given option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Accessory_Managed_Service_Product_Group</name>
            <choiceReferences>Add_New_Product</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue/Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>1096</locationX>
        <locationY>675</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chosen_Product</targetReference>
        </connector>
        <fields>
            <name>Product_Text</name>
            <fieldText>&lt;p&gt;Please choose product below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SubProducts_Test__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Choose Product</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>675</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Accessories_with_Quantity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Groups__c</objectType>
    </variables>
    <variables>
        <name>All_Managed_Services_with_Quantity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Groups__c</objectType>
    </variables>
    <variables>
        <name>All_New_Opportunity_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>All_SubProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>New_Opportunity_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Record Id for passed opportunity</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
