config/flow-metadata-active/flows/Opportunity_Compliance_Approval_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Approval_Information_Missing</name>
        <choiceText>Approval/Information Missing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approval/Information Missing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deal_Load_Issue</name>
        <choiceText>Deal Load Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal Load Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funding_Agreement_Issue</name>
        <choiceText>Funding Agreement Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funding Agreement Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pricing_Issue</name>
        <choiceText>Pricing Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Agreement_Issue</name>
        <choiceText>Service Agreement Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Agreement Issue</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Compliance Approval Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Compliance Approval Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Approval_Screen</name>
        <label>Approval Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actions>
            <name>Compliance_Approval_No_Order</name>
            <actionName>Compliance_Approval_Flow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>OppToApprove</name>
                <value>
                    <elementReference>Get_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvalComments</name>
                <value>
                    <elementReference>Approval_Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvalType</name>
                <value>
                    <stringValue>Compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>decision</name>
                <value>
                    <stringValue>Approve</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interactionType</name>
                <value>
                    <stringValue>Manual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderCreationInput</name>
                <value>
                    <stringValue>No Order</stringValue>
                </value>
            </inputParameters>
            <label>Compliance Approval No Order</label>
            <nameSegment>Compliance_Approval_Flow</nameSegment>
        </actions>
        <actions>
            <name>Compliance_Rejection</name>
            <actionName>Compliance_Approval_Flow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>OppToApprove</name>
                <value>
                    <elementReference>Get_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvalComments</name>
                <value>
                    <elementReference>Approval_Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvalType</name>
                <value>
                    <stringValue>Compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>decision</name>
                <value>
                    <stringValue>Reject</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interactionType</name>
                <value>
                    <stringValue>Manual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rejectionReasonsText</name>
                <value>
                    <elementReference>Rejection_Reason</elementReference>
                </value>
            </inputParameters>
            <label>Compliance Rejection</label>
            <nameSegment>Compliance_Approval_Flow</nameSegment>
        </actions>
        <actions>
            <name>Compliance_Approval_Create_Order</name>
            <actionName>Compliance_Approval_Flow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>OppToApprove</name>
                <value>
                    <elementReference>Get_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvalComments</name>
                <value>
                    <elementReference>Approval_Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvalType</name>
                <value>
                    <stringValue>Compliance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>decision</name>
                <value>
                    <stringValue>Approve</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interactionType</name>
                <value>
                    <stringValue>Manual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderCreationInput</name>
                <value>
                    <stringValue>Create</stringValue>
                </value>
            </inputParameters>
            <label>Compliance Approval Create Order</label>
            <nameSegment>Compliance_Approval_Flow</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>unapprovedProductsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;There are unapproved products in this deal. Please review your product approval queue and then re-approve this deal. ﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;No Order has been created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Compliance_Approval_Create_Order.Results.approvalStatus</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>approveButton</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Approve - Create Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Compliance_Approval_Create_Order.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Compliance_Approval_Create_Order.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Compliance_Approval_Create_Order.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approval_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>approveNoOrderButton</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Approve -  No Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Compliance_Approval_No_Order.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Compliance_Approval_No_Order.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Compliance_Approval_No_Order.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approval_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>rejectButton</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reject</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Compliance_Rejection.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Compliance_Rejection.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Compliance_Rejection.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approval_Comments</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rejection_Reason</name>
                    <choiceReferences>Deal_Load_Issue</choiceReferences>
                    <choiceReferences>Pricing_Issue</choiceReferences>
                    <choiceReferences>Service_Agreement_Issue</choiceReferences>
                    <choiceReferences>Funding_Agreement_Issue</choiceReferences>
                    <choiceReferences>Approval_Information_Missing</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rejection Reason</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approval_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approval_Comments</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>approveButton</eventSource>
            <handlers>
                <screenActionName>Compliance_Approval_Create_Order</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>approveNoOrderButton</eventSource>
            <handlers>
                <screenActionName>Compliance_Approval_No_Order</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>rejectButton</eventSource>
            <handlers>
                <screenActionName>Compliance_Rejection</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
