config/flow-metadata-active/flows/Overdue_Transactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Call_1</name>
        <label>Create Call 1</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Create_Followup_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Call_Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Loop_Selected.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Loop_Selected.c2g__Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Call_2</name>
        <label>Create Call 2</label>
        <locationX>490</locationX>
        <locationY>1574</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Copy_1_of_Loop_Selected</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Copy_1_of_Call_Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Copy_1_of_Loop_Selected.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Copy_1_of_Loop_Selected.c2g__Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Followup_Tasks</name>
        <label>Create Followup Tasks</label>
        <locationX>138</locationX>
        <locationY>1694</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_Selected</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FollowUpDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Loop_Selected.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Loop_Selected.c2g__Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Followup_Tasks_2</name>
        <label>Create Followup Tasks 2</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Copy_2_of_Loop_Selected</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FollowUpDate2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Copy_2_of_Loop_Selected.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Copy_2_of_Loop_Selected.c2g__Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Outstanding_Values</name>
        <label>Add Outstanding Values</label>
        <locationX>622</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>HomeOutstanding</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_Document_Outstanding.c2g__HomeOutstandingValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalOutstanding</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_Document_Outstanding.c2g__DocumentOutstandingValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Document_Outstanding</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Create_Followup_Task</name>
        <choiceText>Create Followup Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Followup Task</stringValue>
        </value>
    </choices>
    <choices>
        <name>Log_Call</name>
        <choiceText>Log Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Log Call</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Sorted_Transactions</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sorted Transactions</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Transaction_Lines</collectionReference>
        <connector>
            <targetReference>Overdue_Transactions</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>c2g__TransactionDate__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>c2g__DocumentNumber__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_Followup_Action</name>
        <label>Check Followup Action</label>
        <locationX>534</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_To_Perform</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Create_Followup_Task</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_To_Perform</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Log_Call</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Details</targetReference>
            </connector>
            <label>Call &amp; Task</label>
        </rules>
        <rules>
            <name>Log_A_Call</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Action_To_Perform</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Log_Call</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_To_Perform</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Create_Followup_Task</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Call_Details</targetReference>
            </connector>
            <label>Log A Call</label>
        </rules>
        <rules>
            <name>Create_a_Task</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Action_To_Perform</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Create_Followup_Task</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Action_To_Perform</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Log_Call</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Call_Details</targetReference>
            </connector>
            <label>Create a Task</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accountingCompany</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Landscape</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Office</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ireland</stringValue>
            </value>
        </filters>
        <object>c2g__codaCompany__c</object>
        <outputAssignments>
            <assignToReference>TestCompany</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E4K000000DW2p</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Selected.c2g__DocumentNumber__c} != &quot;&quot;, RIGHT(LEFT({!Loop_Selected.c2g__DocumentNumber__c},52),9),
IF({!Copy_1_of_Loop_Selected.c2g__DocumentNumber__c} != &quot;&quot;, RIGHT(LEFT({!Copy_1_of_Loop_Selected.c2g__DocumentNumber__c},52),9),
RIGHT(LEFT({!Copy_2_of_Loop_Selected.c2g__DocumentNumber__c},52),9)))</expression>
    </formulas>
    <formulas>
        <name>RecordTypeForGLA</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Account_Info.RecordType.Name}, 
&quot;Customer&quot;, &quot;a5R4K0000004HltUAE&quot;, 
&quot;Supplier&quot;, &quot;a5R4K0000004HmbUAE&quot;,
null)</expression>
    </formulas>
    <formulas>
        <name>runningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Overdue Transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Overdue Transactions</label>
    <loops>
        <name>Copy_1_of_Loop_Selected</name>
        <label>Copy 1 of Loop Selected</label>
        <locationX>402</locationX>
        <locationY>1454</locationY>
        <collectionReference>SelectedTransactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Call_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Copy_2_of_Loop_Selected</name>
        <label>Copy 2 of Loop Selected</label>
        <locationX>754</locationX>
        <locationY>1454</locationY>
        <collectionReference>SelectedTransactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Followup_Tasks_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Selected</name>
        <label>Loop Selected</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <collectionReference>SelectedTransactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Call_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Total_Document_Outstanding</name>
        <label>Total Document Outstanding</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Transaction_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Outstanding_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sorted_Transactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Lines</name>
        <label>Get Transaction Lines</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Document_Outstanding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__GeneralLedgerAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeForGLA</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__DocumentOutstandingValue__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>c2g__OwnerCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TestCompany</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaTransactionLineItem__c</object>
        <sortField>c2g__TransactionDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Action_Screen</name>
        <label>Action Screen</label>
        <locationX>534</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Followup_Action</targetReference>
        </connector>
        <fields>
            <name>PerformAction</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;Which action would you like to perform?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Action_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_To_Perform</name>
                    <choiceReferences>Log_Call</choiceReferences>
                    <choiceReferences>Create_Followup_Task</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action To Perform</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call_Details</name>
        <label>Call Details</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected</targetReference>
        </connector>
        <fields>
            <name>Call_Description</name>
            <fieldText>Call Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Call_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Call_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assign_Task_To</name>
                    <choiceReferences>UserPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>runningUser</elementReference>
                    </defaultValue>
                    <fieldText>Assign Task To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Call_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FollowUpDate</name>
                    <dataType>Date</dataType>
                    <fieldText>FollowUp Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Company_Selection</name>
        <label>Company Selection</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Transaction_Lines</targetReference>
        </connector>
        <fields>
            <name>SelectCompany2</name>
            <choiceReferences>accountingCompany</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Company</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Call_Details</name>
        <label>Call Details 2</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Loop_Selected</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Call_Description</name>
            <fieldText>Call Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Call_Details</name>
        <label>Copy 2 of Call Details</label>
        <locationX>754</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Loop_Selected</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Call_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Call_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_Assign_Task_To</name>
                    <choiceReferences>UserPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>runningUser</elementReference>
                    </defaultValue>
                    <fieldText>Assign Task To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Call_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FollowUpDate2</name>
                    <dataType>Date</dataType>
                    <fieldText>Follow Up Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Overdue_Transactions</name>
        <label>Overdue Transactions</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
        <fields>
            <name>OverdueTransacationsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>c2g__codaTransactionLineItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Overdue TransacationsTable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Transaction_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;c2g__TransactionDate__c&quot;,&quot;guid&quot;:&quot;column-d2c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Transaction Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;ffaws__Transaction_Type__c&quot;,&quot;guid&quot;:&quot;column-db08&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Transaction Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;c2g__DocumentNumber__c&quot;,&quot;guid&quot;:&quot;column-bd5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Doc. Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Document Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Document_Reference__c&quot;,&quot;guid&quot;:&quot;column-7e0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Document Reference&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Document_Description__c&quot;,&quot;guid&quot;:&quot;column-7c51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Document Description&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;c2g__DocumentOutstandingValue__c&quot;,&quot;guid&quot;:&quot;column-75c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Outstanding Document Value&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Document Outstanding Value&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;CurrencyIsoCode&quot;,&quot;guid&quot;:&quot;column-67a0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Currency ISO Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;c2g__DocumentValue__c&quot;,&quot;guid&quot;:&quot;column-3936&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Document Value&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;c2g__HomeOutstandingValue__c&quot;,&quot;guid&quot;:&quot;column-2c01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Home Outstanding Value&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Transaction_Age__c&quot;,&quot;guid&quot;:&quot;column-5602&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Age&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Transaction Age&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;c2g__OnHold__c&quot;,&quot;guid&quot;:&quot;column-62b2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:10,&quot;label&quot;:&quot;On Hold&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedTransactions</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Totals</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Totals: Outstanding Document Value = {!TotalOutstanding}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Home Outstanding Value = {!HomeOutstanding}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HomeOutstanding</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaTransactionLineItem__c</objectType>
    </variables>
    <variables>
        <name>TestCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Permission.c2g__AllocationsMulticompany</elementReference>
        </value>
    </variables>
    <variables>
        <name>TotalOutstanding</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
