config/flow-metadata-active/flows/Populate_Department_Opp_Split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Populates department field with the department of the assigned user from Role</description>
        <name>Set_Department</name>
        <label>Set Department</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SplitOwner.UserRole.RollupDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Department</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Department_Empty</name>
        <label>Check if Department Empty</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Department_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Department</targetReference>
            </connector>
            <label>Department Empty</label>
        </rules>
    </decisions>
    <description>Populates the department of the split owner</description>
    <environments>Default</environments>
    <interviewLabel>Populate Department - Opp Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Department - Opp Split</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Department</name>
        <label>Update Department</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Department_Empty</targetReference>
        </connector>
        <object>OpportunitySplit</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
