config/flow-metadata-active/flows/Product_Group_Name_Updater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Product_Group_Name_Crossroad</name>
        <label>Product Group Name Crossroad</label>
        <locationX>576</locationX>
        <locationY>543</locationY>
        <defaultConnectorLabel>Product Group Name Provided</defaultConnectorLabel>
        <rules>
            <name>Product_Group_Name_Not_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sub_Product__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Group_Record</targetReference>
            </connector>
            <label>Product Group Name Not Provided</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Group - Name Updater {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Group - Name Updater</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SubProduct_Info</name>
        <label>Get SubProduct Info</label>
        <locationX>584</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Group_Name_Crossroad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sub_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Group_Record</name>
        <label>Update Product Group Record</label>
        <locationX>584</locationX>
        <locationY>689</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Sub_Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_SubProduct_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product_Groups__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
