config/flow-metadata-active/flows/Product_Grouping_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Filter_to_Array</name>
        <label>Add Filter to Array</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>productGroupsOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Product_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_MS_Output</name>
        <label>Add to MS Output</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>productGroupsOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Managed_Service_Group</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_Product_Groups</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Product Groups</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Product_Groups</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Associated_Accessories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Product_Groups.Sub_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Children.Product2Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_Filter_to_Array</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Product_Type</name>
        <label>Check Product Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Managed_Service_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Accessories</targetReference>
            </connector>
            <label>Accessory</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Grouping Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Grouping Check</label>
    <loops>
        <name>Loop_Children</name>
        <label>Loop Children</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Child_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Product_Groups</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Accessories</name>
        <label>Get Associated Accessories</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Product.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Groups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Products</name>
        <label>Get Child Products</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Children</targetReference>
        </connector>
        <filterLogic>1 AND NOT(2)</filterLogic>
        <filters>
            <field>Parent_Opportunity_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>DEL -</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Managed_Service_Group</name>
        <label>Get Managed Service Group</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_MS_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Product.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Product.Associated_Managed_Service__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Groups__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Product</name>
        <label>Get Parent Product</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Product_Groups</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Groups__c</objectType>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productGroupsOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Groups__c</objectType>
    </variables>
    <variables>
        <name>productType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
