config/flow-metadata-active/flows/Purchase_Order_Number_Stamp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Purchase_Order_Name_Assignment</name>
        <label>Purchase Order Name Assignment</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderNumbersString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_PO_Names.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderNumbersString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PO_Names</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Purchase_Order_Number_String_Max255</name>
        <dataType>String</dataType>
        <expression>LEFT(
    IF(RIGHT({!PurchaseOrderNumbersString},2) = &apos;, &apos;, 
       LEFT({!PurchaseOrderNumbersString}, LEN({!PurchaseOrderNumbersString}) - 2), 
       {!PurchaseOrderNumbersString}
    ),
    255
)</expression>
    </formulas>
    <interviewLabel>Purchase Order Number Stamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order - Purchase Order Number Stamp</label>
    <loops>
        <name>Loop_PO_Names</name>
        <label>Loop PO Names</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_Related_POs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Purchase_Order_Name_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sales_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Related_POs</name>
        <label>Get all Related POs</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PO_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCMC__Sales_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Purchase_Order__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Order</name>
        <label>Update Sales Order</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCMC__Sales_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Order_Numbers__c</field>
            <value>
                <elementReference>Purchase_Order_Number_String_Max255</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Sales_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Related_POs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Sales_Order__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>SCMC__Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PurchaseOrderNumbersString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
