config/flow-metadata-active/flows/Reject_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_Opp</name>
        <label>Approve Opp</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>decision</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>get_approval_with_User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResolveApprovalRequest</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Approve_Opp</name>
        <label>Copy 1 of Approve Opp</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>ResolveApprovalRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>decision</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalRequestId</name>
            <value>
                <elementReference>get_approval.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResolveApprovalRequest</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Send_Rejection_notification</name>
        <label>Copy 1 of Copy 1 of Send Rejection notification</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML8e000000sXyXGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>approvedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RejectUserNotifications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Rejection_notification</name>
        <label>Copy 1 of Send Rejection notification</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML8e000000sXyXGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>noteTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RejectUserNotifications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_notification</name>
        <label>Send Rejection notification</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Rejection_Note</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML8e000000sXyXGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>noteTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RejectUserNotifications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Owner</name>
        <label>Add Owner</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>RejectUserNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppToApprove.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Interaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>documentLinks.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Doc_Link</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Rejection</name>
        <label>Check if Rejection</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>get_approval_with_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_approval</targetReference>
            </connector>
            <label>Rejection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Interaction</name>
        <label>Check Interaction</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Interaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>interactionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_notification</targetReference>
            </connector>
            <label>Auto Interaction</label>
        </rules>
        <rules>
            <name>Not_Auto_Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Rejection_notification</targetReference>
            </connector>
            <label>Not Auto Rejection</label>
        </rules>
        <rules>
            <name>Approved_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Send_Rejection_notification</targetReference>
            </connector>
            <label>Approved Deal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>approvedNotification</name>
        <dataType>String</dataType>
        <expression>If({!approvalType} = &quot;Technical&quot;, &quot;Your deal has been Technically Approved by &quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot;.&quot;, &quot;Your deal has been Compliance Approved by &quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot;. Now it is in Process.&quot;)</expression>
    </formulas>
    <formulas>
        <name>noteTitle</name>
        <dataType>String</dataType>
        <expression>if({!interactionType} = &quot;Auto&quot;,&quot;Deal Auto Rejected by the system at &quot; &amp; {!approvalType} &amp; &quot; Approval. - &quot;  &amp; TEXT({!$Flow.CurrentDate}),&quot;Deal Rejected by the &quot;&amp;{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; at &quot; &amp; {!approvalType} &amp; &quot; Approval. - &quot;  &amp; TEXT({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Approval Request for Opportunity is &quot; &amp; if({!decision}= &quot;Reject&quot;, &quot;Rejected&quot;, &quot;Approved&quot;)</expression>
    </formulas>
    <interviewLabel>Reject Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reject Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Doc_Link</name>
        <label>Create Doc Link</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <inputReference>documentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejection_Note</name>
        <label>Create Rejection Note</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>documentLink</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>approvalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>noteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordLookups>
        <name>get_approval</name>
        <label>get approval</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Approve_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_approval_with_User</name>
        <label>get approval with User</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppToApprove.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Process_Instance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approvalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>interactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppToApprove</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RejectUserNotifications</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
