config/flow-metadata-active/flows/Remove_Account_Team_Member_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Current_Alias_to_Loop</name>
        <label>Add Current Alias to Loop</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Get_The_Account.Account_Team_Names__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Team_Members.User.Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_The_Account.Account_Team_Names__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Account_Team_Name</name>
        <label>Clear Account Team Name</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Get_The_Account.Account_Team_Names__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Team_Members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Remove Account Team Member from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Account Team Member from Account</label>
    <loops>
        <name>Loop_Team_Members</name>
        <label>Loop Team Members</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_Other_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Current_Alias_to_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Team_Members</name>
        <label>Get Other Team Members</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Account_Team_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_The_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Account</name>
        <label>Get The Account</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Other_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>Get_The_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_The_Account</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
