config/flow-metadata-active/flows/Remove_Product_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Accessories_for_deletion</name>
        <label>Add Accessories for deletion</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>productsForRemoval</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accessoryProducts.selectedRows</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Filter_for_Removal</name>
        <label>Add Filter for Removal</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>productsForRemoval</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_for_related</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Managed_Service_Updates</name>
        <label>Assign Managed Service Updates</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>managedServiceUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Opp_Line_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_selected_Managed_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Prod</name>
        <label>Assign Parent Prod</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>parentProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentProducts.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Items</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Accessories</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Accessories</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Accessories</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>oppLines</collectionReference>
        <conditionLogic>1 AND 2 AND 3 AND 4 AND NOT(5)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Accessories.Parent_Opportunity_Product__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Accessories.Product_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Managed Service</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Accessories.ProductCode</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ANY - HARD</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Accessories.ProductCode</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ANY - SOFT</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Accessories.ProductCode</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>DEL -</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Accessory_Product_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_related</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for related</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_for_related</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>oppLines</collectionReference>
        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_related.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Selected_Items.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_related.Parent_Opportunity_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Selected_Items.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_related.IsDeleted</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_Filter_for_Removal</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Managed_Service</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Managed Service</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Accessories</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>oppLines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Accessories.Parent_Opportunity_Product__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Accessories.Product_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Managed Service</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Managed_Service_Product_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Parent_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Parent Products</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Parent_Products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>oppLines</collectionReference>
        <conditionLogic>1 AND 2 AND 3 AND NOT(4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Parent_Products.Parent_Opportunity_Product__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Parent_Products.ProductCode</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ANY - HARD</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Parent_Products.ProductCode</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ANY - SOFT</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Parent_Products.ProductCode</leftValueReference>
            <operator>StartsWith</operator>
        </conditions>
        <connector>
            <targetReference>Select_Parent_Product_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_product_type</name>
        <label>Check product type</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Filter_Managed_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Parent_Products</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
        <rules>
            <name>Accessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Accessories</targetReference>
            </connector>
            <label>Accessory</label>
        </rules>
    </decisions>
    <description>Includes Configure Products and Remove Product text labels</description>
    <environments>Default</environments>
    <interviewLabel>Remove Product Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Product Lines</label>
    <loops>
        <name>Loop_Selected_Items</name>
        <label>Loop Selected Items</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>parentProducts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_for_related</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_selected_Managed_Services</name>
        <label>Loop selected Managed Services</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <collectionReference>managedServiceProducts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transform_Opp_Line_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_new_managed_services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_new_managed_services</name>
        <label>create new managed services</label>
        <locationX>666</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Remove_Managed_Services</targetReference>
        </connector>
        <inputReference>managedServiceUpdates</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Managed_Services</name>
        <label>Remove Managed Services</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <inputReference>managedServiceProducts.selectedRows</inputReference>
    </recordDeletes>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Accessory_Product_Screen</name>
        <label>Select Accessory Product Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Accessories_for_deletion</targetReference>
        </connector>
        <fields>
            <name>Remove_Product_Lines_Label_Accessory</name>
            <fieldText>&lt;p&gt;Select Accessory Lines to Remove&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Remove_Product_Choice_Decision</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Configure_Product_Lines_Label_Accessory</name>
            <fieldText>&lt;p&gt;Select Accessory Lines to Configure&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Product_Choice_Decision</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>accessoryProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Accessories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5ef9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-cd07&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-57ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Group__c&quot;,&quot;guid&quot;:&quot;column-d21a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Group&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-cb08&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Managed_Service_Product_Screen</name>
        <label>Select Managed Service Product Screen</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_selected_Managed_Services</targetReference>
        </connector>
        <fields>
            <name>Configure_Product_Lines_Label_ManagedService</name>
            <fieldText>&lt;p&gt;Select the Managed Service to Configure&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Product_Choice_Decision</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Remove_Product_Lines_Label_ManagedService</name>
            <fieldText>&lt;p&gt;Select the Managed Service to Remove&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Remove_Product_Choice_Decision</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>managedServiceProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Managed_Service</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5ef9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Product Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Parent_Product_Screen</name>
        <label>Select Parent Product Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Parent_Prod</targetReference>
        </connector>
        <fields>
            <name>Configure_Product_Lines_Label</name>
            <fieldText>&lt;p&gt;Select Product Lines to Configure&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Change_Product_Choice_Decision</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Remove_Product_Lines_Label</name>
            <fieldText>&lt;p&gt;Select Product Lines to Remove&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Remove_Product_Choice_Decision</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>parentProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Parent_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5ef9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-eec8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-0f8f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Group__c&quot;,&quot;guid&quot;:&quot;column-d484&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Group&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Site_Location_Postcode__c&quot;,&quot;guid&quot;:&quot;column-11fd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Site Location Postcode&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_product_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Opp_Line_Data</name>
        <label>Transform Opp Line Data</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Managed_Service_Updates</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>OpportunityLineItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_selected_Managed_Services.UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sales_Cost__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_selected_Managed_Services.Sales_Cost__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Remaining_to_Rollout__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_selected_Managed_Services.Remaining_to_Rollout__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_selected_Managed_Services.Quantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product2Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>If({!productType} = &quot;Managed Service&quot;, &quot;01t8e0000005gDNAAY&quot;,{!Loop_selected_Managed_Services.Product2Id})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Condition__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_selected_Managed_Services.Condition__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Parent_Opportunity_Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_selected_Managed_Services.Parent_Opportunity_Product__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Condition__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_selected_Managed_Services.Product_Condition__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Pulls the &apos;Change Product Choice&apos; decision value from Opportunity - Add Asset v2 flow (from Action Decision).</description>
        <name>Change_Product_Choice_Decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Accessories</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_related</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Parent_Products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>managedServiceUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>parentProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>productsForRemoval</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>productType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pulls the &apos;Remove Product Choice&apos; decision value from Opportunity - Add Asset v2 flow (from Action Decision).</description>
        <name>Remove_Product_Choice_Decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
