config/flow-metadata-active/flows/Sales_Account_Search_Sub_Flow_Get_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>What_is_Searched_for</name>
        <label>What is Searched for?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Type_of_Search_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Account_Names</targetReference>
            </connector>
            <label>Account Name</label>
        </rules>
        <rules>
            <name>Company_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Type_of_Search_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Company_Numbers</targetReference>
            </connector>
            <label>Company Number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Account Search Sub-Flow - Get Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Account Search Sub-Flow - Get Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Account_Names</name>
        <label>Find Account Names</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Account_Name_Search</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SuitableAccountsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Account_Owner_Name__c</queriedFields>
        <queriedFields>Customer_Status__c</queriedFields>
        <queriedFields>comp_house__Company_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Company_Numbers</name>
        <label>Find Company Numbers</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>comp_house__Company_Number__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Company_Number_Search</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SuitableAccountsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Account_Owner_Name__c</queriedFields>
        <queriedFields>Customer_Status__c</queriedFields>
        <queriedFields>comp_house__Company_Number__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_Searched_for</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Name_Search</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Number_Search</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Select_Type_of_Search_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuitableAccountsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
