config/flow-metadata-active/flows/Sales_Order_MACD_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Accessory_to_Array</name>
        <label>Add Accessory to Array</label>
        <locationX>2682</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>opportunityLinesAssetCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accessory_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accessory_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Remaining_Total</name>
        <label>Add Remaining Total</label>
        <locationX>3348</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>RolloutRemainingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Remaining_Assets.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Remaining_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Array</name>
        <label>Add to Array</label>
        <locationX>2074</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>opportunityLinesAssetCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Rollout_Array</name>
        <label>Add to Rollout Array</label>
        <locationX>2986</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>opportunityLinesAssetCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accessory_Rollout_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accessory_Rollout_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accessory_Quantity_Counter</name>
        <label>Assign Accessory Quantity Counter</label>
        <locationX>2682</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accessory_Lines.Quantity_For_Formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accessory_Lines.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accessory_Lines.Remaining_to_Rollout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Accessory_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accessory_Rollout_Quantity</name>
        <label>Assign Accessory Rollout Quantity</label>
        <locationX>2986</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accessory_Rollout_Rows.Quantity_For_Formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Rollout_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Accessory_Rollout_Rows.Remaining_to_Rollout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityLeftToRollout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolloutRemainingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accessory_Rollout_Rows.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Rollout_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Type</name>
        <label>Assign Add Type</label>
        <locationX>2138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>addType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_rollout_or_deployment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Type_Accessory</name>
        <label>Assign Add Type Accessory</label>
        <locationX>2746</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>addType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accessory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Accessory_rollout_or_deployment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Type_Managed_Service</name>
        <label>Assign Add Type Managed Service</label>
        <locationX>3354</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>addType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Managed Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Managed_Service_rollout_or_deployment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Full_Disposal</name>
        <label>Assign Full Disposal</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>macdLinesRollouts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MACD_Disposals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Disposals_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Managed_Service_Quantity_Counter</name>
        <label>Assign Managed Service Quantity Counter</label>
        <locationX>3290</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Loop_Managed_Service_Lines.Quantity_For_Formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Service_Lines.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Managed_Service_Lines.Remaining_to_Rollout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Accessory_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Managed_Service_Rollout_Quantity_Counter</name>
        <label>Assign Managed Service Rollout Quantity Counter</label>
        <locationX>3594</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Loop_Managed_Service_Rollout_Rows.Quantity_For_Formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Managed_Service_Rollout_Rows.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Managed_Service_Rollout_Rows.Remaining_to_Rollout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Rollout_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quantity_Counter</name>
        <label>Assign Quantity Counter</label>
        <locationX>2074</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Loop_Lines.Quantity_For_Formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Lines.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Lines.Remaining_to_Rollout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rollout_Disposal</name>
        <label>Assign Rollout Disposal</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>macdLinesRollouts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>macdDisposalsTable.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Disposals_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rollout_Quantity</name>
        <label>Assign Rollout Quantity</label>
        <locationX>2378</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Loop_Rollout_Rows.Quantity_For_Formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rollout_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Rollout_Rows.Remaining_to_Rollout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityLeftToRollout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolloutRemainingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Rollout_Rows.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Accessory_Path</name>
        <label>Complete Accessory Path</label>
        <locationX>3128</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>accessoriesDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Products_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Managed_Service_Path</name>
        <label>Complete Managed Service Path</label>
        <locationX>3392</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>managedServiceDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Products_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Parent_Path</name>
        <label>Complete Parent Path</label>
        <locationX>2864</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>parentsDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Products_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Accessory_to_Array</name>
        <label>Copy 1 of Add Accessory to Array</label>
        <locationX>3290</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>opportunityLinesAssetCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Managed_Service_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Managed_Service_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Array</name>
        <label>Copy 1 of Add to Array</label>
        <locationX>2378</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>opportunityLinesAssetCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Rollout_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Rollout_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Rollout_Array</name>
        <label>Copy 1 of Add to Rollout Array</label>
        <locationX>3594</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>opportunityLinesAssetCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Managed_Service_Rollout_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Managed_Service_Rollout_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Full_Disposal</name>
        <label>Copy 1 of Assign Full Disposal</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>macdLinesRollouts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MACD_Moves</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Move_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Rollout_Disposal</name>
        <label>Copy 1 of Assign Rollout Disposal</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>macdLinesRollouts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>macdMovesTable.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Move_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Full_Disposal</name>
        <label>Copy 2 of Assign Full Disposal</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>macdLinesRollouts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MACD_Storage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Move_Storage_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Rollout_Disposal</name>
        <label>Copy 2 of Assign Rollout Disposal</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>macdLinesRollouts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>macdStoresTable.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Move_Storage_Assets</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change</name>
        <choiceText>Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Asset_Site</name>
        <choiceText>Change Asset/Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Asset/Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Asset_Storage</name>
        <choiceText>Change Asset/Storage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Asset/Storage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Asset_to_Site</name>
        <choiceText>Change Asset to Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Asset to Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Asset_to_Storage</name>
        <choiceText>Change Asset to Storage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Asset to Storage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispose</name>
        <choiceText>Dispose</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispose</stringValue>
        </value>
    </choices>
    <choices>
        <name>Full_Deployment</name>
        <choiceText>Full Deployment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Deployment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Move</name>
        <choiceText>Move</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Move</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <choices>
        <name>Roll_Out</name>
        <choiceText>Roll Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roll Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Action_Type</name>
        <label>Check Action Type</label>
        <locationX>1919</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Move_Dispose_Chosen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Move_Dispose_or_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Move</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Move_Dispose_or_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dispose</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MACD_Disposals</targetReference>
            </connector>
            <label>Move/Dispose Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_MACD_Lines</name>
        <label>Check For MACD Lines</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Capture_Disposal_Meters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disposals_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MACD_Disposals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>disposalsChecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Move_Dispose_or_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dispose</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deployment_Screen</targetReference>
            </connector>
            <label>Disposals Exist</label>
        </rules>
        <rules>
            <name>Moves_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MACD_Moves</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>movesChecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Move_Dispose_or_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Move</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Deployment_Screen</targetReference>
            </connector>
            <label>Moves Exist</label>
        </rules>
        <rules>
            <name>Storage_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MACD_Storage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>storageChecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Move_Dispose_or_Add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Move</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Deployment_Screen</targetReference>
            </connector>
            <label>Storage Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Accessory_rollout_or_deployment</name>
        <label>Check if Accessory rollout or deployment</label>
        <locationX>2746</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_Accessory_Rollout_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accessory_Deployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accessories_Rollout_or_Full_Deployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Full_Deployment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Accessory_Lines</targetReference>
            </connector>
            <label>Accessory Deployment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Managed_Service_rollout_or_deployment</name>
        <label>Check if Managed Service rollout or deployment</label>
        <locationX>3354</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_Managed_Service_Rollout_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Managed_Service_Deployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_the_managed_services_to_be_rolled_out_or_a_full_deployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Full_Deployment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Managed_Service_Lines</targetReference>
            </connector>
            <label>Managed Service Deployment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_rollout_or_deployment</name>
        <label>Check if rollout or deployment</label>
        <locationX>2138</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_Rollout_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rollout_or_Full_Deployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Full_Deployment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Lines</targetReference>
            </connector>
            <label>Deployment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Path_Completion</name>
        <label>Check Path Completion</label>
        <locationX>3260</locationX>
        <locationY>2846</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Parent_Path</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
        <rules>
            <name>Accesory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Accessory_Path</targetReference>
            </connector>
            <label>Accesory</label>
        </rules>
        <rules>
            <name>Managed_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Managed_Service_Path</targetReference>
            </connector>
            <label>Managed Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Products_Available</name>
        <label>Check Products Available</label>
        <locationX>2930</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentsDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rollout_or_Deployment_Screen</targetReference>
            </connector>
            <label>Parents Exist</label>
        </rules>
        <rules>
            <name>Accessories_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Accessory_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accessoriesDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accessory_Rollout_or_Deployment_Screen</targetReference>
            </connector>
            <label>Accessories Exist</label>
        </rules>
        <rules>
            <name>Managed_Services_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Managed_Service_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>managedServiceDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Accessory_Rollout_or_Deployment_Screen</targetReference>
            </connector>
            <label>Managed Services Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User_Exited_Flow</name>
        <label>Has User Exited Flow?</label>
        <locationX>2930</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Opportunity_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exited_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Exited_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exited Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rollout_Type_Disposals</name>
        <label>Rollout Type Disposals</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_Rollout_Disposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Disposal_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Full_deployment_or_Rollout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Full_Deployment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Full_Disposal</targetReference>
            </connector>
            <label>Full Disposal Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rollout_Type_Moves</name>
        <label>Rollout Type Moves</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Rollout_Disposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Moves_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Full_deployment_or_Rollout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Full_Deployment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Full_Disposal</targetReference>
            </connector>
            <label>Full Moves Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rollout_Type_Storage</name>
        <label>Rollout Type Storage</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Rollout_Disposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Storage_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Full_deployment_or_Rollout</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Full_Deployment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Full_Disposal</targetReference>
            </connector>
            <label>Full Storage Selected</label>
        </rules>
    </decisions>
    <description>Generate the MACD button on the sales order to create the Add MACD or push the Move/Disposal to the MACD team</description>
    <dynamicChoiceSets>
        <name>assets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>warehouses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SCMC__Warehouse__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>quantityLeftToRollout</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Rollout_Rows.Remaining_to_Rollout__c}-{!Rollout_Number}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Sales Order MACD Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MACD - Generate MACD</label>
    <loops>
        <name>Loop_Accessory_Lines</name>
        <label>Loop Accessory Lines</label>
        <locationX>2594</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Opportunity_Accessory_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Accessory_Quantity_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Accessory_Rollout_Rows</name>
        <label>Loop Accessory Rollout Rows</label>
        <locationX>2898</locationX>
        <locationY>1214</locationY>
        <collectionReference>opportunityAccessoryLinesTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Rollout_Quantity_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Lines</name>
        <label>Loop Lines</label>
        <locationX>1986</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Opportunity_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quantity_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Managed_Service_Lines</name>
        <label>Loop Managed Service Lines</label>
        <locationX>3202</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Opportunity_Managed_Service_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Managed_Service_Quantity_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Managed_Service_Rollout_Rows</name>
        <label>Loop Managed Service Rollout Rows</label>
        <locationX>3506</locationX>
        <locationY>1214</locationY>
        <collectionReference>opportunityManagedServiceLinesTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Managed_Service_Rollout_Quantity_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Remaining_Assets</name>
        <label>Loop Remaining Assets</label>
        <locationX>3260</locationX>
        <locationY>2438</locationY>
        <collectionReference>Get_Opp_Products_for_Rollout</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Remaining_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MACD_with_Rollout_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Rollout_Rows</name>
        <label>Loop Rollout Rows</label>
        <locationX>2290</locationX>
        <locationY>1214</locationY>
        <collectionReference>opportunityLinesTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rollout_Quantity_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opp_Products_for_Rollout</name>
        <label>Get Opp Products for Rollout</label>
        <locationX>3260</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Remaining_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Remaining_to_Rollout__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Accessory_Lines</name>
        <label>Get Opportunity Accessory Lines</label>
        <locationX>2930</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Managed_Service_Lines</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accessory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_to_Rollout__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Lines</name>
        <label>Get Opportunity Lines</label>
        <locationX>2930</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Accessory_Lines</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Product_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Accessory_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_to_Rollout__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_MACD__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Managed_Service_Lines</name>
        <label>Get Opportunity Managed Service Lines</label>
        <locationX>2930</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Products_Available</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_to_Rollout__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order</name>
        <label>Get Sales Order</label>
        <locationX>1919</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generation_decision_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCMC__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MACD_Disposals</name>
        <label>MACD Disposals</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MACD_Moves</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MACD_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispose</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MACD_Moves</name>
        <label>MACD Moves</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MACD_Storage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MACD_Type__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MACD_Storage</name>
        <label>MACD Storage</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_MACD_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MACD_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MACD_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity_Stage</name>
        <label>Copy 1 of Update Opportunity Stage</label>
        <locationX>3260</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Rollout_Quantity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Rollout_Quantity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operations Team</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>MACD Team</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MACD_with_Rollout_Counter</name>
        <label>Update MACD with Rollout Counter</label>
        <locationX>3260</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>Check_Path_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128e000000CgZ2AAK</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Remaining_Assets_to_Rollout__c</field>
            <value>
                <elementReference>RolloutRemainingTotal</elementReference>
            </value>
        </inputAssignments>
        <object>MACD__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rollout_Quantity</name>
        <label>Update Rollout Quantity</label>
        <locationX>3260</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_Opp_Products_for_Rollout</targetReference>
        </connector>
        <inputReference>opportunityLinesAssetCreation</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Accessory_Rollout_or_Deployment_Screen</name>
        <label>Accessory Rollout or Deployment Screen</label>
        <locationX>2746</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Add_Type_Accessory</targetReference>
        </connector>
        <fields>
            <name>Accessories_Rollout_or_Full_Deployment</name>
            <choiceReferences>Roll_Out</choiceReferences>
            <choiceReferences>Full_Deployment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are the accessories to be rolled out or a full deployment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>opportunityAccessoryLinesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Opportunity_Accessory_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-cab2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-eb19&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Remaining_to_Rollout__c&quot;,&quot;guid&quot;:&quot;column-88a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Left to Rollout&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Remaining to Rollout&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Accessories_Rollout_or_Full_Deployment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Roll_Out</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Accessory_Rollout_or_Deployment_Screen</name>
        <label>Copy 1 of Accessory Rollout or Deployment Screen</label>
        <locationX>3354</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Add_Type_Managed_Service</targetReference>
        </connector>
        <fields>
            <name>Are_the_managed_services_to_be_rolled_out_or_a_full_deployment</name>
            <choiceReferences>Roll_Out</choiceReferences>
            <choiceReferences>Full_Deployment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are the managed services to be rolled out or a full deployment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>opportunityManagedServiceLinesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Opportunity_Managed_Service_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-cab2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-eb19&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Remaining_to_Rollout__c&quot;,&quot;guid&quot;:&quot;column-88a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Left to Rollout&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Remaining to Rollout&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_the_managed_services_to_be_rolled_out_or_a_full_deployment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Roll_Out</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Deployment_Screen</name>
        <label>Copy 1 of Deployment Screen</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rollout_Type_Moves</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Full_deployment_or_Rollout</name>
            <choiceReferences>Full_Deployment</choiceReferences>
            <choiceReferences>Roll_Out</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Full deployment or Rollout</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>macdMovesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MACD_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>MACD_Moves</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6536&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;MACD Line Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Asset_Serial_Number__c&quot;,&quot;guid&quot;:&quot;column-369f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Asset Serial Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Current_Location__c&quot;,&quot;guid&quot;:&quot;column-b547&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Current Location&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;New_Location__c&quot;,&quot;guid&quot;:&quot;column-5a0b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;New Location&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Copy_1_of_Full_deployment_or_Rollout</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Roll_Out</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Rollout_Quantity_Screen</name>
        <label>Copy 1 of Rollout Quantity Screen</label>
        <locationX>2986</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Accessory_Rollout_Quantity</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_quantityDisplayText</name>
            <fieldText>&lt;p&gt;How many going out of {!Loop_Rollout_Rows.Product2.Name} - Left to roll out: {!Loop_Rollout_Rows.Remaining_to_Rollout__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Rollout_Number</name>
            <dataType>Number</dataType>
            <fieldText>Rollout Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Quantity must be less than or equal to the remaining rollout quantity: {!Loop_Rollout_Rows.Remaining_to_Rollout__c}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    {!Rollout_Number} &gt; 0,
    {!Rollout_Number} &lt;= {!Loop_Rollout_Rows.Remaining_to_Rollout__c}
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Deployment_Screen</name>
        <label>Copy 2 of Deployment Screen</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rollout_Type_Storage</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Full_deployment_or_Rollout</name>
            <choiceReferences>Full_Deployment</choiceReferences>
            <choiceReferences>Roll_Out</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Full deployment or Rollout</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>macdStoresTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MACD_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>MACD_Storage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6536&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;MACD Line Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Asset_Serial_Number__c&quot;,&quot;guid&quot;:&quot;column-369f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Asset Serial Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Current_Location__c&quot;,&quot;guid&quot;:&quot;column-b547&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Current Location&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Storage_Warehouse_Name__c&quot;,&quot;guid&quot;:&quot;column-b0b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Storage Warehouse Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Copy_2_of_Full_deployment_or_Rollout</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Roll_Out</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deployment_Screen</name>
        <label>Deployment Screen</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rollout_Type_Disposals</targetReference>
        </connector>
        <fields>
            <name>Full_deployment_or_Rollout</name>
            <choiceReferences>Full_Deployment</choiceReferences>
            <choiceReferences>Roll_Out</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Full deployment or Rollout</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>macdDisposalsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MACD_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>MACD_Disposals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6536&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;MACD Line Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Asset_Serial_Number__c&quot;,&quot;guid&quot;:&quot;column-369f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Asset Serial Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Current_Location__c&quot;,&quot;guid&quot;:&quot;column-b547&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Current Location&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Full_deployment_or_Rollout</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Roll_Out</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generation_decision_screen</name>
        <label>Generation decision screen</label>
        <locationX>1919</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Action_Type</targetReference>
        </connector>
        <fields>
            <name>Move_Dispose_or_Add</name>
            <choiceReferences>Move</choiceReferences>
            <choiceReferences>Dispose</choiceReferences>
            <choiceReferences>Add</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Move, Dispose or Add</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rollout_or_Deployment_Screen</name>
        <label>Rollout or Deployment Screen</label>
        <locationX>2138</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Add_Type</targetReference>
        </connector>
        <fields>
            <name>Rollout_or_Full_Deployment</name>
            <choiceReferences>Roll_Out</choiceReferences>
            <choiceReferences>Full_Deployment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are the assets to be rolled out or a full deployment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>opportunityLinesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Opportunity_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-cab2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-b5f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-eb19&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Site_Location_Postcode__c&quot;,&quot;guid&quot;:&quot;column-5cc1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Site Location Postcode&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Remaining_to_Rollout__c&quot;,&quot;guid&quot;:&quot;column-88a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Left to Rollout&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Remaining to Rollout&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rollout_or_Full_Deployment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Roll_Out</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rollout_Quantity_Screen</name>
        <label>Rollout Quantity Screen</label>
        <locationX>2378</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Rollout_Quantity</targetReference>
        </connector>
        <fields>
            <name>quantityDisplayText</name>
            <fieldText>&lt;p&gt;How many going out of {!Loop_Rollout_Rows.Product2.Name} - Left to roll out: {!Loop_Rollout_Rows.Remaining_to_Rollout__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rollout_Number</name>
            <dataType>Number</dataType>
            <fieldText>Rollout Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Quantity must be less than or equal to the remaining rollout quantity: {!Loop_Rollout_Rows.Remaining_to_Rollout__c}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    {!Rollout_Number} &gt; 0,
    {!Rollout_Number} &lt;= {!Loop_Rollout_Rows.Remaining_to_Rollout__c}
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1793</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Capture_Disposal_Meters</name>
        <label>Capture Disposal Meters</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Capture_Move_Meters</targetReference>
        </connector>
        <flowName>Capture_Meters_Screen</flowName>
        <inputAssignments>
            <name>loopMacdLines</name>
            <value>
                <elementReference>disposalsDeployment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Capture_Move_Meters</name>
        <label>Capture Move Meters</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Capture_Storage_Meters</targetReference>
        </connector>
        <flowName>Capture_Meters_Screen</flowName>
        <inputAssignments>
            <name>loopMacdLines</name>
            <value>
                <elementReference>macdMoves</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Capture_Storage_Meters</name>
        <label>Capture Storage Meters</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Generate_Disposals_and_Moves2</targetReference>
        </connector>
        <flowName>Capture_Meters_Screen</flowName>
        <inputAssignments>
            <name>loopMacdLines</name>
            <value>
                <elementReference>storageDeployment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Check_Disposals_Subflow</name>
        <label>Check Disposals Subflow</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MACD_Disposals</targetReference>
        </connector>
        <flowName>Update_Asset_after_MACD_Creation</flowName>
        <inputAssignments>
            <name>macdLinesInput</name>
            <value>
                <elementReference>macdLinesRollouts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Disposal</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>disposalsChecked</assignToReference>
            <name>disposalsCompleted</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>disposalsDeployment</assignToReference>
            <name>macdLinesInput</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Move_Assets</name>
        <label>Check Move Assets</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MACD_Disposals</targetReference>
        </connector>
        <flowName>Update_Asset_after_MACD_Creation</flowName>
        <inputAssignments>
            <name>macdLinesInput</name>
            <value>
                <elementReference>macdLinesRollouts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>movesChecked</assignToReference>
            <name>disposalsCompleted</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>macdMoves</assignToReference>
            <name>macdLinesInput</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Move_Storage_Assets</name>
        <label>Check Move Storage Assets</label>
        <locationX>1238</locationX>
        <locationY>1298</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MACD_Disposals</targetReference>
        </connector>
        <flowName>Update_Asset_after_MACD_Creation</flowName>
        <inputAssignments>
            <name>macdLinesInput</name>
            <value>
                <elementReference>MACD_Storage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>storageChecked</assignToReference>
            <name>disposalsCompleted</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>storageDeployment</assignToReference>
            <name>macdLinesInput</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>2930</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Has_User_Exited_Flow</targetReference>
        </connector>
        <flowName>Opportunity_Asset_MACD_Generator3</flowName>
        <inputAssignments>
            <name>AddType</name>
            <value>
                <elementReference>addType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>macdRouting</name>
            <value>
                <elementReference>Add</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityLines</name>
            <value>
                <elementReference>opportunityLinesAssetCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rolloutQuantity</name>
            <value>
                <elementReference>RolloutRemainingTotal</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Exited_Flow</assignToReference>
            <name>User_Exited_Flow_Flag</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Disposals_and_Moves2</name>
        <label>Generate Disposals and Moves</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <flowName>Opportunity_Asset_MACD_Generator3</flowName>
        <inputAssignments>
            <name>macdRouting</name>
            <value>
                <elementReference>Move</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accessoriesDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>addType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_For_Disposals</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>disposalsChecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>disposalsDeployment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>disposeComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>macdLineItemUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>macdLinesRollouts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>macdLinesToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>macdMoves</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>managedServiceDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>movesChecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>movesComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityLinesAssetCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>parentsDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RolloutRemainingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>storageChecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>storageDeployment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>User_Exited_Flow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
