config/flow-metadata-active/flows/Schedule_Account_Supplier_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Total_Spend</name>
        <label>Add to Total Spend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Spend__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Spend.c2g__InvoiceTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Spend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Total_Spend</name>
        <label>Empty Total Spend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Spend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Transactions__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Purchase_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>currentEndOfFinancialYear</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH(TODAY()) &gt;= 9,
  DATE(YEAR(TODAY()) + 1, 8, 31),
  DATE(YEAR(TODAY()), 8, 31)
)</expression>
    </formulas>
    <formulas>
        <name>currentStartOfFinancialYear</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH(TODAY()) &gt;= 9,
  DATE(YEAR(TODAY()), 9, 1),
  DATE(YEAR(TODAY()) - 1, 9, 1)
)</expression>
    </formulas>
    <interviewLabel>Schedule Account Supplier Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Account Supplier Updates</label>
    <loops>
        <name>Loop_Spend</name>
        <label>Loop Spend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Payable_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Total_Spend</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payable_Invoices</name>
        <label>Get Payable Invoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Total_Spend</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__InvoiceStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>c2g__PaymentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>c2g__InvoiceDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>currentStartOfFinancialYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__InvoiceDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>currentEndOfFinancialYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaPurchaseInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Orders</name>
        <label>Get Purchase Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payable_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Supplier_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.msg_link_SMSASS_id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCMC__Purchase_Order_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>currentStartOfFinancialYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Purchase_Order_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>currentEndOfFinancialYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Purchase_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124K000000gpIAQAY</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-24</startDate>
            <startTime>10:25:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
