config/flow-metadata-active/flows/Split_Deal_Revenue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Loop_Update</name>
        <label>Assign Loop Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Invoice_Lines.Customer_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoice_Lines.c2g__UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Invoice_Lines.c2g__UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unitPriceCalculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Invoice_Lines.c2g__TaxValue1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taxValueCalculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Loop_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_Updates</name>
        <label>Assign Loop Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>salesInvoiceLineUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoice_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>taxValueCalculated</name>
        <dataType>Currency</dataType>
        <expression>({!unitPriceCalculated}*{!Loop_Invoice_Lines.c2g__Quantity__c})*({!Loop_Invoice_Lines.c2g__TaxRate1__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>unitPriceCalculated</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!Loop_Invoice_Lines.SCMFFA__SCM_Invoice_Line__r.SCMC__Sales_Order_Line_Item__r.SCMC__Item_Cost__c}*(1+({!Get_Sales_Invoice.SCMFFA__SCM_Invoice__r.SCMC__Sales_Order__r.Total_GP__c}/{!Get_Sales_Invoice.SCMFFA__SCM_Invoice__r.SCMC__Sales_Order__r.Total_Cost__c})),9)</expression>
        <scale>9</scale>
    </formulas>
    <interviewLabel>Split Deal Revenue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Split Deal Revenue</label>
    <loops>
        <name>Loop_Invoice_Lines</name>
        <label>Loop Invoice Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Sales_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loop_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Sales_Invoice</name>
        <label>Get Sales Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Invoice_Lines</name>
        <label>Get Sales Invoice Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaInvoiceLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Lines</name>
        <label>Update Invoice Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>salesInvoiceLineUpdates</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Invoice_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesInvoiceLineUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c2g__codaInvoiceLineItem__c</objectType>
    </variables>
</Flow>
