config/flow-metadata-active/flows/Stamp_Info_From_Opportunity_To_Improve_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Rollout_Remaining</name>
        <label>Add to Rollout Remaining</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>remainingToRollout</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_to_Rollout_Number.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Rollout_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Deal_ID</name>
        <label>Assign New Deal ID</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deal_ID_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.link_Opp2SO_Id__r.Deal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Name_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.link_Opp2SO_Id__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Meter_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.link_Opp2SO_Id__r.Meter_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoice_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.link_Opp2SO_Id__r.Meter_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MACD_Remaining_to_Rollout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>remainingToRollout</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Improve Usability by stamping deal ID onto sales order.</description>
    <environments>Default</environments>
    <interviewLabel>Stamp Info From Opportunity To Improve Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stamp Info From Opportunity To Improve Search</label>
    <loops>
        <name>Add_to_Rollout_Number</name>
        <label>Add to Rollout Number</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Rollout_Remaining</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_New_Deal_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_Rollout_Number</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT(3) AND 4 and NOT(5)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>ANY -</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>REFIN - PRN</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>SET -</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>link_Opp2SO_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SCMC__Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>remainingToRollout</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
