config/flow-metadata-active/flows/Technical_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Approval_Notes</name>
        <label>Assign Approval Notes</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>ApprovalComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Decision</name>
        <label>Assign Decision</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Technically_Approve_Deal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rejection_Notes</name>
        <label>Assign Rejection Notes</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>ApprovalComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Decision</name>
        <label>Copy 1 of Assign Decision</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approve_Deal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Document_Links</name>
        <label>Copy 1 of Create Document Links</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>DocumentLinks.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentLinks.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentLinks.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentLinks.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Document_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Document_Links</name>
        <label>Create Document Links</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>DocumentLinks.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentLinks.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentLinks.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentLinks.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approver</name>
        <label>Set Approver</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Get_Opp.Technical_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rejection_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Compliance_Approval</name>
        <label>Set Compliance Approval</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Get_Opp.Compliance_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rejection_Note</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Approval</name>
        <label>Check Approval</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Rejection_Notes_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Technically_Approve_Deal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approve_Deal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Notes_Screen</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approval_Type</name>
        <label>Check Approval Type</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Display_Compliance_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Compliance</defaultConnectorLabel>
        <rules>
            <name>Technical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technical_Approval_Screen</targetReference>
            </connector>
            <label>Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Approver</name>
        <label>Check for Approver</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Create_Rejection_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.Technical_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>approvalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approver</targetReference>
            </connector>
            <label>Approver null</label>
        </rules>
        <rules>
            <name>Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Compliance_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Compliance_Approval</targetReference>
            </connector>
            <label>Compliance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Approval_Type</name>
        <label>Copy 1 of Check Approval Type</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>Compliance</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Technical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Rejection_Note</targetReference>
            </connector>
            <label>Copy 1 of Technical</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dealApprovedText</name>
        <dataType>String</dataType>
        <expression>IF({!decision} = &quot;Approve&quot;,&quot;Deal approved by &quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; in the &quot; &amp; {!approvalType} &amp; &quot; team. - &quot;  &amp; TEXT({!$Flow.CurrentDate}),&quot;Deal rejected by &quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; in the &quot; &amp; {!approvalType} &amp; &quot; team. - &quot;  &amp; TEXT({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Technical Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technical Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Document_Link</name>
        <label>Copy 1 of Create Document Link</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <inputReference>DocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Rejection_Note</name>
        <label>Copy 1 of Create Rejection Note</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <assignRecordIdToReference>documentLink</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Create_Document_Links</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Technical_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Technical Notes</stringValue>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Update_Opp_for_Changes</targetReference>
        </connector>
        <inputReference>DocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejection_Note</name>
        <label>Create Rejection Note</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignRecordIdToReference>documentLink</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Document_Links</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>ApprovalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>dealApprovedText</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approval_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_for_Changes</name>
        <label>Update Opp for Changes</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Approval_Type</targetReference>
        </connector>
        <inputReference>Get_Opp</inputReference>
    </recordUpdates>
    <screens>
        <name>Approval_Notes_Screen</name>
        <label>Approval Notes Screen</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Approval_Notes</targetReference>
        </connector>
        <fields>
            <name>Approval_Notes</name>
            <fieldText>Approval Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approval_Notes_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Notes_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Technical_Notes</name>
                    <fieldText>Technical Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approval_Notes_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TechnicalFiles</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Technical Files to Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opp.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>approvalType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Technical</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Compliance_Approval_Screen</name>
        <label>Compliance Approval Screen</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Decision</targetReference>
        </connector>
        <fields>
            <name>Approve_Deal</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approve Deal?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Compliance_Fields</name>
        <label>Display Compliance Fields</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Compliance_Approval_Screen</targetReference>
        </connector>
        <fields>
            <name>Display_Compliance_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Compliance_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opp.AccountId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opp.Company_ERP__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Display_Compliance_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opp.Notifiy__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rejection_Notes_Screen</name>
        <label>Rejection Notes Screen</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Rejection_Notes</targetReference>
        </connector>
        <fields>
            <name>Rejection_Notes</name>
            <fieldText>Rejection Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Technical_Approval_Screen</name>
        <label>Technical Approval Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Decision</targetReference>
        </connector>
        <fields>
            <name>Technically_Approve_Deal</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technically Approve Deal?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>approvalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>documentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
