config/flow-metadata-active/flows/Transform_Customer_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Location_Id</name>
        <label>Assign Location Id</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Location</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Transform Customer Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transform Customer Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Address</name>
        <label>Create Customer Address</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_Location_Id</targetReference>
        </connector>
        <inputReference>Transform_Location</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Location</name>
        <label>Update Location</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transform_Location</targetReference>
        </connector>
        <object>Location</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Location</name>
        <label>Transform Location</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Customer_Address</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>SCMC__Customer_Address__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>CurrencyIsoCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.CurrencyIsoCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Location__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SCMC__Customer_Site__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Location_Account__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.OwnerId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SCMC__Mailing_City__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Site_Address__City__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SCMC__Mailing_Country__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Site_Address__CountryCode__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SCMC__Mailing_Zip_Postal_Code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Site_Address__PostalCode__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SCMC__Mailing_Street__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Site_Address__Street__s</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
