config/flow-metadata-active/flows/Update_Product_Codes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Update Product Codes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Codes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FF_Get_Input_Tax_Codes</name>
        <label>(FF) Get Input Tax Codes</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FF_Get_Output_Tax_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GB-I-STD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fferpcore__TaxCode__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FF_Get_Output_Tax_Codes</name>
        <label>(FF) Get Output Tax Codes</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Product_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GB-O-STD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fferpcore__TaxCode__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Tax_Codes</name>
        <label>Get Input Tax Codes</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Output_Tax_Codes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GB-I-STD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaTaxCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Output_Tax_Codes</name>
        <label>Get Output Tax Codes</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FF_Get_Input_Tax_Codes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GB-O-STD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c2g__codaTaxCode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Item_Product_Category</name>
        <label>Update Item Product Category</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>ION_Product_Category__c</field>
            <value>
                <elementReference>$Record.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.link_OPIItem_Id__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Codes</name>
        <label>Update Product Codes</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Product_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>FFX_GRNIAccrualGLA__c</field>
            <value>
                <elementReference>$Record.Product_Category__r.GRNI_Accrual_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FFX_InputTaxCodeERP__c</field>
            <value>
                <elementReference>FF_Get_Input_Tax_Codes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ION_Cost_Of_Sales__c</field>
            <value>
                <elementReference>$Record.Product_Category__r.Cost_Of_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ION_Inventory_GL_Code__c</field>
            <value>
                <elementReference>$Record.Product_Category__r.Inventory_GL_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAInputTaxCode__c</field>
            <value>
                <elementReference>Get_Input_Tax_Codes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODAPurchaseAnalysisAccount__c</field>
            <value>
                <elementReference>$Record.Product_Category__r.Purchase_Analysis_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODASalesRevenueAccount__c</field>
            <value>
                <elementReference>$Record.Product_Category__r.Sales_Revenue_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c2g__CODATaxCode__c</field>
            <value>
                <elementReference>Get_Output_Tax_Codes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fferpcore__TaxCode__c</field>
            <value>
                <elementReference>FF_Get_Output_Tax_Codes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Group</name>
        <label>Update Product Group</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Item_Product_Category</targetReference>
        </connector>
        <inputAssignments>
            <field>SCMFFA__COGS_Account__c</field>
            <value>
                <elementReference>$Record.Product_Category__r.Cost_Of_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMFFA__Inventory_Account__c</field>
            <value>
                <elementReference>$Record.Product_Category__r.Inventory_GL_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCMFFA__Purchase_Analysis_Account_for_Category__c</field>
            <value>
                <elementReference>$Record.Product_Category__r.Purchase_Analysis_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.link_OPIProdGrp_Id__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Input_Tax_Codes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Product_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
