config/flow-metadata-active/flows/Update_Commission_Opp_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Multiple</name>
        <label>Add to Multiple</label>
        <locationX>440</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>CommissionPaymentMultiples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Payments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commissions</name>
        <label>Assign Commissions</label>
        <locationX>440</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Loop_Payments.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Payments.Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Condition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Payments.ProductCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Product_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Multiple</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Date</name>
        <label>Check Date</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Commission_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X28_02</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.CloseDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2023-02-28</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Owner.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sangster</stringValue>
                </rightValue>
            </conditions>
            <label>&lt; 28/02</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Commission - Opp Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Commission - Opp Product</label>
    <loops>
        <name>Loop_Payments</name>
        <label>Loop Payments</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Commission_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Plan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Commissions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Commission_Records</name>
        <label>Get Commission Records</label>
        <locationX>352</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Commission_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Plans</name>
        <label>Get Payment Plans</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applies_from__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ends__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Funding_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Commission_Payment_Plans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Commissions</name>
        <label>Update Commissions</label>
        <locationX>352</locationX>
        <locationY>1163</locationY>
        <inputReference>CommissionPaymentMultiples</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Date</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Plan</name>
        <label>Assign Plan</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assign_Commissions</targetReference>
        </connector>
        <flowName>Commission_Assign_Plan</flowName>
        <inputAssignments>
            <name>category</name>
            <value>
                <elementReference>$Record.Product2.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>condition</name>
            <value>
                <elementReference>$Record.Condition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>division</name>
            <value>
                <elementReference>Loop_Payments.Sales_Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentPlans</name>
            <value>
                <elementReference>Get_Payment_Plans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>user</name>
            <value>
                <elementReference>Loop_Payments.Salesperson__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Loop_Payments.Commission_Payment_Plans__c</assignToReference>
            <name>paymentPlanUsed</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CommissionPaymentMultiples</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Payment__c</objectType>
    </variables>
    <variables>
        <name>CommissionPaymentSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commission_Payment__c</objectType>
    </variables>
</Flow>
