config/flow-metadata-active/flows/Update_Invoice_Lines_schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Invoices</name>
        <label>Count Invoices</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>COunt</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_SOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Loop_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_Than_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>COunt</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COunt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>More Than 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Invoice Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Invoice Lines - chedule</label>
    <loops>
        <name>Loop_Line</name>
        <label>Loop Line</label>
        <locationX>308</locationX>
        <locationY>636</locationY>
        <collectionReference>get_SOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Line</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_SOLI</name>
        <label>get SOLI</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Sales_Order_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Line</name>
        <label>Update Line</label>
        <locationX>396</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Loop_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_Line_Item__c</field>
            <value>
                <elementReference>Loop_Line.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Revised</stringValue>
            </value>
        </filters>
        <object>SCMC__Sales_Order_Line_Item__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-10-05</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>COunt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
