config/flow-metadata-active/flows/Update_POLI_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Warehouse</name>
        <label>Add Warehouse</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Sales_Order_Line_Item__r.SCMC__Sales_Order__r.SCMC__Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_DS_Name</name>
        <label>Update DS Fields</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Purchase_Order__r.SCMC__Drop_Ship_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Purchase_Order__r.SCMC__Drop_Ship_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Purchase_Order__r.SCMC__Drop_Ship_Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Purchase_Order__r.SCMC__Drop_Ship_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_Line1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Purchase_Order__r.SCMC__Drop_Ship_Line1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Drop_Ship_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Purchase_Order__r.SCMC__Drop_Ship_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_POLI_0_0</name>
        <label>Update the POLI</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.SCMC__Condition_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SCMC__Sales_Order_Line_Item__r.SCMC__Condition_Code__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_PO_Type</name>
        <label>Check PO Type</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_SO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCMC__Purchase_Order__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Warehouse</targetReference>
            </connector>
            <label>Internal PO</label>
        </rules>
        <rules>
            <name>Drop_Ship_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCMC__Purchase_Order__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drop Ship Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DS_Name</targetReference>
            </connector>
            <label>Drop Ship Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SO</name>
        <label>Check SO</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SO_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCMC__Sales_Order_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_POLI_0_0</targetReference>
            </connector>
            <label>SO Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update POLI on creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update POLI on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_PO_Type</targetReference>
        </connector>
        <object>SCMC__Purchase_Order_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
