config/flow-metadata-active/flows/Update_Asset_after_MACD_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Asset_to_Array</name>
        <label>Add Asset to Array</label>
        <locationX>1678</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetToUpdateSIngular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Re_activate_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_for_Deletion</name>
        <label>Add for Deletion</label>
        <locationX>534</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>macdLineItemDeletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Changes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Changes.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Asset_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Updates</name>
        <label>Add to Updates</label>
        <locationX>930</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>macdLineItemUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Changes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetToUpdateSIngular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_rows</name>
        <label>Assign selected rows</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>macdLinesOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetsDisplay.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForChanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Site_Asset</name>
        <label>Change Site/Asset</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_Changes.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_asset_changing_to9.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Changes.Site_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_site_is_the_asset_going_to.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Changes.Stoarage_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Changes.MACD_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Move - New Location</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Storage_Asset</name>
        <label>Change Storage/Asset</label>
        <locationX>1810</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_Changes.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_asset_changing_to9.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Changes.Site_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Changes.Stoarage_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_is_it_going_to_be_stored.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Changes.MACD_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Move - Store</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_Disposals</name>
        <label>Complete Disposals</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>disposalsCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Asset_to_Array</name>
        <label>Copy 1 of Add Asset to Array</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetToUpdateSIngular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>empty_singular_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Re_activate_Asset</name>
        <label>Copy 1 of Copy 1 of Re-activate Asset</label>
        <locationX>1238</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_asset_changing_to9.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Move</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Site_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Re_activate_Asset</name>
        <label>Copy 1 of Re-activate Asset</label>
        <locationX>1678</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_asset_changing_to9.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Move</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Storage_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Re_activate_Asset</name>
        <label>Copy 2 of Copy 1 of Re-activate Asset</label>
        <locationX>798</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_asset_is_now_being_disposed_of.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Disposal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Re_activate_Asset</name>
        <label>Copy 2 of Re-activate Asset</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Changes.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Add_Asset_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Add_Asset_to_Array</name>
        <label>Copy 3 of Add Asset to Array</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetToUpdateSIngular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Re_activate_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Re_activate_Asset</name>
        <label>Copy 3 of Re-activate Asset</label>
        <locationX>798</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Changes.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Add_Asset_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Add_Asset_to_Array</name>
        <label>Copy 4 of Add Asset to Array</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetToUpdateSIngular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Re_activate_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>empty_singular_asset</name>
        <label>empty singular asset</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_activate_Asset</name>
        <label>Re-activate Asset</label>
        <locationX>1678</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Changes.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdateSIngular.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset</name>
        <label>Set Asset</label>
        <locationX>930</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Loop_Changes.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_asset_is_now_being_disposed_of.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Change_Asset</name>
        <choiceText>Change Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Asset_Site</name>
        <choiceText>Change Asset/Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Asset/Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Asset_Storage</name>
        <choiceText>Change Asset/Storage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Asset/Storage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remaining_On_Site</name>
        <choiceText>Remaining On Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remaining On Site</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>1326</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Removal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_is_happening_to_this_asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remaining_On_Site</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_is_happening_to_this_asset_move</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remaining_On_Site</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_for_Deletion</targetReference>
            </connector>
            <label>Removal</label>
        </rules>
        <rules>
            <name>Change_Asset_Disposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_happening_to_this_asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Asset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_for_asset_change</targetReference>
            </connector>
            <label>Change Asset Disposal</label>
        </rules>
        <rules>
            <name>Change_Asset_Site_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_happening_to_this_asset_move</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Asset_Site</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_for_asset_change</targetReference>
            </connector>
            <label>Change Asset/Site</label>
        </rules>
        <rules>
            <name>Change_Asset_Storage_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_is_happening_to_this_asset_move</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Change_Asset_Storage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_asset_change</targetReference>
            </connector>
            <label>Change Asset/Storage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Collections</name>
        <label>Check Collections</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updates_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>macdLineItemUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Lines</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lines</targetReference>
            </connector>
            <label>Updates exist</label>
        </rules>
        <rules>
            <name>Removals_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>macdLineItemDeletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_Lines</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Lines</targetReference>
            </connector>
            <label>Removals Exist</label>
        </rules>
        <rules>
            <name>Assets_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Assets</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assets</targetReference>
            </connector>
            <label>Assets to Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_asset_change</name>
        <label>Check for asset change</label>
        <locationX>1810</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Change_Storage_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Changes.Asset__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>What_is_the_asset_changing_to9.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_activate_Asset</targetReference>
            </connector>
            <label>Asset Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForChanges</name>
        <label>checkForChanges</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Confirm_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changes_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>macdLinesOutput</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Changes</targetReference>
            </connector>
            <label>Changes Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_asset_change</name>
        <label>Copy 1 of Check for asset change</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Change_Site_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Asset_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Changes.Asset__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>What_is_the_asset_changing_to9.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Re_activate_Asset</targetReference>
            </connector>
            <label>Copy 1 of Asset Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_for_asset_change</name>
        <label>Copy 2 of Check for asset change</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Asset_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Changes.Asset__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Which_asset_is_now_being_disposed_of.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Re_activate_Asset</targetReference>
            </connector>
            <label>Copy 2 of Asset Changed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>assets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 2 AND 3) OR 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Changes.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Changes.Asset__r.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sites</name>
        <dataType>String</dataType>
        <displayField>ShippingPostalCode</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Changes.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Changes.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>warehouses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SCMC__Warehouse__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Update Asset after MACD Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Asset after MACD Creation</label>
    <loops>
        <name>Loop_Changes</name>
        <label>Loop Changes</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <collectionReference>assetsDisplay.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Action_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Collections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Lines</name>
        <label>Delete Lines</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Collections</targetReference>
        </connector>
        <inputReference>macdLineItemDeletion</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>Update_Assets</name>
        <label>Update Assets</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Collections</targetReference>
        </connector>
        <inputReference>assetsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lines</name>
        <label>Update Lines</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Collections</targetReference>
        </connector>
        <inputReference>macdLineItemUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Asset_Action_Screen</name>
        <label>Asset Action Screen</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <fields>
            <name>descriptionText</name>
            <fieldText>&lt;p&gt;{!Loop_Changes.Asset__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Asset_Action_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Action_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_happening_to_this_asset</name>
                    <choiceReferences>Remaining_On_Site</choiceReferences>
                    <choiceReferences>Change_Asset</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What is happening to this asset</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Asset_Action_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Which_asset_is_now_being_disposed_of</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which asset is now being disposed?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Asset__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Loop_Changes.Asset__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MACD_Line_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_is_happening_to_this_asset</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Change_Asset</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Disposal</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Change</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Asset_Action_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Asset_Action_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_happening_to_this_asset_move</name>
                    <choiceReferences>Remaining_On_Site</choiceReferences>
                    <choiceReferences>Change_Asset_Site</choiceReferences>
                    <choiceReferences>Change_Asset_Storage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What is happening to this asset?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Asset_Action_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_asset_changing_to9</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Asset__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MACD_Line_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What is the asset changing to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Loop_Changes.Asset__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>What_is_happening_to_this_asset_move</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Change_Asset_Site</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>What_is_happening_to_this_asset_move</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Change_Asset_Storage</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_site_is_the_asset_going_to</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>What site is the asset going to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Site_Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MACD_Line_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Loop_Changes.Site_Location__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_is_happening_to_this_asset_move</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Change_Asset_Site</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Where_is_it_going_to_be_stored</name>
                    <choiceReferences>warehouses</choiceReferences>
                    <defaultValue>
                        <elementReference>Loop_Changes.Stoarage_Warehouse__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Where is it going to be stored?</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Loop_Changes.Stoarage_Warehouse__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_is_happening_to_this_asset_move</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Change_Asset_Storage</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Move</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Assets</name>
        <label>Confirm Assets</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Disposals</targetReference>
        </connector>
        <fields>
            <name>confirmDisposalsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;By continuing you are confirming that the below disposals are correct.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Disposal</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Change</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>confirmMovesText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;By continuing you are confirming that the below moves are correct.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Move</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>assetConfirmation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MACD_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>macdLinesInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Asset__c&quot;,&quot;guid&quot;:&quot;column-c74c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Asset_Serial_Number__c&quot;,&quot;guid&quot;:&quot;column-d878&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Asset Serial Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Site__c&quot;,&quot;guid&quot;:&quot;column-ff58&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Site&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Site_Address__c&quot;,&quot;guid&quot;:&quot;column-9128&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Site Address&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Storage_Warehouse_Name__c&quot;,&quot;guid&quot;:&quot;column-fe23&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Storage Warehouse Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Asset_Screen</name>
        <label>Display Asset Screen</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_selected_rows</targetReference>
        </connector>
        <fields>
            <name>assetCheckTextDisposals</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select any assets which may have changed or are no longer being disposed of.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Disposal</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Change</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>assetCheckTextMoved</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select any assets which may have changed or are no longer being moved.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Move</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>assetsDisplay</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MACD_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>macdLinesInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f91c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;MACD Line Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Asset_Serial_Number__c&quot;,&quot;guid&quot;:&quot;column-1bf0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Asset Serial Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Location_Name__c&quot;,&quot;guid&quot;:&quot;column-b2dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Location Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;New_Location__c&quot;,&quot;guid&quot;:&quot;column-7859&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;New Location&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Storage_Warehouse_Name__c&quot;,&quot;guid&quot;:&quot;column-b12a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Storage Warehouse Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Display_Asset_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetToUpdateSIngular</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>disposalsCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>macdLineItemDeletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>macdLineItemUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>macdLinesInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>macdLinesOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MACD_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
