config/flow-metadata-active/flows/Update_Child_Assets_With_Serial_Number_From_Parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Serial_Asset_Updating_Value</name>
        <label>Serial Asset Updating Value</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>SerialAssetUpdatingValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentAssetStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SerialAssetUpdatingValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SerialNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Child_Assets</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Child Assets With Serial Number From Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Child Assets With Serial Number From Parent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Child_Assets</name>
        <label>Update Child Assets</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>SerialAssetUpdatingValue</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Serial_Asset_Updating_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentAssetStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Parent Serial Number:</stringValue>
        </value>
    </variables>
    <variables>
        <name>SerialAssetUpdatingValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
