config/flow-metadata-active/flows/Update_Sales_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_SOLI_to_Array</name>
        <label>Add New SOLI to Array</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>soliToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newSOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_Product_to_Array</name>
        <label>Add Opp Product to Array</label>
        <locationX>226</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>oppLineCreationMulti</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineToCreateSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SOLIs_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SOLI_to_update</name>
        <label>Add SOLI to update</label>
        <locationX>314</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>updatedSOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filtered_SOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_SOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Condition</name>
        <label>Assign Condition</label>
        <locationX>1634</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Loop_SOLI.SCMC__Condition_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_condition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Creation</name>
        <label>Assign Opp Creation</label>
        <locationX>226</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.Product_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SOLIs_Created.SCMC__Condition_Code__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SOLIs_Created.SCMC__Item_Master__r.link_OPIItem_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SOLIs_Created.SCMC__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.link_Opp2SO_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SOLIs_Created.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.Sales_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SOLIs_Created.SCMC__Sales_Order__r.link_Opp2SO_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Order.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_Product_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PB_entry</name>
        <label>Assign PB entry</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>OppLineToCreateSingle.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PB_Filter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PB_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>1634</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Loop_SOLI.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SOLI_Details</name>
        <label>Assign SOLI Details</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>newSOLI.SCMC__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSOLI.SCMC__Customer_Commitment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commitment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSOLI.SCMC__Item_Master__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSOLI.SCMC__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSOLI.SCMC__Item_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSOLI.SCMC__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSOLI.ION_Sales_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesBodyAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filter.SCMC__Item_and_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesBodyAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesBodyAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSOLI.SCMC__Condition_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Condition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_SOLI_to_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SOLI_Update</name>
        <label>Assign SOLI Update</label>
        <locationX>1546</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>soliToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Opp_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SOLI_Updates</name>
        <label>Assign SOLI Updates</label>
        <locationX>1546</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Loop_SOLI.SCMC__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SOLI.SCMC__Customer_Commitment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commitment_Date_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SOLI.SCMC__Item_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_Cost_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SOLI.SCMC__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesBodyUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SOLI.SCMC__Item_Master__r.SCMC__Item_and_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesBodyUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesBodyUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SOLI.ION_Sales_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Item_Cost_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Opp</name>
        <label>Assign Update Opp</label>
        <locationX>1634</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>Loop_Filter_Opp.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Filter_Opp.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Filter_Opp.Sales_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Item_Cost_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Filter_Opp.Product_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Condition_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_update_To_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_update_To_Array</name>
        <label>Assign update To Array</label>
        <locationX>1634</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>oppLineCreationMulti</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filter_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filter_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Document_Link</name>
        <label>Copy 1 of Create Document Link</label>
        <locationX>50</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>documentLinks.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_SO_Doc_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>50</locationX>
        <locationY>4418</locationY>
        <assignmentItems>
            <assignToReference>documentLinks.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentLinks.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SO_Doc_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Collections</name>
        <label>Reset Collections</label>
        <locationX>710</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>oppLineCreationMulti</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>oppLineCreationMulti</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedSOLIs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>updatedSOLIs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soliToUpdate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>soliToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedItemsToUpdate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>selectedItemsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Another_Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Add_Count</name>
        <label>Update Add Count</label>
        <locationX>50</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>AddCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SOLI_for_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Count</name>
        <label>Update Count</label>
        <locationX>1370</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>UpdateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SOLI_with_Opp</name>
        <label>Update SOLI with Opp</label>
        <locationX>314</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Loop_Filtered_SOLI.link_Opp2SO_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Create_Opp_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SOLI_to_update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Product</name>
        <choiceText>Add Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Drop_Ship</name>
        <choiceText>Drop Ship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Drop Ship</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finish_Update</name>
        <choiceText>Finish Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Item</name>
        <choiceText>Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Item</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refurbished</name>
        <choiceText>Refurbished</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refurbished</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retained</name>
        <choiceText>Retained</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retained</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Product</name>
        <choiceText>Update Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Product</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Conditions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Conditions</label>
        <locationX>1546</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Filter_Conditions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Conditions</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Conditions.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Condition_Update</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Record_Type</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_SOLI</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for SOLI</label>
        <locationX>226</locationX>
        <locationY>2846</locationY>
        <assignNextValueToReference>currentItem_Filter_for_SOLI</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_SOLIs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_SOLI.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Create_Opp_Lines.link_Opp2SO_Id__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_SOLI</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Items</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Items</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Items.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Selected_Products</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Opp_Lines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Opp Lines</label>
        <locationX>1546</locationX>
        <locationY>2246</locationY>
        <assignNextValueToReference>currentItem_Filter_Opp_Lines_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opp_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Opp_Lines_0.link_Opp2SO_Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_SOLI.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filter_Opp</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Pricebook_Entries</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Pricebook Entries</label>
        <locationX>226</locationX>
        <locationY>1814</locationY>
        <assignNextValueToReference>currentItem_Filter_Pricebook_Entries</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pricebook_Entries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Pricebook_Entries.Product2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_SOLIs_Created.SCMC__Item_Master__r.link_OPIItem_Id__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_PB_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Record_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Record Type</label>
        <locationX>1546</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Record_Type</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Record_Type.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Record_Type_Update</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Conditions</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_SO_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Product_Chosen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Product</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Products_Screen</targetReference>
            </connector>
            <label>Add Product Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Action</name>
        <label>Copy 1 of Check Action</label>
        <locationX>710</locationX>
        <locationY>4202</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Products_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finish_Update_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Carry_out_another_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Update</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Note</targetReference>
            </connector>
            <label>Finish Update Chosen</label>
        </rules>
        <rules>
            <name>Update_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Carry_out_another_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Product</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_SO_Lines</targetReference>
            </connector>
            <label>Update Products</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>conditionChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refurbished</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retained</stringValue>
            </value>
        </filters>
        <object>SCMC__Condition_Code__c</object>
        <outputAssignments>
            <assignToReference>newSOLI.SCMC__Condition_Code__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCMC__Sales_Order_Line_Item__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Item</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drop Ship</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>newSOLI.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NotesBodyFormula</name>
        <dataType>String</dataType>
        <expression>IF({!AddCount} &gt; 0, &quot;The following products have been added: &quot; &amp; {!NotesBodyAdd},&quot;&quot;)
&amp;
&quot;The following products have been &quot; &amp; IF({!UpdateCount} &gt; 0, &quot;Updated: &quot; &amp; {!NotesBodyUpdate},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NotesTitleFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Products on Order &quot; &amp; {!Get_Sales_Order.Name} &amp; &quot;/&quot; &amp; {!Get_Sales_Order.Opportunity_Name__c} &amp; &quot; have been &quot; &amp; IF(AND({!AddCount} &gt; 0, {!UpdateCount} &gt; 0), &quot;Added/Updated&quot;, IF({!AddCount} &gt; 0, &quot;Added&quot;, IF({!UpdateCount} &gt; 0, &quot;Updated&quot;, &quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>Update Sales Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sales Order</label>
    <loops>
        <name>Loop_condition</name>
        <label>Loop condition</label>
        <locationX>1546</locationX>
        <locationY>1838</locationY>
        <collectionReference>Filter_Conditions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Condition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_SOLI_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Create_Opp_Lines</name>
        <label>Loop Create Opp Lines</label>
        <locationX>50</locationX>
        <locationY>2738</locationY>
        <collectionReference>oppLineCreationMulti</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_for_SOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Add_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filter</name>
        <label>Loop Filter</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <collectionReference>Filter_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Add_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Selected_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filter_Opp</name>
        <label>Loop Filter Opp</label>
        <locationX>1546</locationX>
        <locationY>2354</locationY>
        <collectionReference>Filter_Opp_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Update_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_SOLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_SOLI</name>
        <label>Loop Filtered SOLI</label>
        <locationX>226</locationX>
        <locationY>2954</locationY>
        <collectionReference>Filter_for_SOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_SOLI_with_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Create_Opp_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_PB_Filter</name>
        <label>Loop PB Filter</label>
        <locationX>226</locationX>
        <locationY>1922</locationY>
        <collectionReference>Filter_Pricebook_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PB_entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Opp_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Record_Type</name>
        <label>Loop Record Type</label>
        <locationX>1546</locationX>
        <locationY>1538</locationY>
        <collectionReference>Filter_Record_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_condition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Products</name>
        <label>Loop Selected Products</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>selectedItemsNew</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SOLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SOLI</name>
        <label>Loop SOLI</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <collectionReference>selectedItemsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Loop_Add_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SOLIs_Created</name>
        <label>Loop SOLIs Created</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <collectionReference>soliToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Pricebook_Entries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_opp_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_SO_Doc_Link</name>
        <label>Copy 1 of Create SO Doc Link</label>
        <locationX>50</locationX>
        <locationY>4742</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Create_SO_Doc_Link_Fault</targetReference>
        </faultConnector>
        <inputReference>documentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>50</locationX>
        <locationY>4310</locationY>
        <assignRecordIdToReference>documentLinks.ContentDocumentId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Note_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>NotesBodyFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NotesTitleFormula</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_opp_Lines</name>
        <label>Create opp Lines</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Get_SOLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_opp_Lines_Fault</targetReference>
        </faultConnector>
        <inputReference>oppLineCreationMulti</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SO_Doc_Link</name>
        <label>Create SO Doc Link</label>
        <locationX>50</locationX>
        <locationY>4526</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_SO_Doc_Link_Fault</targetReference>
        </faultConnector>
        <inputReference>documentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SOLIs</name>
        <label>Create SOLIs</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Get_Pricebook_Entries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_SOLIs_Fault</targetReference>
        </faultConnector>
        <inputReference>soliToUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Items</name>
        <label>Get All Items</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Selected_Products</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conditions</name>
        <label>Get Conditions</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Lines</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Refurbished</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retained</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Condition_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Lines</name>
        <label>Get Opp Lines</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.link_Opp2SO_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entries</name>
        <label>Get Pricebook Entries</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SOLIs_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Order.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Conditions</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCMC__Sales_Order_Line_Item__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Item</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drop Ship</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order</name>
        <label>Get Sales Order</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCMC__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Lines</name>
        <label>Get SO Lines</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCMC__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Sales_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SOLIs</name>
        <label>Get SOLIs</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Create_Opp_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCMC__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SCMC__Sales_Order_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>1370</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Reset_Collections</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_OP_Fault</targetReference>
        </faultConnector>
        <inputReference>oppLineCreationMulti</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SOLI</name>
        <label>Update SOLI</label>
        <locationX>1370</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_SOLI_Fault</targetReference>
        </faultConnector>
        <inputReference>soliToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SOLI_for_Opp</name>
        <label>Update SOLI for Opp</label>
        <locationX>50</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>Reset_Collections</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_SOLI_for_Opp_Fault</targetReference>
        </faultConnector>
        <inputReference>updatedSOLIs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Products_Screen</name>
        <label>Add Products Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Items</targetReference>
        </connector>
        <fields>
            <name>Item_Master</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SCMC__Item_Master__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Item Master</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SCMC__Sales_Order_Line_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedItemsNew</assignToReference>
                <name>recordIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Another_Action_Screen</name>
        <label>Another Action Screen</label>
        <locationX>710</locationX>
        <locationY>4094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Check_Action</targetReference>
        </connector>
        <fields>
            <name>Carry_out_another_Action</name>
            <choiceReferences>Add_Product</choiceReferences>
            <choiceReferences>Update_Product</choiceReferences>
            <choiceReferences>Finish_Update</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Carry out another Action?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Create_SO_Doc_Link_Fault</name>
        <label>Copy 1 of Create SO Doc Link Fault</label>
        <locationX>314</locationX>
        <locationY>4850</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Create_SO_Doc_Link_Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred, please see the below error. For help with this please email software.support@xeretec.co.uk&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Loop_Add_Products</name>
        <label>Copy 1 of Loop Add Products</label>
        <locationX>1546</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SOLI_Updates</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_productDisplayName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!Loop_SOLI.SCMC__Item_Description__c} - &lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;{!Loop_SOLI.Product_Code__c}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Loop_Add_Products_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Loop_Add_Products_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Type_Update</name>
                    <choiceReferences>Drop_Ship</choiceReferences>
                    <choiceReferences>Item</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_SOLI.RecordType.Name</elementReference>
                    </defaultValue>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Supplier_Site_Update</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supplier</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SCMC__Sales_Order_Line_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SCMC__Supplier_Site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Loop_SOLI.SCMC__Supplier_Site__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Loop_SOLI.SCMC__Supplier_Site__c</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Quantity_Update</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Loop_SOLI.SCMC__Quantity__c</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Commitment_Date_Update</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Loop_SOLI.SCMC__Customer_Commitment_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Commitment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Loop_SOLI.SCMC__Purchase_Order_Line_Item__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Loop_Add_Products_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Condition_Update</name>
                    <choiceReferences>New</choiceReferences>
                    <choiceReferences>Refurbished</choiceReferences>
                    <choiceReferences>Retained</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_SOLI.SCMC__Condition_Code__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Condition</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Price_Update</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_SOLI.SCMC__Price__c</elementReference>
                    </defaultValue>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the cost to the customer.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Item_Cost_Update</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_SOLI.SCMC__Item_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Item Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is the cost which will displayed on the Sales Order&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Opportunity_Item_Cost_Update</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_SOLI.link_Opp2SO_Id__r.Sales_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Sales Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the cost which will displayed on the Opportunity&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Note_Fault</name>
        <label>Create Note Fault</label>
        <locationX>842</locationX>
        <locationY>4418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Create_Note_Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred, please see the below error. For help with this please email software.support@xeretec.co.uk&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_opp_Lines_Fault</name>
        <label>Create opp Lines Fault</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Create_opp_Lines_Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred, please see the below error. For help with this please email software.support@xeretec.co.uk&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_SO_Doc_Link_Fault</name>
        <label>Create SO Doc Link Fault</label>
        <locationX>578</locationX>
        <locationY>4634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Create_SO_Doc_Link_Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred, please see the below error. For help with this please email software.support@xeretec.co.uk&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_SOLIs_Fault</name>
        <label>Create SOLIs Fault</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Create_SOLIs_Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred, please see the below error. For help with this please email software.support@xeretec.co.uk&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Items</name>
        <label>Display Items</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_SOLI</targetReference>
        </connector>
        <fields>
            <name>SOLIs_To_Update</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SCMC__Sales_Order_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Items to Update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_SO_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-bfa4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SCMC__Item_Description__c&quot;,&quot;guid&quot;:&quot;column-5a94&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Item Description&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SCMC__Quantity__c&quot;,&quot;guid&quot;:&quot;column-060b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;SCMC__Status__c&quot;,&quot;guid&quot;:&quot;column-c5b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedItemsToUpdate</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Item_Action</name>
        <label>Item Action</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <fields>
            <name>Select_an_Action</name>
            <choiceReferences>Add_Product</choiceReferences>
            <choiceReferences>Update_Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loop_Add_Products</name>
        <label>Loop Add Products</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SOLI_Details</targetReference>
        </connector>
        <fields>
            <name>productDisplayName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!Loop_Filter.SCMC__Item_Description__c} - {!Loop_Filter.ION_Product_code__c}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loop_Add_Products_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loop_Add_Products_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Type</name>
                    <choiceReferences>recordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SupplierSite</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supplier</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SCMC__Sales_Order_Line_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SCMC__Supplier_Site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>newSOLI.SCMC__Supplier_Site__c</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Commitment_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Commitment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loop_Add_Products_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Condition</name>
                    <choiceReferences>conditionChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Condition</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the cost to the customer&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Item_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Item Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is the cost which will displayed on the Sales Order&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sales_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Opportunity Sales Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is the cost which will displayed on the Opportunity&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_OP_Fault</name>
        <label>Update OP Fault</label>
        <locationX>1634</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Update_OP_Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred, please see the below error. For help with this please email software.support@xeretec.co.uk&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_SOLI_Fault</name>
        <label>Update SOLI Fault</label>
        <locationX>1898</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Update_SOLI_Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred, please see the below error. For help with this please email software.support@xeretec.co.uk&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_SOLI_for_Opp_Fault</name>
        <label>Update SOLI for Opp Fault</label>
        <locationX>314</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Update_SOLI_for_Opp_Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred, please see the below error. For help with this please email software.support@xeretec.co.uk&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>conditionChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Conditions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Condition_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_SOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Opp_Lines_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Pricebook_Entries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>documentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>newSOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>NotesBodyAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotesBodyUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppLineCreationMulti</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineToCreateSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedItemsNew</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>soliToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Sales_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>UpdateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updatedSOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SCMC__Sales_Order_Line_Item__c</objectType>
    </variables>
</Flow>
