config/flow-metadata-active/flows/Update_Sales_Order_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Update Sales Order Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sales Order Line</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Item Master details</description>
        <name>Get_Item</name>
        <label>Get Item</label>
        <locationX>491</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Sales_Order_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ItemId</elementReference>
            </value>
        </filters>
        <object>SCMC__Item__c</object>
        <outputAssignments>
            <assignToReference>OutboundSerialNoReq</assignToReference>
            <field>ION_Outbound_Serial_No__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets Sales Order Line details</description>
        <name>GetSalesOrderLine</name>
        <label>GetSalesOrderLine</label>
        <locationX>405</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOLId</elementReference>
            </value>
        </filters>
        <object>SCMC__Sales_Order_Line_Item__c</object>
        <outputAssignments>
            <assignToReference>ItemId</assignToReference>
            <field>SCMC__Item_Master__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates Sales Order line with data from Item Master</description>
        <name>Update_Sales_Order_Line</name>
        <label>Update Sales Order Line</label>
        <locationX>579</locationX>
        <locationY>67</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOLId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ION_Serial_Number_SIN__c</field>
            <value>
                <elementReference>OutboundSerialNoReq</elementReference>
            </value>
        </inputAssignments>
        <object>SCMC__Sales_Order_Line_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetSalesOrderLine</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Item Master Id</description>
        <name>ItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutboundSerialNoReq</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sales Order Line Id</description>
        <name>SOLId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
