config/flow-metadata-active/flows/Update_MACD_LI_from_MACD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Rollout_Remaining</name>
        <label>Add to Rollout Remaining</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>remainingToRollOut</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Products.Remaining_to_Rollout__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update MACD LI from MACD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update MACD Rollout Number</label>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Rollout_Remaining</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MACD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT(3) AND 4 and NOT(5)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>ANY -</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>REFIN - PRN</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>SET -</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MACD</name>
        <label>Update MACD</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Update_Sales_order</targetReference>
        </connector>
        <inputAssignments>
            <field>Remaining_Assets_to_Rollout__c</field>
            <value>
                <elementReference>remainingToRollOut</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_order</name>
        <label>Update Sales order</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MACD_Remaining_to_Rollout__c</field>
        </inputAssignments>
        <object>SCMC__Sales_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <object>MACD__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>remainingToRollOut</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
