config/flow-metadata-active/flows/Update_Last_Active_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Date_To_1970</name>
        <label>Set Date To 1970</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>1970-01-01</dateValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Active</name>
        <label>Set Last Active</label>
        <locationX>182</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_New_Date</name>
        <label>Set New Date</label>
        <locationX>270</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opps.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Date_0</name>
        <label>Set New Date</label>
        <locationX>270</locationX>
        <locationY>1644</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SINs.c2g__InvoiceDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SINs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Dates</name>
        <label>Check Dates</label>
        <locationX>402</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Loop_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Newer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_Opps.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Date</targetReference>
            </connector>
            <label>Newer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Dates_0</name>
        <label>Check Dates</label>
        <locationX>402</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>Loop_SINs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Newer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_SINs.c2g__InvoiceDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Date_0</targetReference>
            </connector>
            <label>Newer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Active_Date</name>
        <label>Check Last Active Date</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_To_1970</targetReference>
            </connector>
            <label>Check Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Last Active Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Last Active Date</label>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <collectionReference>Get_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SINs_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SINs</name>
        <label>Loop SINs</label>
        <locationX>182</locationX>
        <locationY>1404</locationY>
        <collectionReference>Get_SINs_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Dates_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Last_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>182</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SINs_0</name>
        <label>Get SINs</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SINs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>c2g__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>c2g__InvoiceDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>c2g__codaInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Last_Active_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124K000000gpI5QAI</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-06</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Last_Active__c</elementReference>
        </value>
    </variables>
</Flow>
