config/flow-metadata-active/flows/Vantage_Invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoice_Lines</name>
        <label>Invoice Lines</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <actionName>VantageApiInvoiceLinesQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Initial_Invoice_Lines</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceCurrency</name>
            <value>
                <elementReference>Loop_Invoices.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>Vantage_Authorisation.token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vantageInvoiceId</name>
            <value>
                <elementReference>Loop_Invoices.Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VantageApiInvoiceLinesQuery</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Vantage_Authorisation</name>
        <label>Vantage Authorisation</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>CalloutHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Vantage_Invoices</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>namedCredentials</name>
            <value>
                <elementReference>namedCredentials</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CalloutHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Vantage_Invoices</name>
        <label>Vantage Invoices</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>VantageApiInvoiceQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Invoices</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Get_Account_Details.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>query</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>Vantage_Authorisation.token</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VantageApiInvoiceQuery</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Initial_Invoice_Lines</name>
        <label>Add Initial Invoice Lines</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>vantageInvoiceLinesInitial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invoice_Lines.accountInvoiceLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vantage_invoice_Lines</name>
        <label>Add Vantage invoice Lines</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>VanageInvoiceLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoices_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_ID</name>
        <label>Assign Invoice ID</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Loop_Invoices_Update.Vantage_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Vantage_invoice_Lines</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Invoices</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Invoices</label>
        <locationX>358</locationX>
        <locationY>1490</locationY>
        <assignNextValueToReference>currentItem_Filter_Invoices</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Vantage_Invoices.accountInvoices</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Invoices.Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Invoices_Update.Invoice_Id__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Invoice</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Invoices</name>
        <label>Check Invoices</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoices_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vantage_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Vantage_invoices</targetReference>
            </connector>
            <label>Invoices Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>namedCredentials</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Account_Details.Trading_Entity__r.Name}, 
&quot;Landscape Printing Systems Limited&quot;, &quot;Vantage_Landscape_Login/&quot;, 
&quot;Xeretec Ireland Limited&quot;, &quot;Vantage_Ireland_Login/&quot;,
&quot;Xeretec Office Systems Limited&quot;, &quot;Vantage_Office_Systems_Login/&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>query</name>
        <dataType>String</dataType>
        <expression>&quot;/invoice?$filter=ExternalAccountNumber%20eq%20&apos;&quot; &amp; {!Get_Account_Details.Account_UID__c} &amp; &quot;&apos;%20and%20InvoiceDate%20gt%20&quot; &amp; (TEXT(TODAY() - 365)) &amp; &quot;%20and%20InvoiceDate%20lt%20&quot;&amp; TEXT(TODAY()) &amp; &quot;&amp;$select=Id,Reference,InvoiceDate,DueDate,BaseNetValue,BaseVatValue,BaseTotalValue,CurrencyCodeFrom,IsCredited,Type,SubType&quot;</expression>
    </formulas>
    <interviewLabel>Vantage Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vantage Invoices</label>
    <loops>
        <name>Loop_Filtered_Invoice</name>
        <label>Loop Filtered Invoice</label>
        <locationX>358</locationX>
        <locationY>1598</locationY>
        <collectionReference>Filter_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Invoice_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Invoices_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Invoices</name>
        <label>Loop Invoices</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Vantage_Invoices.accountInvoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Invoice_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Vantage_Invoices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Invoices_Update</name>
        <label>Loop Invoices Update</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <collectionReference>vantageInvoiceLinesInitial</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Invoices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_invoice_lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_invoice_lines</name>
        <label>Create invoice lines</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <inputReference>VanageInvoiceLines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoices</name>
        <label>Create Invoices</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Loop_Invoices_Update</targetReference>
        </connector>
        <inputReference>Vantage_Invoices.accountInvoices</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Vantage_invoices</name>
        <label>Delete Vantage invoices</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Create_Invoices</targetReference>
        </connector>
        <inputReference>Get_Vantage_Invoices</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vantage_Authorisation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vantage_Invoices</name>
        <label>Get Vantage Invoices</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vantage_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Invoices</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vantage_Invoice__c</objectType>
    </variables>
    <variables>
        <name>VanageInvoiceLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vantage_Invoice_Line__c</objectType>
    </variables>
    <variables>
        <name>vantageInvoiceLinesInitial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vantage_Invoice_Line__c</objectType>
    </variables>
</Flow>
